## Simulate user activity based on personas:

In [11]:
import pandas as pd
import random
from datetime import datetime
import json
import itertools
import numpy as np

In [27]:
df = pd.read_pickle('./data/full_data.pkl')
activities = {"Like": 0.4, "Dislike": 0.2, "Play": 0.4}
df.groupby('category').count() #we don't have comedies in our dataset?

,id,title,series,episode_name,description,description2,tags,image,directors_actors,tags2,publication_date,rating,duration_sec,season,episode,episode_title
category,,,,,,,,,,,,,,,,
Arts,911,911,841,911,911,911,911,911,911,911,911,751,911,595,911,911
Documentary,1122,1122,1022,1122,1122,1122,1122,1122,1122,1122,1122,950,1122,823,1122,1122
Drama,1174,1174,1039,1174,1174,1174,1174,1174,1174,1174,1174,1171,1174,1011,1174,1174
Education,2528,2528,2501,2528,2528,2528,2528,2528,2528,2528,2528,2374,2528,1463,2528,2528
Family,2055,2055,2009,2055,2055,2055,2055,2055,2055,2055,2055,1984,2055,1459,2055,2055
Kids,4298,4298,4267,4298,4298,4298,4298,4298,4298,4298,4298,4272,4298,108,4298,4298
Movies,143,143,0,143,143,143,143,143,143,143,143,143,143,0,143,143
News,1167,1167,1135,1167,1167,1167,1167,1167,1167,1167,1167,50,1167,401,1167,1167
Panel Discussion,475,475,465,475,475,475,475,475,475,475,475,251,475,302,475,475

In [24]:
# create simulated activity for every persona 
# the amount of simulated activities is currently 1000
# input is an array of user ids and a list of content categories for the corresponding persona
# the output is a list of activities for the users in this persona

def persona_activities(user_ids, persona_categories):
  categories = list(persona_categories)
  df_persona = df[df['category'].isin(categories)]
  content_ids = df_persona['id'].unique()
  my_list = []
  for i in range(600):
    # Assign random values for user_id and activity
    user_id = random.choices(list(user_ids))
    #activity = random.choice(activities)
    activity = random.choices(list(activities.keys()), list(activities.values()))[0]
    content_id = random.choices(list(content_ids))

    # Create a dictionary with fixed values for content_id and datetime
    my_dict = {
        "content_id": content_id,
        "activity": activity,
        "user_id": user_id,
        "datetime": datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
    }
    # Add the dictionary to the list
    my_list.append(my_dict)   
  return my_list

In [28]:
test_3040 = np.arange(30, 40, 1)
category = ['Family','Kids','Documentary']
persona_activity = persona_activities(test_3040, category)

In [29]:
test_4151 = np.arange(41, 51, 1)
category = ['News','Panel Discussion']
news_persona_act = persona_activities(test_4151, category)

In [31]:
test_5263 = np.arange(52, 63, 1)
category = ['Family','Panel Discussion']
family_news_persona = persona_activities(test_5263, category)

In [32]:
#add news_persona_act and family_news_persona to persona_activity
persona_activity.extend(news_persona_act)
persona_activity.extend(family_news_persona)

In [34]:
len(persona_activity)

1800

In [ ]:
#add persona_activity to the file movie_activity.json ? make 1 file with all activities?
with open('./data/activities.json', 'r') as f:
  data = json.load(f)
  data.extend(persona_activity)