In [1]:
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
import json
import pandas as pd
import numpy as np

In [2]:
show_activities = pd.read_json('show_activities.json')

## Shows

In [3]:
show_activities

      content_id activity  user_id                   datetime
0          10298     Play        4 2023-03-30 21:53:21.191623
1          10145     Play        0 2023-03-30 21:53:21.191623
2          10343  Dislike        2 2023-03-30 21:53:21.191623
3          10484  Dislike        0 2023-03-30 21:53:21.191623
4          10195     Like        0 2023-03-30 21:53:21.191623
...          ...      ...      ...                        ...
4995       10007  Dislike        1 2023-03-30 21:53:21.279623
4996       10328  Dislike        3 2023-03-30 21:53:21.279623
4997       10044  Dislike        4 2023-03-30 21:53:21.279623
4998       10149  Dislike        4 2023-03-30 21:53:21.279623
4999       10210     Like        3 2023-03-30 21:53:21.279623

[5000 rows x 4 columns]

In [4]:
# Variables for adjusting formula

clicks = 0.3
like = 10
dislike = -10

# current formula is clicks * 0.3 +/-10 (+10 for like and -10 for dislike)

In [6]:
# getting likes/dislikes
likes_dislikes = show_activities.loc[np.where((show_activities['activity'] == 'Like') ^ (show_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10594,10595,10596,10597,10598,10599,10600,10601,10602,10603
user_id,,,,,,,,,,,,,,,,,,,,,
0,-10.0,-10,10,0.0,0.0,0.0,0.0,-10,0.0,10.0,...,0.0,10.0,10.0,-10.0,-10.0,0.0,-10.0,-10.0,10.0,-10.0
1,10.0,-10,-10,0.0,-10.0,-10.0,0.0,-10,0.0,10.0,...,0.0,-10.0,10.0,10.0,0.0,10.0,10.0,0.0,0.0,10.0
2,0.0,-10,10,10.0,-10.0,10.0,10.0,-10,-10.0,-10.0,...,10.0,0.0,10.0,-10.0,0.0,-10.0,-10.0,-10.0,-10.0,10.0
3,10.0,10,-10,10.0,10.0,0.0,10.0,10,0.0,0.0,...,-10.0,10.0,-10.0,10.0,-10.0,-10.0,0.0,0.0,-10.0,-10.0
4,-10.0,10,10,10.0,-10.0,0.0,10.0,-10,-10.0,0.0,...,10.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [8]:
max_length = list(unstacked.columns)[-1] + 1

max_length

10604

In [9]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[  0.,   0.,   0., ..., -10.,  10., -10.],
       [  0.,   0.,   0., ...,   0.,   0.,  10.],
       [  0.,   0.,   0., ..., -10., -10.,  10.],
       [  0.,   0.,   0., ...,   0., -10., -10.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [10]:
# creating sparse matrix for plays

plays = show_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

array([[0. , 0. , 0. , ..., 0. , 0.3, 0.3],
       [0. , 0. , 0. , ..., 0. , 0.3, 0.3],
       [0. , 0. , 0. , ..., 0.3, 0.6, 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0.3, 0. , 0.3]])

In [11]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,10594,10595,10596,10597,10598,10599,10600,10601,10602,10603
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,10.0,10.3,-9.7,-9.7,0.6,-9.4,-10.0,10.3,-9.7
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,-10.0,10.0,10.3,0.0,10.0,10.0,0.0,0.3,10.3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.3,0.3,10.0,-9.7,0.3,-10.0,-10.0,-9.7,-9.4,10.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-10.0,10.3,-10.0,10.0,-9.7,-9.7,0.3,0.0,-10.0,-10.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.3,0.3,0.3,0.6,0.0,10.3,0.3,0.3,0.0,0.3

In [12]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10594,10595,10596,10597,10598,10599,10600,10601,10602,10603
0,-9.7,-10.0,10.6,0.6,0.0,0.0,0.0,-9.1,0.6,10.0,...,0.3,10.0,10.3,-9.7,-9.7,0.6,-9.4,-10.0,10.3,-9.7
1,10.3,-10.0,-9.7,0.0,-10.0,-10.0,0.3,-10.0,0.0,10.0,...,0.3,-10.0,10.0,10.3,0.0,10.0,10.0,0.0,0.3,10.3
2,0.0,-9.7,10.0,10.6,-10.0,10.0,10.3,-9.7,-10.0,-10.0,...,10.3,0.3,10.0,-9.7,0.3,-10.0,-10.0,-9.7,-9.4,10.0
3,10.3,10.0,-9.4,10.6,10.0,0.0,10.0,10.3,0.0,0.6,...,-10.0,10.3,-10.0,10.0,-9.7,-9.7,0.3,0.0,-10.0,-10.0
4,-9.7,10.3,10.6,10.6,-9.7,0.0,10.3,-10.0,-10.0,0.3,...,10.3,0.3,0.3,0.6,0.0,10.3,0.3,0.3,0.0,0.3

In [13]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [15]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [16]:
# Function to predict a user's rating for an item
def predict_rating(user_item_matrix, user_id, item_id):
    # Find the most similar users to the given user
    similar_users = np.argsort(user_similarities[user_id])[::-1][1:]
    
    # Compute weighted average of their ratings for the item 
    weighted_sum = 0
    weight_sum = 0   
    for sim_user in similar_users:
        if user_item_matrix[sim_user][item_id] != 0:
            similarity = user_similarities[user_id][sim_user]
            rating = user_item_matrix[sim_user][item_id]
            weighted_sum += similarity * rating            
            weight_sum += similarity   
    if weight_sum == 0:
        return 0
    else:
        return weighted_sum / weight_sum
    # Example usage:
    # Predict user 0's rating for item 2
    #predicted_rating = predict_rating(0, 2)
    #print(predicted_rating)

In [17]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([    0,     1,     2, ..., 10585, 10598, 10602], dtype=int64)

In [18]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  6.18710812,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ..., -7.4175892 ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        -4.47652359,  0.        ]])

In [19]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,10594,10595,10596,10597,10598,10599,10600,10601,10602,10603
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-10.809314,0.0,0.0,6.187108,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,-7.417589,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-83.089032,0.0,0.0,0.000000,-4.476524,0.0

In [20]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4], dtype=int64),
 array([10004, 10005, 10006, 10014, 10033, 10035, 10041, 10044, 10046,
        10047, 10048, 10051, 10052, 10057, 10062, 10072, 10078, 10085,
        10090, 10091, 10092, 10097, 10098, 10108, 10115, 10121, 10125,
        10134, 10140, 10154, 10155, 10160, 10164, 10180, 10181, 10186,
        10193, 10200, 10202, 10205, 10208, 10214, 10215, 10217, 10228,
        10232, 10235, 10237, 10260, 10265, 10266, 10279, 10281, 10283,
        10287, 10292, 10293, 10299, 10300, 10301, 10306, 10307, 10319,
        10330, 10347, 10348, 10355, 10360, 10362, 10369, 10377, 10387,
        10388, 10393, 10394, 10431, 10434, 10438, 10443, 10456, 10457,
        10460, 10464, 10471, 10474, 10485, 10487, 10497, 10499, 10500,
        10506, 10511, 10519, 10525, 10531, 10533, 10537, 10539, 10543,
        10553, 10554, 10558, 10559, 10587, 10589, 10591, 10003, 10008,
        10022, 10026, 10041, 10047, 10051, 10052, 10060, 10063, 10064,
        10069, 10073, 10074, 10075, 10077, 10079, 10081, 10083, 10085,
        10086, 10089, 10094, 10100, 10102, 10108, 10115, 10117, 10119,
        10130, 10143, 10144, 10148, 10155, 10175, 10186, 10187, 10189,
        10196, 10199, 10209, 10216, 10225, 10229, 10231, 10240, 10245,
        10262, 10271, 10278, 10298, 10299, 10307, 10314, 10317, 10318,
        10320, 10324, 10325, 10330, 10338, 10342, 10343, 10353, 10359,
        10361, 10368, 10371, 10372, 10374, 10380, 10382, 10385, 10393,
        10406, 10407, 10419, 10422, 10424, 10429, 10437, 10454, 10463,
        10466, 10468, 10470, 10472, 10473, 10476, 10480, 10482, 10489,
        10492, 10504, 10512, 10516, 10524, 10527, 10534, 10539, 10549,
        10554, 10560, 10567, 10569, 10570, 10572, 10576, 10578, 10583,
        10593, 10598, 10601, 10000, 10013, 10015, 10028, 10032, 10044,
        10046, 10050, 10051, 10059, 10071, 10073, 10076, 10078, 10079,
        10084, 10090, 10102, 10104, 10105, 10107, 10117, 10122, 10125,
        10133, 10134, 10135, 10136, 10139, 10146, 10151, 10153, 10156,
        10157, 10163, 10171, 10181, 10184, 10186, 10190, 10195, 10198,
        10201, 10205, 10209, 10216, 10219, 10222, 10235, 10240, 10241,
        10243, 10245, 10252, 10255, 10268, 10301, 10306, 10312, 10317,
        10320, 10329, 10331, 10337, 10347, 10348, 10356, 10364, 10366,
        10371, 10374, 10378, 10381, 10391, 10404, 10405, 10415, 10417,
        10420, 10421, 10422, 10430, 10433, 10441, 10443, 10444, 10452,
        10460, 10467, 10491, 10492, 10495, 10518, 10522, 10532, 10537,
        10549, 10552, 10565, 10570, 10572, 10576, 10582, 10584, 10587,
        10590, 10593, 10005, 10008, 10010, 10015, 10025, 10026, 10029,
        10032, 10036, 10038, 10056, 10060, 10061, 10063, 10067, 10071,
        10080, 10083, 10088, 10100, 10101, 10112, 10117, 10126, 10129,
        10133, 10146, 10147, 10153, 10157, 10175, 10184, 10186, 10193,
        10202, 10211, 10217, 10219, 10232, 10237, 10238, 10241, 10245,
        10246, 10247, 10251, 10254, 10261, 10263, 10264, 10277, 10287,
        10288, 10291, 10296, 10297, 10304, 10305, 10307, 10312, 10339,
        10347, 10349, 10351, 10357, 10361, 10363, 10367, 10371, 10372,
        10373, 10377, 10382, 10386, 10388, 10393, 10394, 10397, 10399,
        10400, 10403, 10414, 10419, 10425, 10431, 10437, 10438, 10455,
        10460, 10466, 10475, 10485, 10486, 10502, 10503, 10510, 10513,
        10514, 10518, 10519, 10520, 10522, 10527, 10533, 10541, 10545,
        10551, 10561, 10563, 10564, 10572, 10587, 10591, 10592, 10601,
        10005, 10010, 10013, 10020, 10030, 10031, 10035, 10042, 10046,
        10049, 10056, 10066, 10080, 10084, 10088, 10091, 10095, 10102,
        10103, 10131, 10133, 10134, 10137, 10138, 10140, 10144, 10145,
        10150, 10151, 10160, 10161, 10167, 10189, 10190, 10196, 10197,
        10201, 10202, 10212, 10213, 10214, 10217, 10221, 10222, 10226,
        10233, 10245, 10252, 10255, 10257, 10271, 10274, 10280, 10284,
        10286, 10292, 10293, 10295, 10299, 10302, 10306, 10311, 10312,
        10334, 10358, 10365, 10376, 10378, 10380, 10381, 10390, 10396,
        10399, 10404, 10415, 10421, 10428, 10432, 10436, 10437, 10438,
        10440, 10442, 10446, 10455, 10466, 10469, 10472, 10473, 10475,
        10477, 10480, 10481, 10485, 10492, 10498, 10502, 10506, 10507,
        10510, 10512, 10516, 10517, 10518, 10526, 10527, 10531, 10542,
        10545, 10548, 10549, 10555, 10585, 10598, 10602], dtype=int64))

In [21]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[10004,
  10005,
  10006,
  10014,
  10033,
  10035,
  10041,
  10044,
  10046,
  10047,
  10048,
  10051,
  10052,
  10057,
  10062,
  10072,
  10078,
  10085,
  10090,
  10091,
  10092,
  10097,
  10098,
  10108,
  10115,
  10121,
  10125,
  10134,
  10140,
  10154,
  10155,
  10160,
  10164,
  10180,
  10181,
  10186,
  10193,
  10200,
  10202,
  10205,
  10208,
  10214,
  10215,
  10217,
  10228,
  10232,
  10235,
  10237,
  10260,
  10265,
  10266,
  10279,
  10281,
  10283,
  10287,
  10292,
  10293,
  10299,
  10300,
  10301,
  10306,
  10307,
  10319,
  10330,
  10347,
  10348,
  10355,
  10360,
  10362,
  10369,
  10377,
  10387,
  10388,
  10393,
  10394,
  10431,
  10434,
  10438,
  10443,
  10456,
  10457,
  10460,
  10464,
  10471,
  10474,
  10485,
  10487,
  10497,
  10499,
  10500,
  10506,
  10511,
  10519,
  10525,
  10531,
  10533,
  10537,
  10539,
  10543,
  10553,
  10554,
  10558,
  10559,
  10587,
  10589,
  10591],
 [10003,
  10008,
  10022,
  10026,
  10041,
  10047,
  10051,
  10052,
  10060,
  10063,
  10064,
  10069,
  10073,
  10074,
  10075,
  10077,
  10079,
  10081,
  10083,
  10085,
  10086,
  10089,
  10094,
  10100,
  10102,
  10108,
  10115,
  10117,
  10119,
  10130,
  10143,
  10144,
  10148,
  10155,
  10175,
  10186,
  10187,
  10189,
  10196,
  10199,
  10209,
  10216,
  10225,
  10229,
  10231,
  10240,
  10245,
  10262,
  10271,
  10278,
  10298,
  10299,
  10307,
  10314,
  10317,
  10318,
  10320,
  10324,
  10325,
  10330,
  10338,
  10342,
  10343,
  10353,
  10359,
  10361,
  10368,
  10371,
  10372,
  10374,
  10380,
  10382,
  10385,
  10393,
  10406,
  10407,
  10419,
  10422,
  10424,
  10429,
  10437,
  10454,
  10463,
  10466,
  10468,
  10470,
  10472,
  10473,
  10476,
  10480,
  10482,
  10489,
  10492,
  10504,
  10512,
  10516,
  10524,
  10527,
  10534,
  10539,
  10549,
  10554,
  10560,
  10567,
  10569,
  10570,
  10572,
  10576,
  10578,
  10583,
  10593,
  10598,
  10601],
 [10000,
  10013,
  10015,
  10028,
  10032,
  10044,
  10046,
  10050,
  10051,
  10059,
  10071,
  10073,
  10076,
  10078,
  10079,
  10084,
  10090,
  10102,
  10104,
  10105,
  10107,
  10117,
  10122,
  10125,
  10133,
  10134,
  10135,
  10136,
  10139,
  10146,
  10151,
  10153,
  10156,
  10157,
  10163,
  10171,
  10181,
  10184,
  10186,
  10190,
  10195,
  10198,
  10201,
  10205,
  10209,
  10216,
  10219,
  10222,
  10235,
  10240,
  10241,
  10243,
  10245,
  10252,
  10255,
  10268,
  10301,
  10306,
  10312,
  10317,
  10320,
  10329,
  10331,
  10337,
  10347,
  10348,
  10356,
  10364,
  10366,
  10371,
  10374,
  10378,
  10381,
  10391,
  10404,
  10405,
  10415,
  10417,
  10420,
  10421,
  10422,
  10430,
  10433,
  10441,
  10443,
  10444,
  10452,
  10460,
  10467,
  10491,
  10492,
  10495,
  10518,
  10522,
  10532,
  10537,
  10549,
  10552,
  10565,
  10570,
  10572,
  10576,
  10582,
  10584,
  10587,
  10590,
  10593],
 [10005,
  10008,
  10010,
  10015,
  10025,
  10026,
  10029,
  10032,
  10036,
  10038,
  10056,
  10060,
  10061,
  10063,
  10067,
  10071,
  10080,
  10083,
  10088,
  10100,
  10101,
  10112,
  10117,
  10126,
  10129,
  10133,
  10146,
  10147,
  10153,
  10157,
  10175,
  10184,
  10186,
  10193,
  10202,
  10211,
  10217,
  10219,
  10232,
  10237,
  10238,
  10241,
  10245,
  10246,
  10247,
  10251,
  10254,
  10261,
  10263,
  10264,
  10277,
  10287,
  10288,
  10291,
  10296,
  10297,
  10304,
  10305,
  10307,
  10312,
  10339,
  10347,
  10349,
  10351,
  10357,
  10361,
  10363,
  10367,
  10371,
  10372,
  10373,
  10377,
  10382,
  10386,
  10388,
  10393,
  10394,
  10397,
  10399,
  10400,
  10403,
  10414,
  10419,
  10425,
  10431,
  10437,
  10438,
  10455,
  10460,
  10466,
  10475,
  10485,
  10486,
  10502,
  10503,
  10510,
  10513,
  10514,
  10518,
  10519,
  10520,
  10522,
  10527,
  10533,
  10541,
  10545,
  10551,
  10561,
  10563,
  10564,
  10572,
  10587,
  10591,
  10592,
  10601],
 [10005,
  10010,
  10013,
  10020,
  10030,
  10031,
  10035,
  10042,
  10046,
  10049,
  10056,
  10066,
  10080,
  10084,
  10088,
  10091,
  10095,
  10102,
  10103,
  10131,
  10133,
  10134,
  10137,
  10138,
  10140,
  10144,
  10145,
  10150,
  10151,
  10160,
  10161,
  10167,
  10189,
  10190,
  10196,
  10197,
  10201,
  10202,
  10212,
  10213,
  10214,
  10217,
  10221,
  10222,
  10226,
  10233,
  10245,
  10252,
  10255,
  10257,
  10271,
  10274,
  10280,
  10284,
  10286,
  10292,
  10293,
  10295,
  10299,
  10302,
  10306,
  10311,
  10312,
  10334,
  10358,
  10365,
  10376,
  10378,
  10380,
  10381,
  10390,
  10396,
  10399,
  10404,
  10415,
  10421,
  10428,
  10432,
  10436,
  10437,
  10438,
  10440,
  10442,
  10446,
  10455,
  10466,
  10469,
  10472,
  10473,
  10475,
  10477,
  10480,
  10481,
  10485,
  10492,
  10498,
  10502,
  10506,
  10507,
  10510,
  10512,
  10516,
  10517,
  10518,
  10526,
  10527,
  10531,
  10542,
  10545,
  10548,
  10549,
  10555,
  10585,
  10598,
  10602]]

In [22]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[-6.046277091666603,
  -5.582059271156924,
  5.863284604565687,
  -0.6105347691543802,
  2.9875723622725503,
  -3.9854682992684705,
  4.74367610315648,
  -5.185935797586402,
  -3.4666102414652697,
  -9.63604681848973,
  10.037242804907192,
  -10.0,
  -6.312441999918714,
  -1.0503054283192466,
  7.067418143649792,
  6.9719674056901315,
  -9.483621822983283,
  -1.2161931291347874,
  10.083568449735159,
  1.4768726098448264,
  6.933758002580516,
  -2.990569863401502,
  -7.428796756482487,
  3.2005229722646344,
  1.4232838000302812,
  3.4013960722314827,
  -9.850026686624059,
  10.207880939529044,
  -3.9954832866603716,
  -0.9621252850339448,
  -5.479738563152831,
  1.9697867395457016,
  0.3015114976466718,
  -5.973083053497719,
  7.514385008827937,
  10.3,
  -3.60109794761712,
  1.9827557344011764,
  10.0,
  2.879900318333373,
  1.4475343372766505,
  -3.800206805246753,
  5.193591493576566,
  -1.9089703644215372,
  -3.121925087272958,
  1.0281163408440663,
  -0.08609331589219825,
  -9.909185558782495,
  -2.953280311144413,
  -1.14441784728351,
  6.913759472637664,
  3.3266905364159247,
  3.767972693227464,
  -4.2098626862533,
  -4.3582448151859445,
  -3.9577373772380087,
  -4.817898555079919,
  -2.196434369542109,
  10.037242804907192,
  -9.682889787153735,
  -3.8587293019362274,
  3.571147540417334,
  1.8723188913250994,
  5.583283898600578,
  3.14338281753861,
  7.5314952216742,
  1.60114626093888,
  0.8145229423303215,
  0.28345564988701366,
  3.378919446439534,
  -3.8532869788299764,
  -1.2026257803359777,
  4.038120858836174,
  6.728852459582666,
  10.0,
  -3.710658410211573,
  0.9464392550661759,
  10.533730889067353,
  -7.351862336507046,
  -1.5723656386749965,
  -0.5808634937410099,
  10.0,
  -1.0712238091146253,
  5.1576402603148725,
  3.04664231900888,
  10.533730889067353,
  6.250873101056841,
  -2.468945766149553,
  10.279081619204621,
  4.13199020955606,
  10.22300740344408,
  -3.343985297628707,
  -6.737806450795036,
  -2.6375437949282006,
  -1.4075326489680644,
  -3.801472851429077,
  4.578743331031813,
  -1.8048127152519642,
  9.189881646281815,
  7.758938406468053,
  -2.889886965921394,
  0.9314531499497589,
  -7.906076893905616,
  0.3,
  -4.840801494688558,
  1.1651392520631196],
 [47.117398852035336,
  -17.622838244229154,
  -4.739077295049493,
  -16.936956516608195,
  17.144264858154465,
  -9.236559951818567,
  -10.000000000000002,
  -18.929959314416656,
  -6.675616129153093,
  21.812875862302658,
  161.30736645769068,
  2.5328849869522183,
  -149.29085125452633,
  49.78773351979173,
  -5.436880959646009,
  90.46361268474212,
  159.79412441810413,
  7.82423673056695,
  10.985881727620958,
  23.951525294295987,
  -74.83041988529729,
  44.45664881088964,
  -163.36151681760222,
  6.9986807838950575,
  10.0,
  27.27004295448338,
  -24.4775164502701,
  -9.7,
  -44.05296065068845,
  80.03299648133263,
  112.22880859166354,
  -4.594176803746012,
  -73.73489791973624,
  -6.944477917799663,
  -7.1371022638306085,
  10.3,
  52.177197381255375,
  12.361176038202304,
  -0.7760341916402481,
  78.74116267597279,
  -518.1478749489098,
  -0.1637014717710254,
  -46.08953379784186,
  94.17804363561879,
  127.21256475117215,
  -4.5016365817889215,
  -9.7,
  -66.3060829390648,
  -3.7874019417030595,
  -88.32404135714269,
  -76.9177756562182,
  -14.66919383355114,
  1.157634302002221,
  88.1447036994265,
  335.77117034257685,
  32.5444866435557,
  682.2180332280872,
  -155.1205516404016,
  -127.64866844814505,
  6.6814823398126055,
  9.312382375725598,
  79.49250169900051,
  -6.126606674463155,
  -125.90172080014318,
  28.761608907073725,
  7.961497856774051,
  -161.74347015466356,
  -10.254410891172467,
  -15.371367419853522,
  377.9346941372457,
  10.45745116105594,
  5.710027032398424,
  82.402382167299,
  9.14236569799778,
  -87.77625691382121,
  -165.45790110554023,
  -8.195605543478015,
  -692.9421630080515,
  -157.50790741132255,
  154.91600115782342,
  9.919596670337176,
  96.33384619214502,
  67.82946995881937,
  -15.521028636847177,
  5.377462691057856,
  -77.59342515373321,
  6.8335138817601,
  -6.636975756071323,
  69.9852725153456,
  -6.812804003004255,
  -47.14981438880703,
  110.83328662610249,
  5.040841163445836,
  114.24012199287304,
  -0.4967440703960919,
  10.175828246932932,
  92.02224107909257,
  12.980110988760767,
  -147.86521758936797,
  -1.6222544080807553,
  0.5514017799024777,
  -28.059029688444554,
  -68.82130376417923,
  36.971869636004044,
  -2.0500063057823055,
  349.25375053080563,
  9.745589108827536,
  -367.4709926654747,
  -6.300849710812381,
  -46.74306757082536,
  -677.1163966462983,
  -10.80931359962912,
  6.187108124878876],
 [-8.115949572028066,
  3.9452598410094772,
  10.19345777995634,
  8.488115496940848,
  19.72132709257547,
  -14.626418722218656,
  -119.37406268360955,
  0.13772167513263914,
  -9.999999999999998,
  -7.318229925993649,
  -2.5971853304227506,
  -12.52658156212836,
  -6.588136670122496,
  -9.804775425465964,
  14.254645043789678,
  3.6473154637016343,
  10.28585874978522,
  10.0,
  15.086486133861309,
  -9.723760756419578,
  0.4464056013694172,
  -9.7,
  -31.682666281509047,
  -9.909458337840372,
  -68.57859483667377,
  11.920798955915416,
  9.650116146566866,
  -17.293201567268188,
  -17.08558657783789,
  15.293768255911534,
  -3.8115970974605693,
  -12.46143046268751,
  32.795423526413465,
  16.189546417917825,
  13.787020252304483,
  4.793109544813556,
  0.7713750071593344,
  -6.484968484857003,
  10.3,
  10.33953261401758,
  18.225133304663014,
  -14.535788194267873,
  -27.380495520325123,
  -6.105886675145357,
  -46.81167036135906,
  9.325523534439725,
  19.384951272929843,
  12.38239358874012,
  -10.841328729701724,
  -0.1140317408306589,
  3.744865114744966,
  32.91953064958559,
  -9.7,
  -12.63550760117204,
  12.97504021518962,
  -16.133063586551977,
  -9.337740838269935,
  -118.05326372769414,
  -8.821321077449893,
  38.16256078010688,
  54.70465297928861,
  22.02083748320428,
  -8.415949572028067,
  -13.774972147622806,
  -4.889077414033551,
  1.1336341688894016,
  -23.65682910943556,
  -9.519687437751934,
  -3.755475632019812,
  -10.221626713159129,
  28.337458114201237,
  18.358068519695486,
  -4.451487865873316,
  28.052377843373215,
  -26.87426749546129,
  9.324633498264845,
  -4.238759894289247,
  12.79218932195676,
  -14.25528470987087,
  -12.421926202757701,
  -55.225542428747836,
  25.18022232592094,
  -4.6189385598681225,
  -12.982433988375314,
  -12.518397897732003,
  -13.462746550623379,
  23.348873394249214,
  10.0,
  33.071662769993885,
  -23.65682910943556,
  6.37025079826214,
  -17.186829836503808,
  -8.821321077449893,
  6.412216845565747,
  -9.999999999999998,
  -8.966708323521702,
  -2.2771293580045535,
  2.8996133892381093,
  8.96842805918891,
  23.457025317569386,
  9.77837328684087,
  -27.36298164864096,
  -13.158482309806793,
  12.97426300740006,
  0.3,
  -22.072778681463625,
  -53.99062123845795],
 [-7.245679393766477,
  -4.289165615245047,
  -4.708501748105212,
  10.10974518766569,
  -5.429787423925423,
  -4.377471857698092,
  1.3055239692016225,
  5.076634957105389,
  -1.2482308456959654,
  -6.699044393732914,
  1.746829770052382,
  5.525952220011607,
  4.921554091383215,
  -5.038602467889512,
  -8.528074878026265,
  2.9836541556206697,
  5.2867111965819396,
  10.211693757546954,
  2.7728994579985673,
  6.0598115251248315,
  -2.800607474368049,
  0.08528849443556423,
  -9.699999999999998,
  -5.51440539713332,
  -6.284977240104711,
  4.318251210151992,
  7.627438606592825,
  -3.4666419761069456,
  7.982515851973685,
  -0.9944276837020151,
  -5.105032292296449,
  -3.392421456396951,
  10.3,
  -7.008125160354355,
  10.0,
  -9.827243017506458,
  -1.0771603031167607,
  5.042386422898104,
  5.152365781272303,
  -9.959690074003712,
  -5.257030441431881,
  6.451572265476024,
  -9.7,
  -7.065277562106826,
  -9.27787339056599,
  0.08528849443556423,
  5.633643085878809,
  3.702056091589574,
  -5.400338243505118,
  5.710201603280897,
  -5.987692874209737,
  -2.2760903293104238,
  9.15917355748611,
  -1.7293786161923896,
  4.7341268144995805,
  -7.618749373916097,
  -8.559173557486108,
  7.27595104303404,
  4.860145333655306,
  -9.91477376815228,
  -3.290377463559055,
  7.248951119448907,
  2.3409456020525474,
  -7.8680648738117265,
  5.710201603280897,
  -5.014258462464653,
  -0.7820824866037104,
  -7.895656023217223,
  -9.79362196630876,
  -2.1440381931578756,
  -4.947167081656102,
  -7.241144628041233,
  -7.159385884551824,
  -5.3746051251144324,
  7.384198572453779,
  5.4398546663446945,
  9.999999999999998,
  -2.3579586087500117,
  10.076481426536038,
  -1.936741808200124,
  -5.683195075503115,
  6.974106518042628,
  3.3575700214288733,
  1.6929924572596002,
  -6.191483541255398,
  10.086092899382544,
  10.558685190906496,
  -7.947860624107628,
  10.0,
  -4.088287575731833,
  10.0,
  10.558685190906496,
  5.429787423925423,
  -9.86195439218719,
  -1.4174802981351595,
  3.2653539113279546,
  -3.244863498571972,
  8.291340587194439,
  -9.91477376815228,
  -7.535147741131645,
  8.057505250237874,
  3.9239243879823795,
  7.430236687248463,
  -6.231793467251686,
  1.9231398640585164,
  -3.6914235992741404,
  0.532634321146024,
  4.7104305756412765,
  -1.2758219951014613,
  3.532149623946112,
  10.20637803369124,
  0.3,
  5.2284391933717265,
  0.1929456912974963,
  -7.4175891950899056],
 [-5.311330436651089,
  -14.58250453587138,
  -2.046673837348956,
  7.046681949659321,
  6.510241391955668,
  5.645841015257928,
  -1.4398020741866788,
  -5.246557510271168,
  -11.762915744146769,
  -10.582588218439957,
  -4.9759722650737865,
  10.693113277305146,
  15.43922206201735,
  11.21219360495423,
  -2.061017366624551,
  -2.8765964953539243,
  15.962822612782213,
  10.0,
  -11.95415650608397,
  -9.728879160188436,
  16.870918921209388,
  10.330486439568674,
  -5.51834154857681,
  17.197740195966375,
  -5.760518844616267,
  53.11956414190104,
  9.70855463651325,
  -12.681411306391105,
  12.744559363306363,
  2.724004819454835,
  8.807768732375244,
  -4.6748441983777855,
  155.23962989474694,
  9.882355562939807,
  -70.88736094386941,
  -1.296780195949759,
  21.59257726666149,
  10.000000000000002,
  -10.855038515764356,
  14.484696214793066,
  -5.339251962453422,
  -2.044334781674456,
  12.863129674717314,
  -17.382876393980748,
  -10.108929614696248,
  6.13942024878147,
  -9.7,
  17.842962470679705,
  -17.960606907739898,
  -10.950905307663271,
  13.434375766003368,
  17.261974313083083,
  11.385003276728167,
  9.871531765766578,
  -5.643087500664159,
  -1.5382726461392113,
  -11.444079752278533,
  1.8758242013890316,
  18.622236508747754,
  -5.534157885967911,
  -12.032429304578098,
  5.476399565591046,
  -10.103063783818142,
  -5.6142083404757255,
  -16.977790650474184,
  -4.271519213020142,
  -11.020396993324635,
  -4.5009136825114,
  12.138433907045654,
  2.9668459907468634,
  -11.925277345895537,
  -11.95415650608397,
  9.9269788443312,
  20.672405113263583,
  12.82944264258388,
  17.800520831040945,
  15.139701020576162,
  -17.29085347327152,
  -10.774988061256543,
  11.818375320309986,
  10.529669956549768,
  -8.713901278540625,
  5.847220708765243,
  10.813096532778593,
  -4.1700902031015294,
  114.8617719946186,
  -5.154978598861341,
  135.6333991857329,
  -92.99526260991033,
  10.0,
  -15.320880629796447,
  -93.65849965989156,
  10.085851576427293,
  10.529669956549768,
  7.507894372634503,
  11.72999286703964,
  -9.898123861761848,
  10.322796310210315,
  -10.912796836141222,
  9.696760912072357,
  -112.56226046971075,
  10.663237049981236,
  -5.7914916262144445,
  -10.103063783818142,
  5.374056976952285,
  -50.312510676999324,
  -6.34625101793189,
  3.9377597002608087,
  -12.011715810521594,
  7.139609709302686,
  -4.697647601350006,
  -14.050598245728171,
  -8.282556824069498,
  -83.0890319008963,
  -4.476523588522471]]

In [23]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[77,
  85,
  35,
  88,
  90,
  27,
  18,
  10,
  58,
  38,
  74,
  81,
  98,
  99,
  65,
  34,
  14,
  15,
  20,
  50,
  73,
  86,
  2,
  63,
  42,
  83,
  6,
  96,
  89,
  72,
  52,
  61,
  25,
  69,
  51,
  23,
  64,
  84,
  4,
  39,
  37,
  31,
  62,
  66,
  19,
  40,
  24,
  105,
  45,
  76,
  101,
  67,
  32,
  103,
  68,
  46,
  80,
  3,
  29,
  13,
  82,
  49,
  71,
  17,
  94,
  79,
  97,
  43,
  57,
  87,
  93,
  100,
  48,
  21,
  44,
  91,
  8,
  36,
  75,
  41,
  95,
  70,
  60,
  55,
  5,
  28,
  53,
  54,
  56,
  104,
  7,
  30,
  1,
  33,
  0,
  12,
  92,
  78,
  22,
  102,
  16,
  9,
  59,
  26,
  47,
  11],
 [56,
  69,
  105,
  54,
  10,
  16,
  79,
  44,
  93,
  30,
  91,
  81,
  43,
  96,
  15,
  53,
  72,
  29,
  61,
  39,
  88,
  82,
  36,
  13,
  0,
  21,
  103,
  55,
  64,
  25,
  19,
  9,
  4,
  97,
  37,
  18,
  70,
  35,
  95,
  24,
  80,
  106,
  60,
  73,
  65,
  17,
  23,
  86,
  59,
  112,
  71,
  84,
  92,
  11,
  52,
  100,
  41,
  94,
  38,
  99,
  104,
  48,
  45,
  31,
  2,
  14,
  62,
  108,
  87,
  8,
  89,
  33,
  34,
  76,
  5,
  27,
  46,
  6,
  67,
  111,
  51,
  68,
  83,
  3,
  1,
  7,
  26,
  101,
  28,
  42,
  109,
  90,
  47,
  102,
  32,
  20,
  50,
  85,
  74,
  49,
  63,
  58,
  98,
  12,
  57,
  78,
  66,
  22,
  75,
  107,
  40,
  110,
  77],
 [60,
  59,
  88,
  51,
  32,
  70,
  73,
  81,
  99,
  86,
  61,
  4,
  46,
  71,
  40,
  33,
  29,
  18,
  14,
  34,
  54,
  103,
  77,
  47,
  25,
  39,
  38,
  16,
  2,
  17,
  87,
  100,
  26,
  45,
  75,
  98,
  3,
  93,
  90,
  35,
  1,
  50,
  15,
  97,
  65,
  36,
  20,
  104,
  7,
  49,
  96,
  10,
  68,
  30,
  76,
  72,
  82,
  64,
  43,
  37,
  12,
  9,
  0,
  62,
  58,
  92,
  95,
  56,
  67,
  21,
  52,
  19,
  13,
  23,
  8,
  94,
  69,
  48,
  79,
  31,
  84,
  11,
  53,
  83,
  102,
  85,
  63,
  78,
  41,
  5,
  55,
  28,
  91,
  27,
  105,
  66,
  89,
  74,
  101,
  42,
  22,
  44,
  106,
  80,
  24,
  57,
  6],
 [86,
  91,
  32,
  17,
  110,
  3,
  85,
  78,
  34,
  88,
  90,
  76,
  52,
  97,
  100,
  28,
  26,
  102,
  74,
  57,
  61,
  81,
  41,
  19,
  49,
  64,
  46,
  11,
  75,
  92,
  16,
  112,
  38,
  7,
  37,
  12,
  58,
  54,
  107,
  25,
  101,
  47,
  109,
  82,
  95,
  15,
  18,
  62,
  104,
  10,
  83,
  6,
  106,
  111,
  113,
  21,
  45,
  66,
  29,
  36,
  8,
  108,
  94,
  53,
  79,
  69,
  51,
  77,
  20,
  96,
  60,
  31,
  27,
  105,
  89,
  1,
  5,
  2,
  70,
  65,
  13,
  30,
  40,
  73,
  48,
  4,
  23,
  80,
  50,
  84,
  103,
  24,
  9,
  33,
  43,
  72,
  71,
  0,
  114,
  99,
  55,
  63,
  67,
  87,
  14,
  56,
  44,
  22,
  42,
  68,
  35,
  93,
  59,
  98,
  39],
 [32,
  87,
  85,
  25,
  36,
  73,
  58,
  47,
  75,
  51,
  23,
  20,
  16,
  12,
  76,
  39,
  50,
  42,
  74,
  28,
  68,
  79,
  95,
  52,
  13,
  83,
  11,
  101,
  80,
  93,
  21,
  97,
  92,
  37,
  17,
  89,
  72,
  33,
  53,
  26,
  99,
  30,
  94,
  109,
  3,
  4,
  45,
  82,
  5,
  61,
  104,
  107,
  69,
  29,
  57,
  35,
  6,
  55,
  41,
  2,
  14,
  15,
  84,
  65,
  114,
  67,
  31,
  110,
  10,
  86,
  7,
  0,
  40,
  22,
  59,
  63,
  54,
  24,
  102,
  106,
  112,
  81,
  46,
  19,
  96,
  62,
  103,
  44,
  9,
  78,
  38,
  98,
  49,
  66,
  56,
  8,
  70,
  18,
  71,
  108,
  60,
  27,
  111,
  1,
  90,
  64,
  77,
  43,
  48,
  105,
  34,
  113,
  88,
  91,
  100]]

In [24]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[10438,
  10485,
  10186,
  10499,
  10506,
  10134,
  10090,
  10048,
  10300,
  10202,
  10394,
  10460,
  10543,
  10553,
  10348,
  10181,
  10062,
  10072,
  10092,
  10266,
  10393,
  10487,
  10006,
  10330,
  10215,
  10471,
  10041,
  10537,
  10500,
  10388,
  10281,
  10307,
  10121,
  10369,
  10279,
  10108,
  10347,
  10474,
  10033,
  10205,
  10200,
  10160,
  10319,
  10355,
  10091,
  10208,
  10115,
  10591,
  10232,
  10434,
  10558,
  10360,
  10164,
  10587,
  10362,
  10235,
  10457,
  10014,
  10154,
  10057,
  10464,
  10265,
  10387,
  10085,
  10531,
  10456,
  10539,
  10217,
  10299,
  10497,
  10525,
  10554,
  10260,
  10097,
  10228,
  10511,
  10046,
  10193,
  10431,
  10214,
  10533,
  10377,
  10306,
  10292,
  10035,
  10140,
  10283,
  10287,
  10293,
  10589,
  10044,
  10155,
  10005,
  10180,
  10004,
  10052,
  10519,
  10443,
  10098,
  10559,
  10078,
  10047,
  10301,
  10125,
  10237,
  10051],
 [10320,
  10374,
  10570,
  10317,
  10064,
  10079,
  10429,
  10231,
  10504,
  10143,
  10489,
  10454,
  10229,
  10524,
  10077,
  10314,
  10385,
  10130,
  10342,
  10199,
  10476,
  10463,
  10187,
  10074,
  10003,
  10089,
  10567,
  10318,
  10359,
  10108,
  10085,
  10063,
  10041,
  10527,
  10189,
  10083,
  10380,
  10186,
  10516,
  10102,
  10437,
  10572,
  10338,
  10393,
  10361,
  10081,
  10100,
  10472,
  10330,
  10601,
  10382,
  10468,
  10492,
  10069,
  10307,
  10549,
  10216,
  10512,
  10196,
  10539,
  10569,
  10271,
  10240,
  10144,
  10022,
  10075,
  10343,
  10578,
  10473,
  10060,
  10480,
  10155,
  10175,
  10419,
  10047,
  10117,
  10245,
  10051,
  10371,
  10598,
  10299,
  10372,
  10466,
  10026,
  10008,
  10052,
  10115,
  10554,
  10119,
  10225,
  10583,
  10482,
  10262,
  10560,
  10148,
  10086,
  10298,
  10470,
  10406,
  10278,
  10353,
  10325,
  10534,
  10073,
  10324,
  10424,
  10368,
  10094,
  10407,
  10576,
  10209,
  10593,
  10422],
 [10320,
  10317,
  10467,
  10243,
  10156,
  10374,
  10391,
  10430,
  10570,
  10452,
  10329,
  10032,
  10219,
  10378,
  10195,
  10157,
  10146,
  10104,
  10079,
  10163,
  10255,
  10584,
  10417,
  10222,
  10134,
  10190,
  10186,
  10090,
  10015,
  10102,
  10460,
  10572,
  10135,
  10216,
  10405,
  10565,
  10028,
  10522,
  10492,
  10171,
  10013,
  10241,
  10084,
  10552,
  10348,
  10181,
  10107,
  10587,
  10050,
  10240,
  10549,
  10071,
  10366,
  10151,
  10415,
  10381,
  10433,
  10347,
  10205,
  10184,
  10076,
  10059,
  10000,
  10331,
  10312,
  10518,
  10537,
  10301,
  10364,
  10117,
  10245,
  10105,
  10078,
  10125,
  10051,
  10532,
  10371,
  10235,
  10421,
  10153,
  10443,
  10073,
  10252,
  10441,
  10582,
  10444,
  10337,
  10420,
  10198,
  10044,
  10268,
  10139,
  10495,
  10136,
  10590,
  10356,
  10491,
  10404,
  10576,
  10201,
  10122,
  10209,
  10593,
  10422,
  10133,
  10306,
  10046],
 [10438,
  10485,
  10186,
  10083,
  10572,
  10015,
  10437,
  10399,
  10202,
  10460,
  10475,
  10394,
  10288,
  10514,
  10520,
  10153,
  10146,
  10527,
  10388,
  10305,
  10347,
  10414,
  10241,
  10100,
  10264,
  10357,
  10254,
  10060,
  10393,
  10486,
  10080,
  10591,
  10232,
  10032,
  10219,
  10061,
  10307,
  10296,
  10561,
  10133,
  10522,
  10261,
  10564,
  10419,
  10510,
  10071,
  10088,
  10349,
  10541,
  10056,
  10425,
  10029,
  10551,
  10587,
  10592,
  10112,
  10251,
  10363,
  10157,
  10217,
  10036,
  10563,
  10503,
  10291,
  10400,
  10372,
  10287,
  10397,
  10101,
  10513,
  10339,
  10184,
  10147,
  10545,
  10466,
  10008,
  10026,
  10010,
  10373,
  10361,
  10063,
  10175,
  10238,
  10386,
  10263,
  10025,
  10126,
  10403,
  10277,
  10431,
  10533,
  10129,
  10038,
  10193,
  10246,
  10382,
  10377,
  10005,
  10601,
  10519,
  10297,
  10351,
  10367,
  10455,
  10067,
  10304,
  10247,
  10117,
  10245,
  10371,
  10211,
  10502,
  10312,
  10518,
  10237],
 [10189,
  10472,
  10466,
  10144,
  10201,
  10404,
  10299,
  10252,
  10421,
  10274,
  10138,
  10133,
  10095,
  10080,
  10428,
  10213,
  10271,
  10221,
  10415,
  10151,
  10380,
  10437,
  10498,
  10280,
  10084,
  10446,
  10066,
  10516,
  10438,
  10485,
  10134,
  10506,
  10481,
  10202,
  10102,
  10475,
  10399,
  10190,
  10284,
  10145,
  10510,
  10161,
  10492,
  10548,
  10020,
  10030,
  10233,
  10442,
  10031,
  10311,
  10526,
  10542,
  10381,
  10160,
  10295,
  10197,
  10035,
  10292,
  10217,
  10013,
  10088,
  10091,
  10455,
  10365,
  10602,
  10378,
  10167,
  10549,
  10056,
  10469,
  10042,
  10005,
  10214,
  10137,
  10302,
  10334,
  10286,
  10140,
  10517,
  10531,
  10585,
  10440,
  10245,
  10131,
  10502,
  10312,
  10518,
  10226,
  10049,
  10436,
  10212,
  10507,
  10257,
  10376,
  10293,
  10046,
  10390,
  10103,
  10396,
  10545,
  10306,
  10150,
  10555,
  10010,
  10477,
  10358,
  10432,
  10222,
  10255,
  10527,
  10196,
  10598,
  10473,
  10480,
  10512]]

In [27]:
# output dataframe with user ids a

recommendations_shows = pd.DataFrame(rec_list)

recommendations_shows.to_csv('show_recommendations.csv', index = False)
recommendations_shows

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,10438,10485,10186,10499,10506,10134,10090,10048,10300,10202,...,10051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10320,10374,10570,10317,10064,10079,10429,10231,10504,10143,...,10424,10368.0,10094.0,10407.0,10576.0,10209.0,10593.0,10422.0,NaN,NaN
2,10320,10317,10467,10243,10156,10374,10391,10430,10570,10452,...,10306,10046.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10438,10485,10186,10083,10572,10015,10437,10399,10202,10460,...,10304,10247.0,10117.0,10245.0,10371.0,10211.0,10502.0,10312.0,10518.0,10237.0
4,10189,10472,10466,10144,10201,10404,10299,10252,10421,10274,...,10358,10432.0,10222.0,10255.0,10527.0,10196.0,10598.0,10473.0,10480.0,10512.0

In [54]:
pd.read_csv('show_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076
0,11459,11709,11982,12608,12931,11595,11378,11134,11743,11989,...,11920.0,12949.0,11238.0,11733.0,NaN,NaN,NaN,NaN,NaN,NaN
1,11388,12512,11467,11624,11961,12368,11743,11989,12826,12964,...,11324.0,12044.0,12797.0,12171.0,11278.0,12594.0,11936.0,12553.0,12709.0,12647.0
2,11164,12054,12767,11732,12560,11494,11606,12378,12091,11409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11301,11622,11091,11601,11427,12920,12095,12187,11115,12570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11285,11738,12214,12473,12481,11702,11844,12776,11911,11164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Movies

In [39]:
movie_activities = pd.read_json('movie_activities.json')

In [40]:
# getting likes/dislikes
likes_dislikes = movie_activities.loc[np.where((movie_activities['activity'] == 'Like') ^ (movie_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
user_id,,,,,,,,,,,,,,,,,,,,,
0,-10.0,0.0,-10.0,-10.0,-10.0,10.0,0.0,0.0,0.0,0.0,...,10.0,10.0,10.0,0.0,0.0,10.0,-10.0,10,-10.0,-10
1,0.0,-10.0,0.0,-10.0,0.0,0.0,10.0,10.0,10.0,-10.0,...,0.0,10.0,0.0,-10.0,10.0,-10.0,-10.0,-10,-10.0,10
2,0.0,0.0,-10.0,0.0,10.0,-10.0,-10.0,10.0,0.0,0.0,...,-10.0,0.0,10.0,-10.0,10.0,-10.0,0.0,10,0.0,-10
3,10.0,-10.0,-10.0,10.0,-10.0,10.0,10.0,-10.0,-10.0,0.0,...,0.0,-10.0,0.0,10.0,-10.0,0.0,-10.0,10,0.0,10
4,-10.0,10.0,10.0,0.0,-10.0,10.0,-10.0,10.0,10.0,10.0,...,-10.0,0.0,10.0,10.0,-10.0,-10.0,-10.0,10,10.0,-10

In [41]:
max_length = list(unstacked.columns)[-1] + 1

max_length

322

In [42]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[-10.,   0., -10., ...,  10., -10., -10.],
       [  0., -10.,   0., ..., -10., -10.,  10.],
       [  0.,   0., -10., ...,  10.,   0., -10.],
       [ 10., -10., -10., ...,  10.,   0.,  10.],
       [-10.,  10.,  10., ...,  10.,  10., -10.]])

In [43]:
# creating sparse matrix for plays

plays = movie_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

<ipython-input-43-fd0465b49e19>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  plays = movie_activities[show_activities['activity'] == 'Play']

array([[0.3, 0. , 0.3, ..., 0.6, 0. , 0.6],
       [0.3, 0. , 0. , ..., 0.3, 0.3, 0. ],
       [0. , 0. , 0.3, ..., 0.3, 0.3, 0. ],
       [0.6, 0. , 0. , ..., 0. , 0.6, 0.3],
       [0.3, 0.6, 0.3, ..., 0.3, 0. , 0. ]])

In [44]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
0,-9.7,0.0,-9.7,-9.7,-9.7,10.3,0.0,0.0,0.3,0.3,...,10.0,10.0,10.9,0.0,0.3,10.3,-9.7,10.6,-10.0,-9.4
1,0.3,-10.0,0.0,-9.4,0.0,0.0,10.0,10.9,10.0,-10.0,...,0.0,10.3,0.0,-9.7,10.0,-9.7,-9.7,-9.7,-9.7,10.0
2,0.0,0.0,-9.7,0.0,10.0,-10.0,-9.1,10.0,0.0,0.0,...,-9.7,0.0,10.0,-9.7,10.3,-10.0,0.0,10.3,0.3,-10.0
3,10.6,-10.0,-10.0,10.0,-9.1,10.6,10.3,-9.4,-9.4,0.0,...,0.0,-9.7,0.3,10.3,-9.7,0.0,-10.0,10.0,0.6,10.3
4,-9.7,10.6,10.3,0.0,-10.0,10.3,-10.0,10.6,10.0,10.0,...,-10.0,0.0,10.3,10.3,-9.4,-10.0,-10.0,10.3,10.0,-10.0

In [45]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
0,-9.7,0.0,-9.7,-9.7,-9.7,10.3,0.0,0.0,0.3,0.3,...,10.0,10.0,10.9,0.0,0.3,10.3,-9.7,10.6,-10.0,-9.4
1,0.3,-10.0,0.0,-9.4,0.0,0.0,10.0,10.9,10.0,-10.0,...,0.0,10.3,0.0,-9.7,10.0,-9.7,-9.7,-9.7,-9.7,10.0
2,0.0,0.0,-9.7,0.0,10.0,-10.0,-9.1,10.0,0.0,0.0,...,-9.7,0.0,10.0,-9.7,10.3,-10.0,0.0,10.3,0.3,-10.0
3,10.6,-10.0,-10.0,10.0,-9.1,10.6,10.3,-9.4,-9.4,0.0,...,0.0,-9.7,0.3,10.3,-9.7,0.0,-10.0,10.0,0.6,10.3
4,-9.7,10.6,10.3,0.0,-10.0,10.3,-10.0,10.6,10.0,10.0,...,-10.0,0.0,10.3,10.3,-9.4,-10.0,-10.0,10.3,10.0,-10.0

In [46]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [47]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [48]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([  1,   6,   7,  15,  16,  20,  21,  23,  24,  30,  31,  32,  35,
        39,  41,  44,  56,  58,  61,  66,  70,  73,  79,  83,  85,  87,
        93,  94,  96, 104, 110, 116, 119, 129, 136, 138, 142, 144, 165,
       168, 169, 173, 182, 183, 184, 188, 191, 195, 203, 204, 206, 216,
       219, 220, 222, 228, 230, 235, 244, 247, 251, 252, 253, 257, 268,
       272, 280, 286, 291, 297, 298, 300, 302, 303, 307, 310, 315,   2,
         4,   5,  21,  22,  25,  26,  31,  32,  37,  46,  48,  49,  54,
        57,  66,  71,  78,  83,  87,  97, 100, 101, 103, 106, 109, 112,
       116, 121, 123, 125, 134, 139, 142, 145, 151, 160, 163, 169, 171,
       174, 175, 178, 179, 187, 188, 189, 190, 194, 208, 219, 224, 236,
       238, 243, 244, 252, 257, 258, 261, 262, 265, 266, 273, 275, 281,
       284, 285, 286, 303, 310, 311, 312, 314,   0,   1,   3,   8,   9,
        23,  25,  26,  28,  29,  41,  44,  47,  52,  54,  61,  62,  73,
        74,  75,  76,  91, 100, 103, 112, 114, 115, 119, 121, 122, 124,
       128, 133, 137, 138, 150, 152, 165, 168, 174, 176, 177, 182, 188,
       192, 200, 204, 205, 213, 217, 218, 231, 234, 250, 252, 255, 259,
       264, 267, 275, 277, 282, 283, 285, 288, 290, 300, 310, 311, 313,
       318,   9,  16,  17,  24,  27,  35,  52,  56,  58,  61,  63,  65,
        66,  67,  75,  76,  77,  79,  88,  98, 112, 120, 123, 134, 135,
       137, 145, 147, 148, 149, 153, 155, 156, 157, 159, 164, 165, 166,
       168, 172, 174, 175, 176, 179, 181, 182, 185, 205, 210, 214, 217,
       218, 220, 223, 224, 225, 226, 229, 231, 241, 246, 249, 250, 256,
       264, 268, 270, 275, 276, 280, 283, 289, 296, 299, 300, 301, 307,
       312, 317,   3,  13,  15,  17,  23,  27,  33,  35,  38,  41,  47,
        49,  51,  52,  62,  66,  68,  71,  73,  78,  79,  82,  84,  85,
        86,  89,  91,  92,  95,  96,  98, 106, 120, 130, 132, 133, 137,
       147, 161, 162, 172, 175, 184, 189, 190, 195, 199, 211, 212, 227,
       230, 235, 236, 237, 242, 245, 256, 264, 268, 270, 276, 277, 288,
       291, 297, 311, 313], dtype=int64)

In [49]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[  0.        ,  38.39509677,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , -10.0311692 , ...,   0.        ,
          0.        ,   0.        ],
       [-15.24129687,  47.10367602,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ]])

In [50]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
0,0.000000,38.395097,0.000000,0.000000,0.000000,0.000000,-31.095263,9.209556,0.000000,0.000000,...,0.000000,0.000000,0.000000,28.314849,0.0,0.00000,0.000000,0.0,0.0,0.0
1,0.000000,0.000000,-10.031169,0.000000,1.957359,-1.868597,0.000000,0.000000,0.000000,0.000000,...,0.333331,0.000000,12.245891,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.0
2,-15.241297,47.103676,0.000000,-23.237203,0.000000,0.000000,0.000000,0.000000,-4.943183,90.844505,...,0.000000,24.811327,0.000000,0.000000,0.0,0.00000,-10.431182,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-16.203382,...,-6.687645,0.000000,0.000000,0.000000,0.0,-8.37712,0.000000,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,-10.874811,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11.186806,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.0

In [51]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], dtype=int64),
 array([  1,   6,   7,  15,  16,  20,  21,  23,  24,  30,  31,  32,  35,
         39,  41,  44,  56,  58,  61,  66,  70,  73,  79,  83,  85,  87,
         93,  94,  96, 104, 110, 116, 119, 129, 136, 138, 142, 144, 165,
        168, 169, 173, 182, 183, 184, 188, 191, 195, 203, 204, 206, 216,
        219, 220, 222, 228, 230, 235, 244, 247, 251, 252, 253, 257, 268,
        272, 280, 286, 291, 297, 298, 300, 302, 303, 307, 310, 315,   2,
          4,   5,  21,  22,  25,  26,  31,  32,  37,  46,  48,  49,  54,
         57,  66,  71,  78,  83,  87,  97, 100, 101, 103, 106, 109, 112,
        116, 121, 123, 125, 134, 139, 142, 145, 151, 160, 163, 169, 171,
        174, 175, 178, 179, 187, 188, 189, 190, 194, 208, 219, 224, 236,
        238, 243, 244, 252, 257, 258, 261, 262, 265, 266, 273, 275, 281,
        284, 285, 286, 303, 310, 311, 312, 314,   0,   1,   3,   8,   9,
         23,  25,  26,  28,  29,  41,  44,  47,  52,  54,  61,  62,  73,
         74,  75,  76,  91, 100, 103, 112, 114, 115, 119, 121, 122, 124,
        128, 133, 137, 138, 150, 152, 165, 168, 174, 176, 177, 182, 188,
        192, 200, 204, 205, 213, 217, 218, 231, 234, 250, 252, 255, 259,
        264, 267, 275, 277, 282, 283, 285, 288, 290, 300, 310, 311, 313,
        318,   9,  16,  17,  24,  27,  35,  52,  56,  58,  61,  63,  65,
         66,  67,  75,  76,  77,  79,  88,  98, 112, 120, 123, 134, 135,
        137, 145, 147, 148, 149, 153, 155, 156, 157, 159, 164, 165, 166,
        168, 172, 174, 175, 176, 179, 181, 182, 185, 205, 210, 214, 217,
        218, 220, 223, 224, 225, 226, 229, 231, 241, 246, 249, 250, 256,
        264, 268, 270, 275, 276, 280, 283, 289, 296, 299, 300, 301, 307,
        312, 317,   3,  13,  15,  17,  23,  27,  33,  35,  38,  41,  47,
         49,  51,  52,  62,  66,  68,  71,  73,  78,  79,  82,  84,  85,
         86,  89,  91,  92,  95,  96,  98, 106, 120, 130, 132, 133, 137,
        147, 161, 162, 172, 175, 184, 189, 190, 195, 199, 211, 212, 227,
        230, 235, 236, 237, 242, 245, 256, 264, 268, 270, 276, 277, 288,
        291, 297, 311, 313], dtype=int64))

In [52]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[1,
  6,
  7,
  15,
  16,
  20,
  21,
  23,
  24,
  30,
  31,
  32,
  35,
  39,
  41,
  44,
  56,
  58,
  61,
  66,
  70,
  73,
  79,
  83,
  85,
  87,
  93,
  94,
  96,
  104,
  110,
  116,
  119,
  129,
  136,
  138,
  142,
  144,
  165,
  168,
  169,
  173,
  182,
  183,
  184,
  188,
  191,
  195,
  203,
  204,
  206,
  216,
  219,
  220,
  222,
  228,
  230,
  235,
  244,
  247,
  251,
  252,
  253,
  257,
  268,
  272,
  280,
  286,
  291,
  297,
  298,
  300,
  302,
  303,
  307,
  310,
  315],
 [2,
  4,
  5,
  21,
  22,
  25,
  26,
  31,
  32,
  37,
  46,
  48,
  49,
  54,
  57,
  66,
  71,
  78,
  83,
  87,
  97,
  100,
  101,
  103,
  106,
  109,
  112,
  116,
  121,
  123,
  125,
  134,
  139,
  142,
  145,
  151,
  160,
  163,
  169,
  171,
  174,
  175,
  178,
  179,
  187,
  188,
  189,
  190,
  194,
  208,
  219,
  224,
  236,
  238,
  243,
  244,
  252,
  257,
  258,
  261,
  262,
  265,
  266,
  273,
  275,
  281,
  284,
  285,
  286,
  303,
  310,
  311,
  312,
  314],
 [0,
  1,
  3,
  8,
  9,
  23,
  25,
  26,
  28,
  29,
  41,
  44,
  47,
  52,
  54,
  61,
  62,
  73,
  74,
  75,
  76,
  91,
  100,
  103,
  112,
  114,
  115,
  119,
  121,
  122,
  124,
  128,
  133,
  137,
  138,
  150,
  152,
  165,
  168,
  174,
  176,
  177,
  182,
  188,
  192,
  200,
  204,
  205,
  213,
  217,
  218,
  231,
  234,
  250,
  252,
  255,
  259,
  264,
  267,
  275,
  277,
  282,
  283,
  285,
  288,
  290,
  300,
  310,
  311,
  313,
  318],
 [9,
  16,
  17,
  24,
  27,
  35,
  52,
  56,
  58,
  61,
  63,
  65,
  66,
  67,
  75,
  76,
  77,
  79,
  88,
  98,
  112,
  120,
  123,
  134,
  135,
  137,
  145,
  147,
  148,
  149,
  153,
  155,
  156,
  157,
  159,
  164,
  165,
  166,
  168,
  172,
  174,
  175,
  176,
  179,
  181,
  182,
  185,
  205,
  210,
  214,
  217,
  218,
  220,
  223,
  224,
  225,
  226,
  229,
  231,
  241,
  246,
  249,
  250,
  256,
  264,
  268,
  270,
  275,
  276,
  280,
  283,
  289,
  296,
  299,
  300,
  301,
  307,
  312,
  317],
 [3,
  13,
  15,
  17,
  23,
  27,
  33,
  35,
  38,
  41,
  47,
  49,
  51,
  52,
  62,
  66,
  68,
  71,
  73,
  78,
  79,
  82,
  84,
  85,
  86,
  89,
  91,
  92,
  95,
  96,
  98,
  106,
  120,
  130,
  132,
  133,
  137,
  147,
  161,
  162,
  172,
  175,
  184,
  189,
  190,
  195,
  199,
  211,
  212,
  227,
  230,
  235,
  236,
  237,
  242,
  245,
  256,
  264,
  268,
  270,
  276,
  277,
  288,
  291,
  297,
  311,
  313]]

In [53]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[38.395096767956026,
  -31.095262771841387,
  9.209555738641889,
  11.08938109664133,
  33.897621290440945,
  -27.381407096607592,
  -6.999787674609742,
  -9.713107236912803,
  -33.597621290440934,
  -8.524252571275214,
  10.0,
  -9.259281516619726,
  -14.379022396614022,
  -8.609831494386755,
  10.873815794187008,
  -14.38946986187905,
  -4.996329734351496,
  -5.929452180099424,
  -37.682086624604246,
  10.6,
  8.512186151688008,
  11.786923031099814,
  -8.95962932810158,
  -9.453270581711552,
  -14.153186361473551,
  10.116119282637193,
  20.40697920586487,
  -9.908864145501596,
  -13.646672240000218,
  26.57175542136281,
  -20.89189876957148,
  9.859281516619728,
  -36.24537730543833,
  -32.340061798236206,
  33.0857070331995,
  23.65980674802037,
  -9.522730059887897,
  8.905360880312946,
  10.748933297768653,
  -14.664443258955103,
  -8.952204339395852,
  -9.777177382518351,
  40.228886517910205,
  30.965436333824766,
  9.909651018688946,
  -9.70734369460532,
  9.925699460423333,
  15.71458228671777,
  33.926152495346074,
  -10.40478296264014,
  -31.11691425591978,
  31.29887797543636,
  -7.029728354090869,
  -10.0,
  10.390981859758284,
  -27.951629827680886,
  -14.61754360764604,
  -10.090348981311056,
  1.5249926683117494,
  -27.458584479125946,
  -6.118847605724523,
  -10.0,
  27.07875924189779,
  -7.533295538396784,
  -2.0395111983070118,
  -31.692661684644566,
  6.29575609510357,
  -9.559281516619729,
  -15.649257155875555,
  -10.14801652972287,
  6.085405964112928,
  -10.14893329776865,
  10.349260438558256,
  8.597810323980651,
  9.600573639247926,
  -9.692656305394676,
  28.31484873821919],
 [-10.031169195106694,
  1.9573591830221109,
  -1.8685966375621785,
  11.24342598670179,
  1.8939449036731857,
  -18.88983850054247,
  -15.463395943602233,
  9.999999999999998,
  -18.504466574886095,
  13.466666005399006,
  -3.964357780224422,
  2.236580567094679,
  -10.05196919851159,
  -15.01772719647633,
  -1.9423426154506949,
  10.6,
  10.528883922969143,
  -13.568551631129255,
  -10.424934782266883,
  19.222166680310885,
  10.173918653454663,
  11.398456978630232,
  -1.414896195166765,
  10.0,
  14.064613234106075,
  -1.4939026971827816,
  11.282492612357338,
  19.104466574886096,
  -19.02121542419581,
  0.5969837338382342,
  -1.3177989487111927,
  10.152717266105604,
  -3.7369702405801637,
  -18.490099681687592,
  0.3068393350051649,
  10.352335368656824,
  -9.572654666846145,
  -1.2364794799646033,
  4.931362623345116,
  1.8836132051335954,
  -10.029817638403964,
  -9.549735736761713,
  -1.636638195491913,
  10.631926382562627,
  -13.736245312633478,
  -9.970566458994368,
  10.123705359010287,
  -3.4709226850301103,
  -9.826081346545338,
  13.837551505732396,
  10.796992094879993,
  10.289668090033523,
  -3.771542768497946,
  -10.111696772278181,
  14.094974722950576,
  10.646829441326856,
  -10.000000000000002,
  11.40422677172209,
  13.54617403164354,
  13.778190102111042,
  -13.549939082455607,
  -13.436877305937736,
  1.6676332531644649,
  2.1583941558558983,
  -10.352674973953377,
  10.433107381509872,
  -9.711524096712033,
  10.154331252874101,
  -18.804466574886096,
  4.237703740691406,
  -9.429433541005633,
  -18.485589986707193,
  0.33333118535658335,
  12.245891427150998],
 [-15.24129687091633,
  47.10367602290054,
  -23.23720303612888,
  -4.943182775046688,
  90.84450492675695,
  -9.853736851019029,
  -5.600489322818145,
  5.463763778644601,
  -2.3802457935643986,
  2.3099093531426362,
  20.249123401268672,
  -35.85433983446723,
  -9.36293807918488,
  0.3,
  5.500273883367398,
  -566.023132502202,
  -2.7600777666417793,
  21.302860252287704,
  -7.9795264002984725,
  -79.30821318383968,
  -83.19932029514544,
  3.57592951725514,
  -3.194989635745791,
  10.0,
  -6.799302779722499,
  -27.14844925327511,
  -1.2969900461741295,
  -44.06400472069812,
  -5.53547192364797,
  9.647925842101474,
  -9.066188124624707,
  33.771610526568516,
  -9.578789829798241,
  14.69941877904406,
  35.997040645586196,
  2.3099093531426362,
  8.351332908959273,
  19.047483756579123,
  -291.28279188596963,
  -9.239836286322802,
  81.03579358691454,
  33.75334824404528,
  593.4655837719394,
  -9.774026443141329,
  -8.014808343912806,
  -27.14844925327511,
  -10.531606932372341,
  80.82742768483335,
  3.0684286806180783,
  8.327293423488236,
  83.49932029514544,
  -7.809870743803371,
  -2.866549705621648,
  -5.563766715257332,
  -10.0,
  45.88283502265293,
  -45.3984670192926,
  15.069910060729722,
  46.80393047803144,
  6.939139066045303,
  -8.66829649877328,
  45.16991571568441,
  99.36308701040277,
  10.563489895277204,
  -18.080678013450598,
  -3.2456571372148577,
  -18.447483756579082,
  -9.625973556858671,
  2.9999571795434488,
  24.811326877759118,
  -10.431181589491738],
 [-16.20338194143119,
  -1.047830228502306,
  -8.496013484821242,
  1.3478302285023063,
  -3.188715216573711,
  0.9774952988229827,
  0.3,
  2.5381914589991736,
  2.7568923828595433,
  19.245794521161873,
  1.749229969424597,
  -11.402969532865594,
  10.6,
  -3.656522221074998,
  18.004147024432612,
  18.416198046204205,
  8.330450049667594,
  -9.420324858964689,
  -1.3085860383855217,
  4.163557893383581,
  -25.88387701069992,
  1.5562711872926,
  14.802854080074672,
  10.044323081754596,
  -7.311054908136043,
  7.513020569803397,
  -13.174727674176538,
  9.03926233334565,
  -1.5712543109895378,
  -6.479188424515185,
  11.881455917400356,
  -8.427015562325693,
  2.8869134361361484,
  1.8766194025869745,
  8.720565785897826,
  -8.377120160854023,
  9.854778096526253,
  0.30489658236356365,
  15.140730115791557,
  10.150218948047428,
  -8.406044208270393,
  -9.666907123234576,
  -17.576310419222796,
  16.87572911720996,
  -8.251301772440305,
  -19.38146023158311,
  -1.4832783760715045,
  -17.380749581821767,
  11.981246720343695,
  3.3844354026955807,
  -6.638638393525051,
  -18.116198046204204,
  -10.0,
  -8.098842973375925,
  10.409547592185287,
  -4.859964726603052,
  -11.599895409173179,
  -2.8501145663609835,
  -9.71550465089173,
  -1.0993345679529267,
  3.630745954375133,
  -1.6367586273352914,
  6.398750766543645,
  -0.014596536495063685,
  7.775715878350448,
  5.638747649411492,
  -5.496979661455688,
  25.189921218970312,
  -5.046322817313411,
  -2.2680126560948684,
  -14.214948812747847,
  -8.224092605226103,
  0.19796834427218996,
  13.523285974418863,
  -9.254778096526252,
  0.1302042446775813,
  10.629821197095696,
  -6.687644720475776,
  -8.377120160854023],
 [-10.874811161449456,
  2.8955625847215085,
  11.989563750019785,
  2.2242918967541425,
  -9.249878596149456,
  6.298244508212877,
  6.277562693142171,
  9.696490384459592,
  6.9136408298382435,
  -20.008093590036367,
  -9.994002815706546,
  -10.011082823189643,
  -0.19029178170548652,
  0.29999999999999993,
  -10.368917533940353,
  10.6,
  3.156689499740081,
  10.576860058519467,
  -19.558214993886914,
  -10.761020525688807,
  -9.681894711533786,
  2.8420902846938616,
  3.096456897232066,
  11.345924461533015,
  -10.148112820635506,
  2.4195246139859456,
  10.986899386921209,
  3.4228773524628,
  10.680041305561636,
  -1.0365078890002932,
  -5.870935030054987,
  11.338854879309523,
  10.065151669764546,
  -9.328283110374471,
  -2.537565699225861,
  -10.011984668687402,
  -9.622797072396718,
  -2.0269423002373084,
  2.1122279592694317,
  -10.094640520607854,
  10.113218578343762,
  -9.514563834606902,
  10.290046815126495,
  10.107713313826846,
  -2.9058704218818643,
  -11.306111722038988,
  -2.7165641419736835,
  -6.103434239938643,
  2.970388496662552,
  10.25748154046691,
  11.655861548036299,
  -9.709953184873505,
  -3.2793609710385305,
  9.950178980137206,
  -9.543776637931247,
  3.1793992562195483,
  2.452094777082532,
  -9.61713902848267,
  9.998245192229795,
  -9.87905310992874,
  -9.539397374897456,
  -9.064036294038287,
  10.798977912493452,
  9.316564070389425,
  -9.36021945724642,
  -11.241592243374088,
  11.186805530036368]]

In [54]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[42,
  0,
  48,
  4,
  34,
  51,
  43,
  76,
  62,
  29,
  35,
  26,
  47,
  21,
  3,
  14,
  38,
  19,
  54,
  72,
  25,
  10,
  46,
  44,
  31,
  74,
  2,
  37,
  73,
  20,
  66,
  70,
  58,
  64,
  16,
  17,
  60,
  6,
  52,
  63,
  9,
  13,
  40,
  22,
  11,
  23,
  36,
  67,
  75,
  45,
  7,
  41,
  27,
  53,
  61,
  57,
  69,
  71,
  49,
  28,
  24,
  12,
  15,
  56,
  39,
  68,
  30,
  5,
  59,
  55,
  1,
  50,
  65,
  33,
  8,
  32,
  18],
 [19,
  27,
  54,
  24,
  49,
  59,
  58,
  9,
  73,
  57,
  21,
  26,
  3,
  50,
  55,
  43,
  15,
  16,
  65,
  35,
  51,
  20,
  67,
  31,
  46,
  23,
  7,
  38,
  69,
  11,
  63,
  1,
  4,
  39,
  62,
  29,
  72,
  34,
  37,
  30,
  22,
  25,
  42,
  2,
  14,
  47,
  32,
  52,
  10,
  70,
  41,
  36,
  66,
  48,
  45,
  56,
  40,
  0,
  12,
  53,
  64,
  18,
  61,
  60,
  17,
  44,
  13,
  6,
  71,
  33,
  8,
  68,
  5,
  28],
 [42,
  62,
  4,
  50,
  40,
  47,
  1,
  58,
  55,
  61,
  34,
  31,
  41,
  69,
  17,
  10,
  37,
  57,
  33,
  63,
  23,
  29,
  36,
  49,
  59,
  14,
  7,
  21,
  48,
  68,
  9,
  35,
  13,
  26,
  8,
  16,
  52,
  22,
  65,
  3,
  28,
  53,
  6,
  24,
  51,
  18,
  44,
  60,
  30,
  39,
  12,
  32,
  67,
  43,
  5,
  54,
  70,
  46,
  0,
  64,
  66,
  2,
  25,
  45,
  11,
  27,
  56,
  19,
  20,
  38,
  15],
 [67,
  9,
  15,
  14,
  43,
  38,
  22,
  73,
  48,
  30,
  76,
  12,
  54,
  39,
  23,
  36,
  27,
  34,
  16,
  64,
  25,
  62,
  65,
  19,
  60,
  49,
  32,
  8,
  7,
  33,
  10,
  21,
  3,
  5,
  37,
  6,
  72,
  75,
  63,
  1,
  59,
  18,
  46,
  28,
  61,
  69,
  57,
  4,
  13,
  55,
  68,
  66,
  29,
  50,
  77,
  24,
  53,
  71,
  44,
  35,
  78,
  40,
  31,
  2,
  74,
  17,
  41,
  58,
  52,
  11,
  56,
  26,
  70,
  0,
  47,
  42,
  51,
  45,
  20],
 [2,
  50,
  23,
  31,
  66,
  26,
  62,
  28,
  15,
  17,
  42,
  49,
  40,
  43,
  32,
  58,
  53,
  7,
  63,
  8,
  5,
  6,
  27,
  55,
  16,
  22,
  48,
  1,
  21,
  56,
  25,
  3,
  38,
  13,
  12,
  29,
  37,
  34,
  46,
  44,
  52,
  30,
  47,
  61,
  4,
  33,
  64,
  41,
  60,
  54,
  57,
  36,
  20,
  51,
  59,
  10,
  11,
  35,
  39,
  24,
  14,
  19,
  0,
  65,
  45,
  18,
  9]]

In [55]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[182,
  1,
  203,
  16,
  136,
  216,
  183,
  315,
  253,
  104,
  138,
  93,
  195,
  73,
  15,
  41,
  165,
  66,
  222,
  302,
  87,
  31,
  191,
  184,
  116,
  307,
  7,
  144,
  303,
  70,
  280,
  298,
  244,
  268,
  56,
  58,
  251,
  21,
  219,
  257,
  30,
  39,
  169,
  79,
  32,
  83,
  142,
  286,
  310,
  188,
  23,
  173,
  94,
  220,
  252,
  235,
  297,
  300,
  204,
  96,
  85,
  35,
  44,
  230,
  168,
  291,
  110,
  20,
  247,
  228,
  6,
  206,
  272,
  129,
  24,
  119,
  61],
 [87,
  116,
  243,
  106,
  208,
  261,
  258,
  37,
  314,
  257,
  100,
  112,
  21,
  219,
  244,
  179,
  66,
  71,
  281,
  151,
  224,
  97,
  285,
  134,
  189,
  103,
  31,
  169,
  303,
  48,
  273,
  4,
  22,
  171,
  266,
  123,
  312,
  145,
  163,
  125,
  101,
  109,
  178,
  5,
  57,
  190,
  139,
  236,
  46,
  310,
  175,
  160,
  284,
  194,
  188,
  252,
  174,
  2,
  49,
  238,
  275,
  83,
  265,
  262,
  78,
  187,
  54,
  26,
  311,
  142,
  32,
  286,
  25,
  121],
 [182,
  283,
  9,
  218,
  176,
  205,
  1,
  267,
  255,
  282,
  138,
  128,
  177,
  313,
  73,
  41,
  165,
  264,
  137,
  285,
  103,
  122,
  152,
  217,
  275,
  54,
  26,
  91,
  213,
  311,
  29,
  150,
  52,
  115,
  28,
  62,
  234,
  100,
  290,
  8,
  121,
  250,
  25,
  112,
  231,
  74,
  192,
  277,
  124,
  174,
  47,
  133,
  310,
  188,
  23,
  252,
  318,
  204,
  0,
  288,
  300,
  3,
  114,
  200,
  44,
  119,
  259,
  75,
  76,
  168,
  61],
 [275,
  61,
  76,
  75,
  179,
  168,
  123,
  299,
  210,
  153,
  307,
  66,
  224,
  172,
  134,
  165,
  147,
  159,
  77,
  264,
  137,
  250,
  268,
  98,
  246,
  214,
  156,
  58,
  56,
  157,
  63,
  120,
  24,
  35,
  166,
  52,
  296,
  301,
  256,
  16,
  241,
  88,
  185,
  148,
  249,
  280,
  229,
  27,
  67,
  225,
  276,
  270,
  149,
  217,
  312,
  135,
  223,
  289,
  181,
  164,
  317,
  174,
  155,
  17,
  300,
  79,
  175,
  231,
  220,
  65,
  226,
  145,
  283,
  9,
  205,
  176,
  218,
  182,
  112],
 [15,
  230,
  85,
  106,
  313,
  91,
  288,
  95,
  66,
  71,
  184,
  227,
  172,
  189,
  120,
  268,
  237,
  35,
  291,
  38,
  27,
  33,
  92,
  245,
  68,
  84,
  212,
  13,
  82,
  256,
  89,
  17,
  161,
  52,
  51,
  96,
  147,
  132,
  199,
  190,
  236,
  98,
  211,
  277,
  23,
  130,
  297,
  175,
  276,
  242,
  264,
  137,
  79,
  235,
  270,
  47,
  49,
  133,
  162,
  86,
  62,
  78,
  3,
  311,
  195,
  73,
  41]]

In [56]:
# output dataframe with user ids a

recommendations_movies = pd.DataFrame(rec_list)

recommendations_movies.to_csv('movie_recommendations.csv', index = False)
recommendations_movies

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,182,1,203,16,136,216,183,315,253,104,...,228.0,6.0,206.0,272.0,129.0,24.0,119.0,61.0,NaN,NaN
1,87,116,243,106,208,261,258,37,314,257,...,142.0,32.0,286.0,25.0,121.0,NaN,NaN,NaN,NaN,NaN
2,182,283,9,218,176,205,1,267,255,282,...,168.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,275,61,76,75,179,168,123,299,210,153,...,65.0,226.0,145.0,283.0,9.0,205.0,176.0,218.0,182.0,112.0
4,15,230,85,106,313,91,288,95,66,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
pd.read_csv('movie_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,182,1,203,16,136,216,183,315,253,104,...,228.0,6.0,206.0,272.0,129.0,24.0,119.0,61.0,NaN,NaN
1,87,116,243,106,208,261,258,37,314,257,...,142.0,32.0,286.0,25.0,121.0,NaN,NaN,NaN,NaN,NaN
2,182,283,9,218,176,205,1,267,255,282,...,168.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,275,61,76,75,179,168,123,299,210,153,...,65.0,226.0,145.0,283.0,9.0,205.0,176.0,218.0,182.0,112.0
4,15,230,85,106,313,91,288,95,66,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN