In [87]:
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
import json
import pandas as pd
import numpy as np
import os

In [88]:
current_dir = os.getcwd()  # gets current working directory
project_dir = os.path.dirname(current_dir)  
directory_path = os.path.dirname(current_dir) + os.sep + 'data' + os.sep

show_activities = pd.read_json(directory_path + 'show_activities.json')

## Shows

In [89]:
show_activities

      content_id activity  user_id                   datetime
0          10076     Like        3 2023-04-02 13:03:59.911611
1          10607     Like        3 2023-04-02 13:03:59.911646
2          10357  Dislike        3 2023-04-02 13:03:59.911665
3          10346     Play        0 2023-04-02 13:03:59.911681
4          10159     Like        2 2023-04-02 13:03:59.911698
...          ...      ...      ...                        ...
4995       10157     Play        1 2023-04-02 13:03:59.985805
4996       10471     Like        2 2023-04-02 13:03:59.985819
4997       10248     Play        0 2023-04-02 13:03:59.985832
4998       10524  Dislike        4 2023-04-02 13:03:59.985846
4999       10026     Like        0 2023-04-02 13:03:59.985860

[5000 rows x 4 columns]

In [90]:
# Variables for adjusting formula

clicks = 0.3
like = 10
dislike = -10

# current formula is clicks * 0.3 +/-10 (+10 for like and -10 for dislike)

In [91]:
# getting likes/dislikes
likes_dislikes = show_activities.loc[np.where((show_activities['activity'] == 'Like') ^ (show_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
user_id,,,,,,,,,,,,,,,,,,,,,
0,10.0,0.0,0.0,10.0,0.0,-10.0,0.0,-10.0,0.0,-10.0,...,10.0,10.0,10.0,0.0,-10.0,10,10.0,10.0,10.0,10.0
1,0.0,10.0,10.0,0.0,10.0,10.0,10.0,0.0,0.0,0.0,...,10.0,-10.0,-10.0,10.0,-10.0,-10,10.0,-10.0,10.0,0.0
2,-10.0,-10.0,-10.0,-10.0,-10.0,10.0,0.0,0.0,10.0,0.0,...,0.0,-10.0,10.0,0.0,0.0,10,10.0,0.0,0.0,0.0
3,0.0,10.0,0.0,10.0,10.0,-10.0,-10.0,10.0,10.0,0.0,...,0.0,0.0,10.0,10.0,10.0,10,0.0,10.0,-10.0,10.0
4,10.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,10.0,0.0,0.0,0.0,-10,10.0,0.0,10.0,10.0

In [92]:
max_length = list(unstacked.columns)[-1] + 1

max_length

10624

In [93]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[  0.,   0.,   0., ...,  10.,  10.,  10.],
       [  0.,   0.,   0., ..., -10.,  10.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,  10., -10.,  10.],
       [  0.,   0.,   0., ...,   0.,  10.,  10.]])

In [94]:
# creating sparse matrix for plays

plays = show_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

array([[0. , 0. , 0. , ..., 0. , 0.3, 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0.3],
       [0. , 0. , 0. , ..., 0.9, 0. , 0. ],
       [0. , 0. , 0. , ..., 0.3, 0. , 0. ],
       [0. , 0. , 0. , ..., 0.6, 0.3, 0. ]])

In [95]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,10.0,10.3,0.0,-10.0,10.6,10.0,10.0,10.3,10.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,-10.0,-9.7,10.3,-10.0,-9.7,10.0,-10.0,10.0,0.3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,-9.7,10.6,0.0,0.3,10.6,10.3,0.9,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.6,10.6,10.3,10.0,10.0,0.3,10.3,-10.0,10.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.6,0.0,0.0,0.3,-10.0,10.0,0.6,10.3,10.0

In [96]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,10.3,0.3,0.0,10.0,0.6,-10.0,0.9,-10.0,0.0,-10.0,...,10.0,10.0,10.3,0.0,-10.0,10.6,10.0,10.0,10.3,10.0
1,0.0,10.3,10.3,0.3,10.0,10.3,10.0,0.3,0.0,0.3,...,10.0,-10.0,-9.7,10.3,-10.0,-9.7,10.0,-10.0,10.0,0.3
2,-10.0,-10.0,-10.0,-9.7,-10.0,10.6,0.0,0.3,10.0,0.3,...,0.3,-9.7,10.6,0.0,0.3,10.6,10.3,0.9,0.0,0.0
3,0.3,10.3,0.0,10.3,10.3,-10.0,-9.4,10.0,10.3,1.2,...,0.0,0.6,10.6,10.3,10.0,10.0,0.3,10.3,-10.0,10.0
4,10.0,0.3,0.6,-9.4,0.0,0.6,0.0,0.3,0.0,10.3,...,0.0,10.6,0.0,0.0,0.3,-10.0,10.0,0.6,10.3,10.0

In [97]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [98]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [99]:
# Function to predict a user's rating for an item
def predict_rating(user_item_matrix, user_id, item_id):
    # Find the most similar users to the given user
    similar_users = np.argsort(user_similarities[user_id])[::-1][1:]
    
    # Compute weighted average of their ratings for the item 
    weighted_sum = 0
    weight_sum = 0   
    for sim_user in similar_users:
        if user_item_matrix[sim_user][item_id] != 0:
            similarity = user_similarities[user_id][sim_user]
            rating = user_item_matrix[sim_user][item_id]
            weighted_sum += similarity * rating            
            weight_sum += similarity   
    if weight_sum == 0:
        return 0
    else:
        return weighted_sum / weight_sum
    # Example usage:
    # Predict user 0's rating for item 2
    #predicted_rating = predict_rating(0, 2)
    #print(predicted_rating)

In [100]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([    0,     1,     2, ..., 10614, 10616, 10617])

In [101]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 7.06435775,
        7.67759827],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [102]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,10.3,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,10.3,0.0,0.0,0.0,0.0,7.064358,7.677598
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.213758,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.689658,0.0,8.014214,10.3,0.0,0.0,0.0,0.0,0.000000,0.000000

In [103]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]),
 array([10002, 10008, 10015, 10020, 10021, 10024, 10028, 10031, 10036,
        10038, 10066, 10067, 10081, 10083, 10086, 10094, 10100, 10102,
        10106, 10114, 10115, 10116, 10122, 10123, 10124, 10128, 10147,
        10149, 10157, 10159, 10166, 10169, 10176, 10178, 10187, 10189,
        10191, 10193, 10195, 10197, 10203, 10207, 10217, 10225, 10232,
        10233, 10242, 10245, 10261, 10268, 10271, 10292, 10305, 10308,
        10309, 10316, 10318, 10323, 10328, 10344, 10355, 10356, 10357,
        10358, 10359, 10378, 10382, 10399, 10412, 10417, 10424, 10425,
        10427, 10447, 10448, 10450, 10453, 10464, 10466, 10489, 10491,
        10498, 10502, 10504, 10505, 10509, 10513, 10517, 10521, 10529,
        10531, 10542, 10547, 10548, 10551, 10552, 10555, 10557, 10558,
        10559, 10561, 10563, 10568, 10571, 10581, 10585, 10594, 10602,
        10603, 10604, 10605, 10609, 10617, 10000, 10008, 10010, 10019,
        10025, 10030, 10031, 10041, 10046, 10048, 10052, 10066, 10071,
        10073, 10074, 10087, 10089, 10093, 10095, 10101, 10102, 10104,
        10105, 10107, 10114, 10118, 10124, 10126, 10128, 10132, 10135,
        10136, 10140, 10141, 10148, 10155, 10160, 10164, 10165, 10169,
        10171, 10178, 10179, 10180, 10184, 10186, 10187, 10191, 10192,
        10201, 10204, 10208, 10244, 10250, 10257, 10260, 10275, 10278,
        10280, 10286, 10288, 10290, 10293, 10296, 10301, 10307, 10308,
        10315, 10320, 10321, 10331, 10332, 10337, 10341, 10354, 10357,
        10361, 10367, 10374, 10381, 10384, 10388, 10397, 10400, 10412,
        10416, 10418, 10419, 10434, 10435, 10440, 10444, 10445, 10450,
        10452, 10456, 10458, 10461, 10471, 10476, 10478, 10480, 10486,
        10497, 10509, 10515, 10516, 10524, 10531, 10542, 10547, 10552,
        10573, 10575, 10580, 10582, 10595, 10596, 10607, 10610, 10612,
        10006, 10013, 10016, 10027, 10031, 10034, 10036, 10038, 10044,
        10051, 10057, 10058, 10064, 10069, 10079, 10087, 10088, 10093,
        10097, 10122, 10128, 10138, 10147, 10148, 10154, 10160, 10163,
        10164, 10166, 10177, 10181, 10190, 10203, 10207, 10210, 10212,
        10221, 10225, 10226, 10228, 10237, 10246, 10247, 10253, 10255,
        10256, 10259, 10267, 10271, 10274, 10283, 10295, 10297, 10303,
        10304, 10308, 10310, 10311, 10325, 10330, 10333, 10338, 10341,
        10357, 10361, 10365, 10366, 10369, 10374, 10378, 10381, 10384,
        10385, 10387, 10401, 10403, 10404, 10407, 10412, 10413, 10419,
        10422, 10425, 10429, 10431, 10435, 10442, 10443, 10444, 10447,
        10448, 10454, 10455, 10456, 10458, 10463, 10466, 10468, 10474,
        10488, 10491, 10493, 10495, 10505, 10512, 10517, 10519, 10520,
        10524, 10525, 10526, 10529, 10539, 10541, 10547, 10550, 10556,
        10557, 10564, 10565, 10568, 10572, 10577, 10581, 10582, 10584,
        10586, 10587, 10588, 10592, 10593, 10607, 10608, 10610, 10617,
        10622, 10623, 10002, 10010, 10012, 10019, 10020, 10021, 10026,
        10027, 10031, 10033, 10041, 10042, 10043, 10053, 10059, 10061,
        10064, 10065, 10088, 10102, 10106, 10115, 10117, 10122, 10129,
        10131, 10135, 10138, 10139, 10144, 10158, 10160, 10177, 10182,
        10184, 10187, 10197, 10200, 10205, 10209, 10212, 10215, 10216,
        10223, 10243, 10247, 10250, 10253, 10256, 10271, 10276, 10277,
        10279, 10281, 10283, 10290, 10302, 10317, 10320, 10323, 10326,
        10327, 10328, 10331, 10341, 10342, 10353, 10355, 10363, 10367,
        10369, 10375, 10388, 10390, 10396, 10404, 10405, 10409, 10418,
        10421, 10425, 10428, 10431, 10433, 10437, 10440, 10450, 10454,
        10455, 10457, 10458, 10460, 10463, 10474, 10481, 10488, 10491,
        10492, 10497, 10499, 10507, 10509, 10511, 10512, 10515, 10518,
        10528, 10531, 10533, 10538, 10541, 10543, 10549, 10550, 10551,
        10557, 10560, 10565, 10568, 10579, 10582, 10600, 10601, 10603,
        10606, 10614, 10004, 10006, 10008, 10013, 10021, 10027, 10032,
        10040, 10048, 10049, 10054, 10056, 10058, 10061, 10066, 10070,
        10071, 10072, 10078, 10080, 10098, 10101, 10104, 10114, 10116,
        10121, 10125, 10128, 10129, 10132, 10133, 10140, 10146, 10154,
        10155, 10156, 10159, 10168, 10171, 10173, 10174, 10175, 10176,
        10182, 10205, 10210, 10225, 10227, 10231, 10233, 10234, 10238,
        10239, 10240, 10243, 10254, 10255, 10277, 10282, 10292, 10295,
        10300, 10301, 10318, 10336, 10341, 10342, 10351, 10353, 10356,
        10361, 10364, 10375, 10376, 10377, 10379, 10381, 10387, 10390,
        10391, 10393, 10394, 10399, 10401, 10410, 10412, 10416, 10429,
        10430, 10446, 10453, 10456, 10461, 10462, 10465, 10468, 10470,
        10478, 10482, 10483, 10485, 10492, 10495, 10499, 10502, 10507,
        10509, 10511, 10528, 10529, 10534, 10550, 10557, 10558, 10559,
        10565, 10566, 10568, 10571, 10572, 10573, 10574, 10577, 10581,
        10600, 10601, 10612, 10614, 10616, 10617]))

In [104]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[10002,
  10008,
  10015,
  10020,
  10021,
  10024,
  10028,
  10031,
  10036,
  10038,
  10066,
  10067,
  10081,
  10083,
  10086,
  10094,
  10100,
  10102,
  10106,
  10114,
  10115,
  10116,
  10122,
  10123,
  10124,
  10128,
  10147,
  10149,
  10157,
  10159,
  10166,
  10169,
  10176,
  10178,
  10187,
  10189,
  10191,
  10193,
  10195,
  10197,
  10203,
  10207,
  10217,
  10225,
  10232,
  10233,
  10242,
  10245,
  10261,
  10268,
  10271,
  10292,
  10305,
  10308,
  10309,
  10316,
  10318,
  10323,
  10328,
  10344,
  10355,
  10356,
  10357,
  10358,
  10359,
  10378,
  10382,
  10399,
  10412,
  10417,
  10424,
  10425,
  10427,
  10447,
  10448,
  10450,
  10453,
  10464,
  10466,
  10489,
  10491,
  10498,
  10502,
  10504,
  10505,
  10509,
  10513,
  10517,
  10521,
  10529,
  10531,
  10542,
  10547,
  10548,
  10551,
  10552,
  10555,
  10557,
  10558,
  10559,
  10561,
  10563,
  10568,
  10571,
  10581,
  10585,
  10594,
  10602,
  10603,
  10604,
  10605,
  10609,
  10617],
 [10000,
  10008,
  10010,
  10019,
  10025,
  10030,
  10031,
  10041,
  10046,
  10048,
  10052,
  10066,
  10071,
  10073,
  10074,
  10087,
  10089,
  10093,
  10095,
  10101,
  10102,
  10104,
  10105,
  10107,
  10114,
  10118,
  10124,
  10126,
  10128,
  10132,
  10135,
  10136,
  10140,
  10141,
  10148,
  10155,
  10160,
  10164,
  10165,
  10169,
  10171,
  10178,
  10179,
  10180,
  10184,
  10186,
  10187,
  10191,
  10192,
  10201,
  10204,
  10208,
  10244,
  10250,
  10257,
  10260,
  10275,
  10278,
  10280,
  10286,
  10288,
  10290,
  10293,
  10296,
  10301,
  10307,
  10308,
  10315,
  10320,
  10321,
  10331,
  10332,
  10337,
  10341,
  10354,
  10357,
  10361,
  10367,
  10374,
  10381,
  10384,
  10388,
  10397,
  10400,
  10412,
  10416,
  10418,
  10419,
  10434,
  10435,
  10440,
  10444,
  10445,
  10450,
  10452,
  10456,
  10458,
  10461,
  10471,
  10476,
  10478,
  10480,
  10486,
  10497,
  10509,
  10515,
  10516,
  10524,
  10531,
  10542,
  10547,
  10552,
  10573,
  10575,
  10580,
  10582,
  10595,
  10596,
  10607,
  10610,
  10612],
 [10006,
  10013,
  10016,
  10027,
  10031,
  10034,
  10036,
  10038,
  10044,
  10051,
  10057,
  10058,
  10064,
  10069,
  10079,
  10087,
  10088,
  10093,
  10097,
  10122,
  10128,
  10138,
  10147,
  10148,
  10154,
  10160,
  10163,
  10164,
  10166,
  10177,
  10181,
  10190,
  10203,
  10207,
  10210,
  10212,
  10221,
  10225,
  10226,
  10228,
  10237,
  10246,
  10247,
  10253,
  10255,
  10256,
  10259,
  10267,
  10271,
  10274,
  10283,
  10295,
  10297,
  10303,
  10304,
  10308,
  10310,
  10311,
  10325,
  10330,
  10333,
  10338,
  10341,
  10357,
  10361,
  10365,
  10366,
  10369,
  10374,
  10378,
  10381,
  10384,
  10385,
  10387,
  10401,
  10403,
  10404,
  10407,
  10412,
  10413,
  10419,
  10422,
  10425,
  10429,
  10431,
  10435,
  10442,
  10443,
  10444,
  10447,
  10448,
  10454,
  10455,
  10456,
  10458,
  10463,
  10466,
  10468,
  10474,
  10488,
  10491,
  10493,
  10495,
  10505,
  10512,
  10517,
  10519,
  10520,
  10524,
  10525,
  10526,
  10529,
  10539,
  10541,
  10547,
  10550,
  10556,
  10557,
  10564,
  10565,
  10568,
  10572,
  10577,
  10581,
  10582,
  10584,
  10586,
  10587,
  10588,
  10592,
  10593,
  10607,
  10608,
  10610,
  10617,
  10622,
  10623],
 [10002,
  10010,
  10012,
  10019,
  10020,
  10021,
  10026,
  10027,
  10031,
  10033,
  10041,
  10042,
  10043,
  10053,
  10059,
  10061,
  10064,
  10065,
  10088,
  10102,
  10106,
  10115,
  10117,
  10122,
  10129,
  10131,
  10135,
  10138,
  10139,
  10144,
  10158,
  10160,
  10177,
  10182,
  10184,
  10187,
  10197,
  10200,
  10205,
  10209,
  10212,
  10215,
  10216,
  10223,
  10243,
  10247,
  10250,
  10253,
  10256,
  10271,
  10276,
  10277,
  10279,
  10281,
  10283,
  10290,
  10302,
  10317,
  10320,
  10323,
  10326,
  10327,
  10328,
  10331,
  10341,
  10342,
  10353,
  10355,
  10363,
  10367,
  10369,
  10375,
  10388,
  10390,
  10396,
  10404,
  10405,
  10409,
  10418,
  10421,
  10425,
  10428,
  10431,
  10433,
  10437,
  10440,
  10450,
  10454,
  10455,
  10457,
  10458,
  10460,
  10463,
  10474,
  10481,
  10488,
  10491,
  10492,
  10497,
  10499,
  10507,
  10509,
  10511,
  10512,
  10515,
  10518,
  10528,
  10531,
  10533,
  10538,
  10541,
  10543,
  10549,
  10550,
  10551,
  10557,
  10560,
  10565,
  10568,
  10579,
  10582,
  10600,
  10601,
  10603,
  10606,
  10614],
 [10004,
  10006,
  10008,
  10013,
  10021,
  10027,
  10032,
  10040,
  10048,
  10049,
  10054,
  10056,
  10058,
  10061,
  10066,
  10070,
  10071,
  10072,
  10078,
  10080,
  10098,
  10101,
  10104,
  10114,
  10116,
  10121,
  10125,
  10128,
  10129,
  10132,
  10133,
  10140,
  10146,
  10154,
  10155,
  10156,
  10159,
  10168,
  10171,
  10173,
  10174,
  10175,
  10176,
  10182,
  10205,
  10210,
  10225,
  10227,
  10231,
  10233,
  10234,
  10238,
  10239,
  10240,
  10243,
  10254,
  10255,
  10277,
  10282,
  10292,
  10295,
  10300,
  10301,
  10318,
  10336,
  10341,
  10342,
  10351,
  10353,
  10356,
  10361,
  10364,
  10375,
  10376,
  10377,
  10379,
  10381,
  10387,
  10390,
  10391,
  10393,
  10394,
  10399,
  10401,
  10410,
  10412,
  10416,
  10429,
  10430,
  10446,
  10453,
  10456,
  10461,
  10462,
  10465,
  10468,
  10470,
  10478,
  10482,
  10483,
  10485,
  10492,
  10495,
  10499,
  10502,
  10507,
  10509,
  10511,
  10528,
  10529,
  10534,
  10550,
  10557,
  10558,
  10559,
  10565,
  10566,
  10568,
  10571,
  10572,
  10573,
  10574,
  10577,
  10581,
  10600,
  10601,
  10612,
  10614,
  10616,
  10617]]

In [105]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[2.138840923211854,
  10.14016803871673,
  9.022396260711268,
  -3.7031052122735955,
  7.4177730221289915,
  3.908228865948771,
  10.36444301963603,
  0.6,
  -1.8723103197419102,
  7.238911370362672,
  10.15983196128327,
  4.5518241041821605,
  -2.182598809143477,
  7.978771102091977,
  2.843831590738331,
  5.497261039089218,
  -0.6342789314205021,
  -1.770743602182073,
  -6.967981450948107,
  4.972267957224348,
  -2.2746894226677825,
  2.4957867365462016,
  -2.2811999745891574,
  1.4282241425875302,
  0.3,
  10.299999999999999,
  10.0,
  -3.3194782550827764,
  9.215680468417178,
  -4.975076757589671,
  4.0620122319496215,
  6.836833368371932,
  6.135499447782186,
  7.302335333915153,
  10.3,
  3.2310332180811185,
  3.514241218794102,
  -4.638917659488339,
  -5.850108947697461,
  2.9370707847588564,
  3.85668507616521,
  7.312446550018126,
  4.1819480443682435,
  10.084494822075627,
  10.294820330515243,
  4.789807341442843,
  8.116767116143643,
  7.749338978976323,
  4.505950061733871,
  8.985303157537965,
  10.19195922293091,
  4.798779467076616,
  -6.998871498916314,
  6.438625490623308,
  8.389088164176297,
  1.9491949970711886,
  -2.796553830175601,
  9.089454798993225,
  4.424458492917981,
  3.422103124032829,
  4.217516051357288,
  0.0009291455408771349,
  10.054234129584419,
  6.459852134408037,
  2.300217895394923,
  10.037119131913373,
  -2.306921331189719,
  7.8051424089946755,
  10.299999999999999,
  4.909581251910002,
  0.46546169736140297,
  3.3972815287273366,
  -2.267688309447438,
  10.13179197612896,
  7.599629469601958,
  -1.710430681730168,
  1.2007670936293986,
  2.963891839533224,
  -2.0776374755263234,
  2.3651335089127317,
  2.797281528727338,
  2.3744041017415283,
  -5.66340935476546,
  -4.383294864374828,
  9.13623078254306,
  -9.1,
  3.6015702813561536,
  8.79981473480098,
  -4.238479647681355,
  7.268000752888099,
  6.5188257160877585,
  8.54613263694885,
  10.354234129584418,
  6.335084810010166,
  -0.6809355348878534,
  7.034287318522828,
  3.3465299496501957,
  0.3,
  0.9474582379889054,
  5.447166850606399,
  3.2450386780430427,
  2.217723343655111,
  10.0,
  -0.8745311588634945,
  10.0,
  6.664546853511721,
  7.527126455113158,
  0.2051852354394047,
  -5.376608037311332,
  2.4851937577076266,
  9.068270303159558,
  -0.6947745860896537,
  10.3],
 [3.8351438170959917,
  10.090059493170717,
  4.626249502946448,
  4.882436225873466,
  8.951598120721428,
  10.116925492042315,
  0.6,
  6.044819849522295,
  0.03976602495122275,
  10.256048175624205,
  1.6726180269438358,
  10.209940506829284,
  -6.813830199322739,
  2.679417834522767,
  -0.032620299117812585,
  3.7061430771829893,
  -7.3078930436470175,
  -2.6871603629923015,
  5.453208936311999,
  1.9019833675130442,
  -5.069704535699881,
  0.3,
  7.717873335729863,
  -7.314275774971073,
  3.3019831056905615,
  4.1437337466574,
  0.30000000000000004,
  5.498518357260029,
  10.3,
  -9.700000000000001,
  4.626249502946448,
  5.303594062799374,
  10.20491495034366,
  -3.888272914630678,
  0.8853337614390959,
  7.362696974042194,
  -5.78762375786232,
  -5.124892212992871,
  -5.232540460340503,
  1.72418048140703,
  -0.23938003015834408,
  6.644697596806388,
  -3.307599223517524,
  2.5773535212480807,
  0.5832791197331326,
  6.396177208083361,
  10.3,
  6.461131506559612,
  6.2974078930501785,
  1.4223354304806617,
  0.045940971935941266,
  4.9170053308196255,
  5.553702815975767,
  -0.8826194023544294,
  7.840973774756897,
  1.9404911141089383,
  2.511349928503103,
  1.732637989850577,
  -2.4525120503976066,
  9.023214191815713,
  -2.37998030315818,
  -9.787790232735608,
  5.592306744931819,
  10.033459634445062,
  3.998581026928441,
  6.291025161726123,
  3.7268582191829336,
  5.209163648002489,
  0.4588595852043485,
  10.155997604836681,
  3.2263410911869284,
  -3.3763545391560656,
  6.636011822006228,
  0.3,
  3.3720360903168407,
  10.095530077880463,
  5.850140465803342,
  7.656938028546204,
  6.961277162933403,
  5.850140465803342,
  -6.586859344939114,
  -4.218387170094884,
  0.3653096805881235,
  10.033459634445062,
  10.3,
  4.115592328520506,
  4.322898283097359,
  10.351562474074298,
  2.8243359058312287,
  6.985634779492283,
  0.5026728622773291,
  7.479190684256109,
  10.071616071094287,
  -4.913305374465903,
  7.991358901244271,
  2.5916776601112796,
  2.703152927888003,
  -6.718745149666399,
  4.437351015333344,
  8.03589806921755,
  0.06061996984165695,
  7.756029772379087,
  3.178027472001329,
  -0.10786233285156255,
  -9.1,
  10.0,
  8.996137288694706,
  0.9917778566752709,
  0.01699008983421657,
  8.227178334451098,
  10.395530077880464,
  1.7685507819306776,
  -3.0815980064598096,
  10.42330822336637,
  4.9170053308196255,
  10.3,
  -2.569437542439921,
  8.068649811856806,
  -3.3016964641180695,
  3.8564809858104536,
  7.22346907539932],
 [1.9318925428708649,
  4.478947272113476,
  6.931079289820312,
  -1.8541896049475055,
  0.6,
  10.046755892481965,
  -1.8522577636797393,
  7.53371250376862,
  8.668260496750515,
  2.4970203091490375,
  8.488226143083121,
  -1.2969925709996015,
  0.3850880896127015,
  -5.139715961311353,
  -2.5373297309667473,
  -1.6189292068705168,
  10.499141180339569,
  -5.129169949585885,
  0.49051638757591753,
  -2.485982943513471,
  10.3,
  -2.369549301675371,
  10.0,
  -5.366744415807169,
  0.13292063339282648,
  -2.1330891814457216,
  0.950344695981833,
  -1.8730406909381636,
  4.669511424686568,
  -5.797371489444047,
  -3.3055336356233465,
  5.64482128021139,
  4.455066708075168,
  7.606909487695148,
  1.4702351728623544,
  4.526601872826132,
  5.737418980819837,
  10.11828674677672,
  8.933262754648375,
  -4.05813505489435,
  3.955055320377377,
  8.490268393833377,
  4.655522236735833,
  8.326317879141076,
  -2.589865091496325,
  10.085088089612702,
  4.178889231420995,
  5.738801876955869,
  10.194941499177382,
  0.5412108929907,
  -3.27687256573506,
  4.648515032504438,
  3.4150172480474295,
  -3.6018610689545363,
  -2.1166370592581476,
  4.883803767827534,
  3.0975630547452506,
  3.7685826077691087,
  4.561857477658354,
  -8.206307892055298,
  7.929459478609595,
  2.8295493024227,
  0.3,
  10.07791161774882,
  0.4457295730385062,
  -1.7811705053754607,
  8.62150460426855,
  3.718987200711195,
  4.457070953479853,
  10.05569244929627,
  0.4457295730385062,
  -3.8607073923407498,
  5.4206241421318815,
  3.0202973311053634,
  -9.74150841615793,
  -4.870766072597172,
  -4.327460692486564,
  8.490268393833377,
  10.3,
  -1.7754999983434372,
  10.413759096934259,
  7.001523251398892,
  3.5960999451587092,
  3.40691863203674,
  10.0,
  5.901718141437965,
  1.1156833386603742,
  8.801538957935941,
  6.552184791063347,
  10.141247732684871,
  6.398554945507804,
  -2.1265758470388034,
  10.0,
  5.37494926988517,
  -4.393030715639375,
  7.390933070832119,
  -2.06670248029114,
  1.763626728575688,
  -0.22569100159104344,
  6.312283399831346,
  2.9960999451587096,
  7.243009208537099,
  -1.2037628257815587,
  8.516782007384162,
  5.562845500795523,
  8.199277472753902,
  2.4814105138047022,
  6.212580302792682,
  -5.41721106543255,
  4.886269088276776,
  -4.814255171582674,
  6.175395187552672,
  -1.9846381983982042,
  4.684487237849997,
  10.377911617748818,
  10.120381434409644,
  7.112496539623737,
  0.3,
  -6.742672823756418,
  6.466904085268932,
  10.0,
  1.383613871930978,
  7.450456876973603,
  9.999999999999998,
  10.3,
  -1.3046262872665846,
  -2.717364084634139,
  7.182940501202316,
  -0.26372614142656026,
  10.094894681099962,
  8.802921854071975,
  0.30268513296061056,
  -0.4207886575604112,
  0.23584063916095888,
  10.3,
  7.06435775100574,
  7.677598267227593],
 [-0.26679070743329886,
  -2.535097673752991,
  9.241813699027933,
  -2.22938453901571,
  -7.244205706801005,
  4.391431306309177,
  -5.005700313629212,
  1.7350532873585787,
  0.6,
  -4.306354469516835,
  8.582123530804468,
  1.7797772385100092,
  2.784306836706766,
  -0.792525297842808,
  10.0,
  3.7186336521324237,
  0.34155719507419596,
  -3.5153486784112604,
  10.455434353924247,
  -2.1550850237315125,
  -5.641802196779224,
  -5.122406855370853,
  7.029921609064137,
  -6.17793460392299,
  6.396657545693756,
  -3.6160036392252612,
  -2.535097673752991,
  -5.274629101461055,
  4.37036713204412,
  -1.0132729073933844,
  8.915981904401491,
  -1.6692346503750868,
  -5.759529058922541,
  5.038313814637785,
  -4.011817477764016,
  10.3,
  5.668184860576144,
  8.89821297009038,
  -3.252926738846062,
  8.146759194796154,
  7.38495468231118,
  -3.645378665405041,
  4.375426322395182,
  -4.744293488236402,
  10.077168788675996,
  7.514138944036104,
  -6.163699796189791,
  8.242100322072563,
  10.041557195074196,
  10.248707785494023,
  2.9707154493866037,
  -3.6147117902406154,
  4.323318391213332,
  7.710733541950686,
  -4.7772976741175635,
  -9.758843334815491,
  4.504667813542107,
  8.924044764716824,
  -4.194130808133031,
  8.4043270722468,
  8.645261710921169,
  -5.465832789753643,
  4.822468095651931,
  2.26144449384976,
  0.3,
  6.735703925219568,
  6.698466621496765,
  4.563194119689353,
  -7.5772378730673084,
  4.026738028386224,
  5.175793448616786,
  2.270483880063505,
  -1.5241368693519572,
  7.727707044133487,
  6.0602494306083035,
  -7.229520328386933,
  -0.6781288979080333,
  -2.937874741317228,
  6.194797681931466,
  -5.637396311221329,
  7.180519032934943,
  5.309954491365663,
  10.0,
  -6.5956209275661495,
  6.578245852391907,
  -4.199843942870311,
  -2.0835776929432157,
  -5.03156768088608,
  10.0,
  -3.971210460031482,
  -5.293719125485266,
  1.69333031045742,
  8.754813133766884,
  -3.1336150333852255,
  0.36948300635609116,
  6.317971863848345,
  6.580519032934943,
  7.621976106438669,
  4.3592345431049475,
  7.870675285551107,
  1.7367804361345487,
  -9.1,
  2.310415365016697,
  7.016807516692613,
  10.0,
  -0.961733881873817,
  -10.0,
  5.761337283325272,
  10.128436478532317,
  -1.001132069095619,
  7.586458907811959,
  -3.7627165784351346,
  7.46548447241116,
  10.173424432818107,
  -2.8031339945246336,
  0.3,
  6.793934271591421,
  4.645761139911658,
  10.0,
  7.012546533889896,
  10.3,
  6.213757819322942,
  -4.855414088266971,
  -6.479940989951639,
  6.025910433737564,
  6.213757819322942],
 [1.815653008326588,
  -1.4083489973981538,
  10.158555988638458,
  1.8730832787647986,
  3.709549876758336,
  5.095959004001989,
  10.110695026107127,
  4.0684441513565766,
  10.20543889918895,
  2.9503894791833414,
  -3.833678011500852,
  -5.014688873096585,
  -6.61539870722942,
  5.051626491775217,
  10.141444011361544,
  5.206117403476215,
  -3.490487713407636,
  3.094092826010163,
  5.1372331525058526,
  6.646178343939823,
  5.220244327500136,
  1.4398942701101358,
  0.3,
  5.585199621281874,
  4.7139789928227795,
  1.5214246363149133,
  1.626348034433713,
  10.3,
  6.887276463858148,
  -9.700000000000001,
  1.9486670375954587,
  10.168711400084382,
  4.280291539952768,
  -0.8406603241942472,
  4.053760214303066,
  5.489080297827199,
  -2.2974145711562683,
  -1.3652684442449388,
  1.9277867235493824,
  -1.3652684442449388,
  10.183980504286021,
  3.989093994369835,
  1.6573544825202242,
  6.820233390478245,
  -4.694880758952019,
  6.897659937039455,
  10.208128189445254,
  -4.920244327500136,
  -4.857625411084623,
  8.293646693859243,
  4.502564406137207,
  2.9967579150881773,
  -3.768470750994368,
  4.203329071309996,
  10.050660773551563,
  -1.0576799570481248,
  -4.435267120145252,
  -3.068147721861925,
  0.08440817541186613,
  8.279771730756876,
  3.044656892937063,
  -4.980169690493891,
  1.2786310453346519,
  2.28918951210575,
  5.068952493476501,
  0.3,
  5.349695055327908,
  5.581050360798089,
  5.350755214309039,
  0.762498770078926,
  1.529900272851957,
  10.225947712982324,
  3.22521370126786,
  -1.7663963507622074,
  3.364150944816577,
  -6.093176971423459,
  1.529900272851957,
  3.863693505972986,
  8.61130754828125,
  -2.1301193490234867,
  -0.5853854891664751,
  -1.3030654105294044,
  6.348519777256147,
  -9.902695879664034,
  3.9987930915474332,
  10.3,
  1.2582202437969288,
  4.304824120878003,
  10.202665089078018,
  0.6138340054521066,
  -6.103168504928529,
  4.8166013594812425,
  -3.359199113492015,
  2.7684361668937045,
  4.733680155166845,
  -1.6287836472521526,
  1.871901380856467,
  2.227786723549383,
  -0.47089746746406713,
  -4.465921667047759,
  -2.3989415406440995,
  8.46435002791707,
  2.352175491967204,
  8.7572049096643,
  -1.3144794723933957,
  2.170988604787285,
  -9.1,
  3.2769346338005527,
  -10.0,
  3.270521874603407,
  5.182834779571906,
  10.223092990206926,
  0.3,
  -6.1019809195527035,
  2.6402895812830964,
  2.9404740028955425,
  0.3366427390894474,
  10.0,
  6.216668451386922,
  6.756529322134438,
  -4.187164462231931,
  -2.21313052401777,
  6.687654433859031,
  9.999999999999998,
  6.689658169942404,
  -6.622615096562502,
  3.817009811743344,
  6.689658169942404,
  8.014214189382136,
  10.3]]

In [106]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[6,
  92,
  34,
  112,
  25,
  68,
  44,
  50,
  10,
  1,
  73,
  43,
  62,
  65,
  26,
  102,
  104,
  28,
  84,
  57,
  110,
  2,
  49,
  87,
  91,
  54,
  46,
  13,
  67,
  47,
  74,
  106,
  4,
  41,
  33,
  89,
  9,
  95,
  31,
  105,
  90,
  63,
  53,
  93,
  32,
  15,
  99,
  19,
  69,
  51,
  45,
  11,
  48,
  58,
  60,
  42,
  30,
  5,
  40,
  86,
  36,
  59,
  71,
  96,
  100,
  35,
  77,
  39,
  14,
  80,
  21,
  109,
  81,
  79,
  64,
  101,
  0,
  55,
  23,
  76,
  98,
  7,
  70,
  24,
  97,
  107,
  61,
  16,
  94,
  111,
  103,
  75,
  17,
  8,
  78,
  12,
  72,
  20,
  22,
  66,
  56,
  27,
  3,
  88,
  83,
  37,
  29,
  108,
  82,
  38,
  18,
  52,
  85],
 [113,
  110,
  87,
  28,
  46,
  84,
  115,
  9,
  11,
  32,
  69,
  5,
  75,
  1,
  92,
  63,
  83,
  105,
  59,
  106,
  4,
  109,
  117,
  99,
  94,
  54,
  101,
  22,
  77,
  91,
  35,
  120,
  89,
  78,
  41,
  72,
  47,
  45,
  48,
  65,
  7,
  76,
  79,
  62,
  52,
  27,
  18,
  31,
  67,
  51,
  114,
  3,
  2,
  30,
  98,
  86,
  25,
  85,
  64,
  119,
  0,
  66,
  15,
  74,
  24,
  70,
  102,
  88,
  96,
  13,
  95,
  43,
  56,
  55,
  19,
  111,
  57,
  39,
  10,
  49,
  107,
  34,
  6,
  44,
  90,
  68,
  82,
  26,
  21,
  73,
  100,
  50,
  8,
  108,
  14,
  103,
  40,
  53,
  60,
  58,
  116,
  17,
  112,
  118,
  42,
  71,
  33,
  81,
  93,
  20,
  37,
  38,
  36,
  80,
  97,
  12,
  16,
  23,
  104,
  29,
  61],
 [16,
  80,
  114,
  20,
  78,
  124,
  134,
  48,
  89,
  115,
  37,
  129,
  45,
  63,
  69,
  5,
  22,
  84,
  92,
  120,
  123,
  38,
  130,
  87,
  8,
  66,
  103,
  41,
  77,
  10,
  43,
  105,
  60,
  136,
  33,
  7,
  122,
  95,
  101,
  127,
  116,
  135,
  81,
  2,
  88,
  119,
  90,
  99,
  107,
  111,
  85,
  47,
  36,
  31,
  104,
  72,
  93,
  109,
  55,
  113,
  28,
  42,
  51,
  58,
  35,
  1,
  68,
  32,
  46,
  40,
  57,
  67,
  82,
  52,
  83,
  56,
  73,
  100,
  61,
  9,
  106,
  0,
  97,
  34,
  121,
  86,
  26,
  4,
  49,
  18,
  64,
  70,
  12,
  131,
  62,
  117,
  133,
  24,
  98,
  128,
  132,
  102,
  11,
  125,
  15,
  79,
  65,
  6,
  3,
  27,
  112,
  96,
  54,
  91,
  25,
  21,
  19,
  14,
  44,
  126,
  50,
  30,
  53,
  71,
  39,
  76,
  94,
  110,
  75,
  17,
  13,
  23,
  108,
  29,
  118,
  59,
  74],
 [18,
  35,
  120,
  49,
  113,
  108,
  44,
  48,
  14,
  82,
  88,
  104,
  118,
  2,
  57,
  30,
  37,
  92,
  60,
  10,
  59,
  47,
  39,
  99,
  73,
  53,
  97,
  110,
  45,
  112,
  40,
  80,
  22,
  103,
  119,
  116,
  65,
  66,
  96,
  84,
  24,
  95,
  121,
  125,
  78,
  74,
  124,
  107,
  36,
  81,
  70,
  33,
  62,
  117,
  67,
  56,
  5,
  42,
  28,
  98,
  52,
  69,
  15,
  50,
  12,
  102,
  71,
  63,
  11,
  100,
  7,
  91,
  8,
  94,
  16,
  64,
  115,
  0,
  76,
  13,
  105,
  109,
  29,
  72,
  31,
  86,
  19,
  3,
  1,
  26,
  114,
  77,
  93,
  38,
  17,
  51,
  25,
  41,
  111,
  89,
  34,
  58,
  85,
  9,
  43,
  54,
  122,
  6,
  87,
  21,
  27,
  90,
  61,
  79,
  20,
  32,
  46,
  23,
  123,
  83,
  75,
  4,
  68,
  101,
  55,
  106],
 [27,
  85,
  129,
  71,
  111,
  46,
  8,
  88,
  40,
  31,
  2,
  14,
  6,
  54,
  117,
  123,
  103,
  78,
  101,
  49,
  59,
  128,
  45,
  28,
  43,
  119,
  124,
  127,
  122,
  19,
  82,
  118,
  23,
  67,
  35,
  68,
  66,
  20,
  15,
  110,
  18,
  5,
  64,
  13,
  91,
  94,
  24,
  50,
  87,
  32,
  53,
  7,
  34,
  84,
  41,
  77,
  126,
  4,
  74,
  107,
  109,
  72,
  17,
  60,
  51,
  9,
  115,
  93,
  114,
  102,
  63,
  97,
  105,
  30,
  38,
  3,
  96,
  0,
  42,
  26,
  70,
  76,
  25,
  21,
  62,
  86,
  69,
  89,
  116,
  22,
  65,
  112,
  58,
  98,
  80,
  33,
  55,
  81,
  104,
  37,
  39,
  1,
  95,
  73,
  79,
  121,
  36,
  100,
  57,
  92,
  16,
  52,
  10,
  120,
  56,
  99,
  44,
  48,
  47,
  61,
  11,
  75,
  113,
  90,
  12,
  125,
  106,
  29,
  83,
  108]]

In [107]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[10028,
  10547,
  10187,
  10617,
  10128,
  10412,
  10232,
  10271,
  10066,
  10008,
  10447,
  10225,
  10357,
  10378,
  10147,
  10568,
  10581,
  10157,
  10505,
  10323,
  10605,
  10015,
  10268,
  10517,
  10542,
  10309,
  10242,
  10083,
  10399,
  10245,
  10448,
  10594,
  10021,
  10207,
  10178,
  10529,
  10038,
  10552,
  10169,
  10585,
  10531,
  10358,
  10308,
  10548,
  10176,
  10094,
  10559,
  10114,
  10417,
  10292,
  10233,
  10067,
  10261,
  10328,
  10355,
  10217,
  10166,
  10024,
  10203,
  10513,
  10191,
  10344,
  10425,
  10555,
  10561,
  10189,
  10464,
  10197,
  10086,
  10491,
  10116,
  10604,
  10498,
  10489,
  10359,
  10563,
  10002,
  10316,
  10123,
  10453,
  10558,
  10031,
  10424,
  10124,
  10557,
  10602,
  10356,
  10100,
  10551,
  10609,
  10571,
  10450,
  10102,
  10036,
  10466,
  10081,
  10427,
  10115,
  10122,
  10382,
  10318,
  10149,
  10020,
  10521,
  10504,
  10193,
  10159,
  10603,
  10502,
  10195,
  10106,
  10305,
  10509],
 [10575,
  10547,
  10419,
  10128,
  10187,
  10412,
  10582,
  10048,
  10066,
  10140,
  10321,
  10030,
  10357,
  10008,
  10445,
  10296,
  10400,
  10515,
  10286,
  10516,
  10025,
  10542,
  10596,
  10476,
  10452,
  10257,
  10480,
  10105,
  10367,
  10444,
  10155,
  10612,
  10435,
  10374,
  10178,
  10337,
  10191,
  10186,
  10192,
  10307,
  10041,
  10361,
  10381,
  10293,
  10244,
  10126,
  10095,
  10136,
  10315,
  10208,
  10580,
  10019,
  10010,
  10135,
  10471,
  10418,
  10118,
  10416,
  10301,
  10610,
  10000,
  10308,
  10087,
  10354,
  10114,
  10331,
  10486,
  10434,
  10458,
  10073,
  10456,
  10180,
  10275,
  10260,
  10101,
  10552,
  10278,
  10169,
  10052,
  10201,
  10524,
  10148,
  10031,
  10184,
  10440,
  10320,
  10397,
  10124,
  10104,
  10341,
  10478,
  10204,
  10046,
  10531,
  10074,
  10497,
  10171,
  10250,
  10288,
  10280,
  10595,
  10093,
  10573,
  10607,
  10179,
  10332,
  10141,
  10388,
  10450,
  10102,
  10164,
  10165,
  10160,
  10384,
  10461,
  10071,
  10089,
  10107,
  10509,
  10132,
  10290],
 [10088,
  10419,
  10547,
  10128,
  10412,
  10582,
  10617,
  10271,
  10447,
  10550,
  10225,
  10592,
  10256,
  10357,
  10378,
  10034,
  10147,
  10431,
  10455,
  10568,
  10581,
  10226,
  10593,
  10443,
  10044,
  10366,
  10505,
  10246,
  10407,
  10057,
  10253,
  10517,
  10333,
  10623,
  10207,
  10038,
  10577,
  10463,
  10493,
  10587,
  10556,
  10622,
  10422,
  10016,
  10444,
  10565,
  10448,
  10488,
  10520,
  10529,
  10435,
  10267,
  10221,
  10190,
  10512,
  10385,
  10456,
  10525,
  10308,
  10541,
  10166,
  10247,
  10295,
  10325,
  10212,
  10013,
  10374,
  10203,
  10259,
  10237,
  10311,
  10369,
  10425,
  10297,
  10429,
  10310,
  10387,
  10491,
  10338,
  10051,
  10519,
  10006,
  10468,
  10210,
  10572,
  10442,
  10163,
  10031,
  10274,
  10097,
  10361,
  10381,
  10064,
  10607,
  10341,
  10557,
  10610,
  10154,
  10474,
  10588,
  10608,
  10495,
  10058,
  10584,
  10087,
  10413,
  10365,
  10036,
  10027,
  10164,
  10539,
  10466,
  10304,
  10454,
  10160,
  10138,
  10122,
  10079,
  10255,
  10586,
  10283,
  10181,
  10303,
  10384,
  10228,
  10404,
  10458,
  10526,
  10403,
  10093,
  10069,
  10148,
  10524,
  10177,
  10564,
  10330,
  10401],
 [10088,
  10187,
  10582,
  10271,
  10550,
  10533,
  10243,
  10256,
  10059,
  10431,
  10455,
  10515,
  10568,
  10012,
  10317,
  10158,
  10200,
  10463,
  10326,
  10041,
  10323,
  10253,
  10209,
  10499,
  10390,
  10281,
  10492,
  10541,
  10247,
  10549,
  10212,
  10425,
  10117,
  10512,
  10579,
  10560,
  10342,
  10353,
  10491,
  10437,
  10129,
  10488,
  10600,
  10614,
  10418,
  10396,
  10606,
  10531,
  10197,
  10428,
  10369,
  10182,
  10328,
  10565,
  10355,
  10302,
  10021,
  10216,
  10139,
  10497,
  10279,
  10367,
  10061,
  10276,
  10043,
  10511,
  10375,
  10331,
  10042,
  10507,
  10027,
  10460,
  10031,
  10481,
  10064,
  10341,
  10557,
  10002,
  10405,
  10053,
  10518,
  10538,
  10144,
  10388,
  10160,
  10450,
  10102,
  10019,
  10010,
  10135,
  10551,
  10409,
  10474,
  10205,
  10065,
  10277,
  10131,
  10215,
  10543,
  10457,
  10184,
  10320,
  10440,
  10033,
  10223,
  10283,
  10601,
  10026,
  10454,
  10115,
  10138,
  10458,
  10327,
  10421,
  10106,
  10177,
  10250,
  10122,
  10603,
  10433,
  10404,
  10020,
  10363,
  10509,
  10290,
  10528],
 [10128,
  10412,
  10617,
  10364,
  10550,
  10225,
  10048,
  10430,
  10174,
  10140,
  10008,
  10066,
  10032,
  10243,
  10568,
  10581,
  10499,
  10390,
  10492,
  10233,
  10292,
  10616,
  10210,
  10129,
  10182,
  10572,
  10600,
  10614,
  10577,
  10080,
  10399,
  10571,
  10114,
  10351,
  10156,
  10353,
  10342,
  10098,
  10070,
  10534,
  10078,
  10027,
  10336,
  10061,
  10456,
  10465,
  10116,
  10234,
  10429,
  10146,
  10240,
  10040,
  10155,
  10410,
  10175,
  10387,
  10612,
  10021,
  10377,
  10511,
  10529,
  10375,
  10072,
  10295,
  10238,
  10049,
  10565,
  10462,
  10559,
  10495,
  10318,
  10478,
  10507,
  10133,
  10171,
  10013,
  10470,
  10004,
  10176,
  10125,
  10361,
  10381,
  10121,
  10101,
  10301,
  10416,
  10356,
  10446,
  10566,
  10104,
  10341,
  10557,
  10282,
  10482,
  10393,
  10154,
  10254,
  10394,
  10502,
  10168,
  10173,
  10006,
  10468,
  10376,
  10391,
  10574,
  10159,
  10485,
  10277,
  10461,
  10071,
  10239,
  10054,
  10573,
  10255,
  10483,
  10205,
  10231,
  10227,
  10300,
  10056,
  10379,
  10558,
  10453,
  10058,
  10601,
  10509,
  10132,
  10401,
  10528]]

In [108]:
# output dataframe with user ids a

recommendations_shows = pd.DataFrame(rec_list)

recommendations_shows.to_csv(directory_path + 'show_recommendations.csv', index = False)
recommendations_shows

,0,1,2,3,4,5,6,7,8,9,...,127,128,129,130,131,132,133,134,135,136
0,10028,10547,10187,10617,10128,10412,10232,10271,10066,10008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10575,10547,10419,10128,10187,10412,10582,10048,10066,10140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10088,10419,10547,10128,10412,10582,10617,10271,10447,10550,...,10526.0,10403.0,10093.0,10069.0,10148.0,10524.0,10177.0,10564.0,10330.0,10401.0
3,10088,10187,10582,10271,10550,10533,10243,10256,10059,10431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10128,10412,10617,10364,10550,10225,10048,10430,10174,10140,...,10132.0,10401.0,10528.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
pd.read_csv(directory_path + 'show_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,127,128,129,130,131,132,133,134,135,136
0,10028,10547,10187,10617,10128,10412,10232,10271,10066,10008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10575,10547,10419,10128,10187,10412,10582,10048,10066,10140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10088,10419,10547,10128,10412,10582,10617,10271,10447,10550,...,10526.0,10403.0,10093.0,10069.0,10148.0,10524.0,10177.0,10564.0,10330.0,10401.0
3,10088,10187,10582,10271,10550,10533,10243,10256,10059,10431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10128,10412,10617,10364,10550,10225,10048,10430,10174,10140,...,10132.0,10401.0,10528.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Movies

In [110]:
movie_activities = pd.read_json(directory_path + 'movie_activities.json')

In [111]:
# getting likes/dislikes
likes_dislikes = movie_activities.loc[np.where((movie_activities['activity'] == 'Like') ^ (movie_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,0,1,2,3,4,5,6,7,8,9,...,342,343,344,346,347,348,349,350,351,352
user_id,,,,,,,,,,,,,,,,,,,,,
0,-10.0,0.0,-10.0,0.0,-10.0,10,10.0,0.0,0.0,0.0,...,-10.0,0.0,10.0,10.0,10,10.0,10.0,-10.0,10.0,0.0
1,-10.0,0.0,-10.0,10.0,10.0,10,0.0,0.0,10.0,10.0,...,-10.0,10.0,10.0,0.0,10,0.0,0.0,0.0,-10.0,10.0
2,0.0,0.0,10.0,0.0,0.0,-10,10.0,0.0,10.0,-10.0,...,0.0,0.0,0.0,0.0,10,-10.0,0.0,-10.0,0.0,10.0
3,-10.0,-10.0,0.0,0.0,10.0,10,-10.0,10.0,10.0,-10.0,...,-10.0,0.0,10.0,10.0,-10,0.0,10.0,-10.0,10.0,10.0
4,0.0,0.0,10.0,10.0,0.0,-10,10.0,10.0,10.0,0.0,...,-10.0,0.0,-10.0,0.0,10,-10.0,-10.0,10.0,-10.0,0.0

In [112]:
max_length = list(unstacked.columns)[-1] + 1

max_length

353

In [113]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[-10.,   0., -10., ..., -10.,  10.,   0.],
       [-10.,   0., -10., ...,   0., -10.,  10.],
       [  0.,   0.,  10., ..., -10.,   0.,  10.],
       [-10., -10.,   0., ..., -10.,  10.,  10.],
       [  0.,   0.,  10., ...,  10., -10.,   0.]])

In [114]:
# creating sparse matrix for plays

plays = movie_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

/var/folders/mv/3y_h14td39s6m0zfltc84cb00000gq/T/ipykernel_59414/1173394406.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  plays = movie_activities[show_activities['activity'] == 'Play']

array([[0.9, 0. , 0. , ..., 0.3, 0.3, 0. ],
       [0.3, 0. , 0.3, ..., 0. , 0. , 0. ],
       [0. , 0. , 0.3, ..., 0.6, 0. , 0. ],
       [0.9, 0.3, 0. , ..., 0.3, 0. , 0. ],
       [0.3, 0. , 0.3, ..., 0. , 0.6, 0.3]])

In [115]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
0,-9.1,0.0,-10.0,0.0,-9.7,10.0,10.9,0.0,0.0,0.0,...,0.0,10.0,0.0,10.6,10.6,10.0,10.3,-9.7,10.3,0.0
1,-9.7,0.0,-9.7,10.3,10.3,10.9,0.0,0.0,10.6,10.0,...,10.0,10.6,0.0,0.0,10.0,0.3,0.0,0.0,-10.0,10.0
2,0.0,0.0,10.3,0.0,0.3,-10.0,10.3,0.0,10.3,-9.7,...,0.0,0.0,0.0,0.3,10.9,-9.7,0.3,-9.4,0.0,10.0
3,-9.1,-9.7,0.0,0.3,10.3,10.0,-10.0,10.3,10.3,-9.7,...,0.0,10.6,0.0,10.6,-10.0,0.0,10.0,-9.7,10.0,10.0
4,0.3,0.0,10.3,10.3,0.3,-9.7,10.0,10.0,10.6,0.3,...,0.0,-10.0,0.0,0.0,10.6,-9.1,-9.7,10.0,-9.4,0.3

In [116]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,0,1,2,3,4,5,6,7,8,9,...,342,343,344,346,347,348,349,350,351,352
0,-9.1,0.0,-10.0,0.0,-9.7,10.0,10.9,0.0,0.0,0.0,...,-9.4,0.0,10.0,10.6,10.6,10.0,10.3,-9.7,10.3,0.0
1,-9.7,0.0,-9.7,10.3,10.3,10.9,0.0,0.0,10.6,10.0,...,-10.0,10.0,10.6,0.0,10.0,0.3,0.0,0.0,-10.0,10.0
2,0.0,0.0,10.3,0.0,0.3,-10.0,10.3,0.0,10.3,-9.7,...,0.3,0.0,0.0,0.3,10.9,-9.7,0.3,-9.4,0.0,10.0
3,-9.1,-9.7,0.0,0.3,10.3,10.0,-10.0,10.3,10.3,-9.7,...,-10.0,0.0,10.6,10.6,-10.0,0.0,10.0,-9.7,10.0,10.0
4,0.3,0.0,10.3,10.3,0.3,-9.7,10.0,10.0,10.6,0.3,...,-9.7,0.0,-10.0,0.0,10.6,-9.1,-9.7,10.0,-9.4,0.3

In [117]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [118]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [119]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([  1,   3,   7,   8,   9,  11,  14,  25,  28,  37,  46,  54,  58,
        60,  62,  71,  73,  74,  77,  91,  94,  95,  96,  98,  99, 102,
       104, 105, 106, 110, 114, 117, 119, 126, 128, 144, 146, 148, 149,
       150, 159, 160, 164, 165, 167, 169, 177, 179, 183, 186, 197, 202,
       207, 211, 212, 216, 224, 229, 233, 236, 242, 246, 250, 255, 263,
       265, 267, 268, 278, 279, 283, 284, 285, 286, 293, 294, 297, 309,
       319, 326, 328, 333, 335, 343, 345, 352,   1,   6,   7,  10,  13,
        14,  19,  21,  26,  27,  30,  32,  38,  42,  50,  52,  56,  62,
        72,  73,  78,  80,  91,  95,  99, 101, 108, 112, 118, 129, 132,
       133, 139, 140, 153, 154, 158, 168, 172, 177, 178, 179, 180, 182,
       184, 190, 197, 199, 202, 203, 208, 209, 210, 215, 218, 229, 233,
       238, 241, 243, 244, 249, 250, 252, 255, 257, 261, 263, 264, 267,
       268, 272, 276, 277, 284, 287, 299, 302, 303, 305, 307, 308, 312,
       322, 330, 331, 337, 339, 345, 346, 349, 350,   0,   1,   3,   7,
        12,  14,  19,  20,  24,  25,  27,  35,  37,  38,  39,  48,  56,
        59,  60,  61,  62,  74,  78,  82,  86,  87,  95,  99, 101, 103,
       106, 107, 109, 110, 114, 117, 122, 125, 129, 134, 140, 142, 143,
       147, 155, 162, 165, 166, 168, 171, 172, 175, 176, 178, 180, 184,
       186, 187, 188, 191, 194, 202, 206, 208, 209, 210, 211, 213, 216,
       225, 228, 232, 239, 240, 243, 256, 259, 261, 265, 266, 268, 269,
       280, 287, 295, 296, 298, 301, 304, 308, 317, 322, 323, 327, 331,
       341, 343, 344, 345, 351,   2,  11,  12,  21,  23,  25,  27,  34,
        35,  38,  41,  47,  48,  52,  61,  67,  69,  81,  88,  91,  92,
        94,  96, 104, 107, 109, 110, 111, 112, 115, 119, 122, 127, 140,
       141, 145, 148, 151, 152, 156, 157, 167, 168, 170, 172, 173, 176,
       177, 180, 183, 185, 188, 192, 193, 195, 206, 207, 208, 209, 210,
       213, 214, 216, 230, 231, 233, 237, 241, 242, 249, 255, 256, 258,
       268, 273, 276, 279, 282, 285, 290, 294, 310, 313, 329, 338, 343,
       345, 348,   1,  12,  14,  16,  19,  23,  24,  30,  31,  42,  44,
        46,  52,  54,  62,  63,  64,  72,  78,  79,  82,  84,  86,  87,
        88,  94,  97,  98, 111, 124, 128, 134, 139, 144, 147, 148, 151,
       157, 158, 161, 168, 170, 172, 173, 183, 187, 188, 189, 197, 199,
       201, 203, 208, 209, 210, 213, 216, 218, 219, 220, 225, 234, 240,
       247, 249, 250, 253, 255, 257, 259, 261, 262, 263, 265, 267, 271,
       272, 274, 276, 278, 283, 286, 287, 292, 293, 294, 296, 301, 303,
       304, 308, 309, 315, 322, 323, 324, 327, 333, 334, 341, 343, 345,
       346])

In [120]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[ 0.        , -9.7       ,  0.        , ...,  0.        ,
         0.        ,  9.2109142 ],
       [ 0.        , -9.7       ,  0.        , ..., -8.53355282,
         0.        ,  0.        ],
       [-2.91526415, -9.7       ,  0.        , ...,  0.        ,
        -2.07846681,  0.        ],
       [ 0.        ,  0.        , -5.2081067 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        , -9.7       ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [121]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
0,0.000000,-9.7,0.000000,6.620612,0.0,0.0,0.000000,10.232382,10.444077,-1.02805,...,10.0,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,9.210914
1,0.000000,-9.7,0.000000,0.000000,0.0,0.0,0.889559,10.266783,0.000000,0.00000,...,0.0,0.00000,0.0,10.700310,0.0,0.000000,9.061605,-8.533553,0.000000,0.000000
2,-2.915264,-9.7,0.000000,21.271485,0.0,0.0,0.000000,9.693591,0.000000,0.00000,...,10.0,-3.34287,0.0,0.000000,0.0,0.000000,0.000000,0.000000,-2.078467,0.000000
3,0.000000,0.0,-5.208107,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,...,10.0,0.00000,0.0,0.000000,0.0,1.288514,0.000000,0.000000,0.000000,0.000000
4,0.000000,-9.7,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,...,10.0,0.00000,0.0,6.871427,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [122]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4]),
 array([  1,   3,   7,   8,   9,  11,  14,  25,  28,  37,  46,  54,  58,
         60,  62,  71,  73,  74,  77,  91,  94,  95,  96,  98,  99, 102,
        104, 105, 106, 110, 114, 117, 119, 126, 128, 144, 146, 148, 149,
        150, 159, 160, 164, 165, 167, 169, 177, 179, 183, 186, 197, 202,
        207, 211, 212, 216, 224, 229, 233, 236, 242, 246, 250, 255, 263,
        265, 267, 268, 278, 279, 283, 284, 285, 286, 293, 294, 297, 309,
        319, 326, 328, 333, 335, 343, 352,   1,   6,   7,  10,  13,  14,
         19,  21,  26,  27,  30,  32,  38,  42,  50,  52,  56,  62,  72,
         73,  78,  80,  91,  95,  99, 101, 108, 112, 118, 129, 132, 133,
        139, 140, 153, 154, 158, 168, 172, 177, 178, 179, 180, 182, 184,
        190, 197, 199, 202, 203, 208, 209, 210, 215, 218, 229, 233, 238,
        241, 243, 244, 249, 250, 252, 255, 257, 261, 263, 264, 267, 268,
        272, 276, 277, 284, 287, 299, 302, 303, 305, 307, 308, 312, 322,
        330, 331, 337, 339, 346, 349, 350,   0,   1,   3,   7,  12,  14,
         19,  20,  24,  25,  27,  35,  37,  38,  39,  48,  56,  59,  60,
         61,  62,  74,  78,  82,  86,  87,  95,  99, 101, 103, 106, 107,
        109, 110, 114, 117, 122, 125, 129, 134, 140, 142, 143, 147, 155,
        162, 165, 166, 168, 171, 172, 175, 176, 178, 180, 184, 186, 187,
        188, 191, 194, 202, 206, 208, 209, 210, 211, 213, 216, 225, 228,
        232, 239, 240, 243, 256, 259, 261, 265, 266, 268, 269, 280, 287,
        295, 296, 298, 301, 304, 308, 317, 322, 323, 327, 331, 341, 343,
        344, 351,   2,  11,  12,  21,  23,  25,  27,  34,  35,  38,  41,
         47,  48,  52,  61,  67,  69,  81,  88,  91,  92,  94,  96, 104,
        107, 109, 110, 111, 112, 115, 119, 122, 127, 140, 141, 145, 148,
        151, 152, 156, 157, 167, 168, 170, 172, 173, 176, 177, 180, 183,
        185, 188, 192, 193, 195, 206, 207, 208, 209, 210, 213, 214, 216,
        230, 231, 233, 237, 241, 242, 249, 255, 256, 258, 268, 273, 276,
        279, 282, 285, 290, 294, 310, 313, 329, 338, 343, 348,   1,  12,
         14,  16,  19,  23,  24,  30,  31,  42,  44,  46,  52,  54,  62,
         63,  64,  72,  78,  79,  82,  84,  86,  87,  88,  94,  97,  98,
        111, 124, 128, 134, 139, 144, 147, 148, 151, 157, 158, 161, 168,
        170, 172, 173, 183, 187, 188, 189, 197, 199, 201, 203, 208, 209,
        210, 213, 216, 218, 219, 220, 225, 234, 240, 247, 249, 250, 253,
        255, 257, 259, 261, 262, 263, 265, 267, 271, 272, 274, 276, 278,
        283, 286, 287, 292, 293, 294, 296, 301, 303, 304, 308, 309, 315,
        322, 323, 324, 327, 333, 334, 341, 343, 346]))

In [123]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[1,
  3,
  7,
  8,
  9,
  11,
  14,
  25,
  28,
  37,
  46,
  54,
  58,
  60,
  62,
  71,
  73,
  74,
  77,
  91,
  94,
  95,
  96,
  98,
  99,
  102,
  104,
  105,
  106,
  110,
  114,
  117,
  119,
  126,
  128,
  144,
  146,
  148,
  149,
  150,
  159,
  160,
  164,
  165,
  167,
  169,
  177,
  179,
  183,
  186,
  197,
  202,
  207,
  211,
  212,
  216,
  224,
  229,
  233,
  236,
  242,
  246,
  250,
  255,
  263,
  265,
  267,
  268,
  278,
  279,
  283,
  284,
  285,
  286,
  293,
  294,
  297,
  309,
  319,
  326,
  328,
  333,
  335,
  343,
  352],
 [1,
  6,
  7,
  10,
  13,
  14,
  19,
  21,
  26,
  27,
  30,
  32,
  38,
  42,
  50,
  52,
  56,
  62,
  72,
  73,
  78,
  80,
  91,
  95,
  99,
  101,
  108,
  112,
  118,
  129,
  132,
  133,
  139,
  140,
  153,
  154,
  158,
  168,
  172,
  177,
  178,
  179,
  180,
  182,
  184,
  190,
  197,
  199,
  202,
  203,
  208,
  209,
  210,
  215,
  218,
  229,
  233,
  238,
  241,
  243,
  244,
  249,
  250,
  252,
  255,
  257,
  261,
  263,
  264,
  267,
  268,
  272,
  276,
  277,
  284,
  287,
  299,
  302,
  303,
  305,
  307,
  308,
  312,
  322,
  330,
  331,
  337,
  339,
  346,
  349,
  350],
 [0,
  1,
  3,
  7,
  12,
  14,
  19,
  20,
  24,
  25,
  27,
  35,
  37,
  38,
  39,
  48,
  56,
  59,
  60,
  61,
  62,
  74,
  78,
  82,
  86,
  87,
  95,
  99,
  101,
  103,
  106,
  107,
  109,
  110,
  114,
  117,
  122,
  125,
  129,
  134,
  140,
  142,
  143,
  147,
  155,
  162,
  165,
  166,
  168,
  171,
  172,
  175,
  176,
  178,
  180,
  184,
  186,
  187,
  188,
  191,
  194,
  202,
  206,
  208,
  209,
  210,
  211,
  213,
  216,
  225,
  228,
  232,
  239,
  240,
  243,
  256,
  259,
  261,
  265,
  266,
  268,
  269,
  280,
  287,
  295,
  296,
  298,
  301,
  304,
  308,
  317,
  322,
  323,
  327,
  331,
  341,
  343,
  344,
  351],
 [2,
  11,
  12,
  21,
  23,
  25,
  27,
  34,
  35,
  38,
  41,
  47,
  48,
  52,
  61,
  67,
  69,
  81,
  88,
  91,
  92,
  94,
  96,
  104,
  107,
  109,
  110,
  111,
  112,
  115,
  119,
  122,
  127,
  140,
  141,
  145,
  148,
  151,
  152,
  156,
  157,
  167,
  168,
  170,
  172,
  173,
  176,
  177,
  180,
  183,
  185,
  188,
  192,
  193,
  195,
  206,
  207,
  208,
  209,
  210,
  213,
  214,
  216,
  230,
  231,
  233,
  237,
  241,
  242,
  249,
  255,
  256,
  258,
  268,
  273,
  276,
  279,
  282,
  285,
  290,
  294,
  310,
  313,
  329,
  338,
  343,
  348],
 [1,
  12,
  14,
  16,
  19,
  23,
  24,
  30,
  31,
  42,
  44,
  46,
  52,
  54,
  62,
  63,
  64,
  72,
  78,
  79,
  82,
  84,
  86,
  87,
  88,
  94,
  97,
  98,
  111,
  124,
  128,
  134,
  139,
  144,
  147,
  148,
  151,
  157,
  158,
  161,
  168,
  170,
  172,
  173,
  183,
  187,
  188,
  189,
  197,
  199,
  201,
  203,
  208,
  209,
  210,
  213,
  216,
  218,
  219,
  220,
  225,
  234,
  240,
  247,
  249,
  250,
  253,
  255,
  257,
  259,
  261,
  262,
  263,
  265,
  267,
  271,
  272,
  274,
  276,
  278,
  283,
  286,
  287,
  292,
  293,
  294,
  296,
  301,
  303,
  304,
  308,
  309,
  315,
  322,
  323,
  324,
  327,
  333,
  334,
  341,
  343,
  346]]

In [124]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[-9.7,
  6.620611967912324,
  10.23238155167985,
  10.444076694081268,
  -1.0280495584984366,
  -7.475531285174243,
  10.3,
  8.606130237264997,
  7.909642591006291,
  -0.38958359597648134,
  4.174517417426324,
  1.4687838882561082,
  1.35150277223506,
  7.969122942077098,
  10.3,
  2.3332646753160806,
  2.169186024297999,
  5.707482097023643,
  3.869510991338581,
  -4.715693768420807,
  -2.070993644935956,
  10.697144655039551,
  -7.54166933447665,
  -0.1416842186180883,
  -5.19210344532334,
  -1.9820820070810807,
  -7.741656127080449,
  -1.1001021780664502,
  -7.433360703043663,
  -6.561444381647943,
  3.176986174858079,
  0.4621515577605182,
  4.730682625124504,
  9.893144775779156,
  1.4687838882561082,
  -9.817404670355543,
  -8.084837029322166,
  -2.070993644935956,
  5.329172146273653,
  -0.8933764056213629,
  -8.838890122318384,
  -1.563530267212103,
  4.756268813958179,
  4.47935326902679,
  2.5384768015073607,
  1.4353734585857791,
  3.130104686080808,
  2.26811569196786,
  2.4837375812176905,
  0.6895835959764818,
  -0.6193101242157008,
  5.492103445323342,
  3.6663279983471098,
  -0.1678463564558285,
  8.864743560626833,
  10.0,
  4.744580509800656,
  2.128585486409003,
  7.545798454501616,
  -0.12750524584244013,
  -2.932439632857115,
  5.340597267935145,
  -9.699999999999998,
  -9.7,
  5.6789705045397545,
  10.247232745245585,
  -0.5965718939433153,
  0.3,
  4.382729865523862,
  8.04165612708045,
  4.174517417426324,
  -7.033898011955925,
  4.840119023623321,
  4.603337047152623,
  4.161652828534535,
  2.783737581217691,
  7.875031371010121,
  10.0,
  2.5249892734034534,
  4.025434297257312,
  3.7730536562086594,
  -5.305855175105381,
  1.8873119650448862,
  10.0,
  9.210914196831638],
 [-9.7,
  0.8895593527034591,
  10.266783298368944,
  -4.52570756628767,
  -8.46160512540541,
  10.3,
  0.11216400902396854,
  8.381908485883764,
  0.6245454742773086,
  7.770828948869388,
  10.495905717157724,
  0.6737419293371959,
  9.451976908667735,
  0.6678500773617235,
  5.173291584769484,
  -10.412654931381391,
  0.8540806129765915,
  10.3,
  0.24025161053176528,
  10.376326627207959,
  5.2813615807999845,
  9.297902170114051,
  13.595759654007692,
  10.800349895106832,
  -7.4855532245962895,
  -0.0047034595649835705,
  10.627905309867296,
  7.765830054637821,
  9.014021106923597,
  4.417729965839212,
  0.61355248245827,
  -8.622412841764941,
  0.1321064837427439,
  9.451976908667735,
  0.6953573620562599,
  0.852354652144348,
  9.994156704369209,
  10.6,
  0.3,
  12.425258707618116,
  -0.5353846982437109,
  10.613954346814749,
  8.070828948869389,
  -5.095736788933874,
  -0.4649017366112736,
  8.956002280070578,
  -10.39777296709936,
  -0.13794977937353511,
  7.78555322459629,
  9.994156704369209,
  10.0,
  10.6,
  10.0,
  10.466473702186372,
  10.34388029518435,
  10.342532372499933,
  -1.470500946389574,
  9.133552824561047,
  -8.019114220603052,
  -0.6231971577626974,
  9.110251322203908,
  -9.694076723472996,
  -9.7,
  0.6440365503630037,
  -9.7,
  0.3597483894682355,
  10.301118305152,
  10.495947274433183,
  0.03090251972471659,
  -10.086016130633368,
  0.3,
  5.270125805265882,
  10.497442550900189,
  9.049631119818836,
  -7.4808439408396525,
  0.2627231615999692,
  5.301367972134298,
  0.42426596109337106,
  0.2841319057161162,
  -9.001712596385497,
  9.892464563351403,
  -9.247204237119997,
  -4.9172545020724865,
  10.3,
  5.7518654771430535,
  0.05272791901842526,
  10.088860017203892,
  9.42203769526166,
  10.700309908328581,
  9.06160512540541,
  -8.533552824561045],
 [-2.9152641523659906,
  -9.7,
  21.271485344943866,
  9.693591250792098,
  -10.032267468436242,
  10.3,
  28.70334922290745,
  -3.5657171868709163,
  -29.33525298626232,
  -0.053818143793608095,
  0.3037025669917047,
  10.442840734225792,
  11.154873843120258,
  5.606406822000729,
  17.477180979055728,
  10.311306212365409,
  16.486952813229635,
  -6.292580683408521,
  -33.75613365370462,
  10.789879619193401,
  10.3,
  -0.464269477786318,
  19.3656892723682,
  11.227951530904383,
  11.336191516868196,
  30.51472272671305,
  9.080773752376297,
  30.72724994719336,
  -6.315797472472107,
  -3.2041972933505702,
  33.05332398090393,
  5.20796348421567,
  10.473874364676691,
  11.018250831901023,
  31.24016101708704,
  12.346382135660804,
  -9.741141559139278,
  -2.568370627070526,
  -9.558255966717391,
  -20.644565452130124,
  5.606406822000729,
  11.038444155464948,
  3.7789821338928604,
  9.941215086286496,
  -3.6528978381430846,
  7.50752969963969,
  -22.15550374841244,
  17.034087813941444,
  10.6,
  1.1024551708073154,
  0.3,
  9.958120355747612,
  5.218071412904048,
  -16.296354803568715,
  0.6037025669917058,
  4.0440678408721435,
  -10.854873843120258,
  -21.8529600052819,
  -10.664534936872485,
  -3.1067602527508287,
  16.831524854541186,
  -30.42724994719336,
  0.6201251191731596,
  10.0,
  10.6,
  10.0,
  12.43542323986892,
  10.664534936872485,
  10.0,
  -30.95091424358124,
  -16.537132234219413,
  16.983751280489383,
  -9.806820900540128,
  10.000000000000004,
  3.646733011302612,
  10.622612424730814,
  -31.491194041556305,
  9.456058643657908,
  10.561992083637685,
  -3.227602040216108,
  0.3,
  -3.8565839260370014,
  -2.9030741648569123,
  28.4313785447364,
  10.405125918800518,
  30.538963621939878,
  0.2899570762189663,
  19.3289041948112,
  10.280405028762168,
  -11.359853390855228,
  -3.8498534178651136,
  10.300000000000002,
  29.615658015024483,
  29.32592314479912,
  -9.875226990235667,
  -11.29606628608109,
  10.0,
  -3.342870076056933,
  -2.0784668096598637],
 [-5.208106703512025,
  0.6273784693307828,
  -3.802495797413331,
  1.8916919319832173,
  0.530599270066332,
  5.890475256116912,
  -0.6273567012695589,
  -2.0879658943195154,
  10.515999571010811,
  5.126911298846177,
  11.360319183653681,
  10.515093358713965,
  6.1908653807847545,
  -24.433662886161656,
  2.2242231391451313,
  3.8318065636698893,
  10.261254458629999,
  3.879113516833501,
  -4.350822831818319,
  21.09410668662835,
  1.1973274875870175,
  -17.75841776506125,
  0.841307315402666,
  0.48464819221399236,
  7.161902086583221,
  2.516748151364196,
  -1.0486647699173308,
  4.257086445298863,
  -2.9463167850273364,
  1.2788260689534685,
  4.0248852254396645,
  -1.4592405289398185,
  6.62026145212304,
  5.126911298846177,
  4.005520548177522,
  10.202395915334497,
  -17.75841776506125,
  0.09645895867118821,
  -2.6938717501656066,
  10.45898966410645,
  4.382175372566849,
  -6.6736918128462115,
  10.6,
  4.2009834496813845,
  0.3,
  -8.58980889045971,
  6.920394035169657,
  16.231526236867186,
  -0.3273567012695581,
  17.939327847350985,
  9.272098681443424,
  1.7950084051733375,
  2.722278130787453,
  10.163650373964495,
  6.578761062065052,
  -4.1839718297100505,
  14.234544602128059,
  10.0,
  10.6,
  10.0,
  -1.7950084051733375,
  -2.0879658943195154,
  10.0,
  -2.1567670323064982,
  3.871804754978352,
  -5.162580449761167,
  -3.1543154809298857,
  -1.2684152787036647,
  -13.533934002433522,
  -9.492818236083803,
  -9.7,
  2.3817307615695076,
  12.641894634628901,
  0.3,
  3.049975444773121,
  17.206058797206534,
  -0.18464819221399145,
  10.309942594691481,
  1.7461089248306845,
  0.9788260689534687,
  18.239327847350985,
  -2.4353721402235937,
  5.647465786126259,
  7.167161747428019,
  -5.31565338286901,
  10.0,
  1.2885140557542067],
 [-9.7,
  -5.891519839027173,
  10.3,
  -3.936131082926494,
  -5.854370972557637,
  6.0057909965318546,
  4.172955703897849,
  3.1732773584516565,
  10.445295223248657,
  -6.78491247125995,
  -0.7437381363551191,
  -0.2552693349231381,
  5.368500703764985,
  -4.2267155950605435,
  10.3,
  3.391871983083387,
  10.199458571174125,
  7.694165498311484,
  2.3421817869174197,
  0.8630136334002162,
  7.90194925877439,
  3.5833100250538945,
  8.246643735812969,
  -3.9971399890216452,
  7.769026564170008,
  6.920353867132178,
  2.2945006467048303,
  -1.280086047633385,
  -6.941883015140098,
  8.133348695863555,
  -4.2267155950605435,
  -0.4317725740638051,
  0.26281634323737224,
  -9.679290657239612,
  10.100438599313993,
  6.920353867132178,
  -4.958077667852103,
  -7.157879452149441,
  10.21719845142358,
  -1.4127455746417223,
  10.6,
  -6.588734121624203,
  0.3,
  5.102345620812874,
  -6.374732874021851,
  -0.028537080168783664,
  -2.3830396780543452,
  -3.051380960862526,
  -1.5505603218377568,
  -0.04561789181379479,
  3.8122489891477542,
  10.21719845142358,
  10.0,
  10.6,
  10.0,
  2.3830396780543452,
  10.0,
  3.020964101688773,
  10.44101198570885,
  -0.9942888036264304,
  6.6504962532086775,
  -2.5510971504673945,
  10.0,
  3.315992688775982,
  -9.920600488570788,
  -9.700000000000001,
  -8.12943554958783,
  -9.7,
  -7.094165498311483,
  7.007721472123144,
  10.477469092784956,
  3.164853254038601,
  6.137714444255053,
  10.518200175943445,
  -1.5002974551824533,
  6.866053638893899,
  8.997082749155743,
  8.961108886262748,
  2.9466503809736913,
  -0.500040934812255,
  -0.2552693349231381,
  1.2787947889927695,
  -5.6156364261651595,
  8.024240791958063,
  -0.3012912586406146,
  -6.0747328740218505,
  -5.134073217072552,
  3.209313123374633,
  0.41512960000025667,
  10.333479533104665,
  -8.806327268037613,
  10.0,
  -9.822800694947986,
  10.300000000000002,
  -3.839476170793184,
  10.396258191286067,
  -3.627384028231288,
  -8.94526746813596,
  9.380825157544312,
  -7.255938983793835,
  10.0,
  6.8714265838952615]]

In [125]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[21,
  3,
  6,
  14,
  65,
  2,
  55,
  77,
  83,
  33,
  84,
  54,
  7,
  69,
  13,
  8,
  76,
  58,
  1,
  17,
  64,
  51,
  61,
  38,
  72,
  42,
  56,
  32,
  73,
  43,
  68,
  10,
  70,
  74,
  79,
  18,
  80,
  52,
  30,
  46,
  75,
  44,
  78,
  48,
  15,
  47,
  16,
  57,
  82,
  11,
  34,
  45,
  12,
  49,
  31,
  67,
  59,
  23,
  53,
  9,
  66,
  50,
  39,
  4,
  27,
  41,
  25,
  20,
  37,
  60,
  19,
  24,
  81,
  29,
  71,
  28,
  5,
  22,
  26,
  36,
  40,
  62,
  0,
  63,
  35],
 [22,
  39,
  23,
  88,
  26,
  41,
  37,
  51,
  72,
  67,
  10,
  53,
  19,
  54,
  55,
  66,
  5,
  17,
  83,
  2,
  86,
  50,
  52,
  36,
  49,
  80,
  12,
  33,
  87,
  21,
  57,
  60,
  89,
  73,
  28,
  45,
  7,
  42,
  48,
  9,
  27,
  84,
  76,
  20,
  71,
  14,
  29,
  1,
  16,
  35,
  34,
  11,
  13,
  63,
  8,
  30,
  77,
  65,
  38,
  70,
  78,
  75,
  18,
  32,
  6,
  85,
  68,
  25,
  47,
  44,
  40,
  59,
  56,
  3,
  82,
  43,
  74,
  24,
  58,
  4,
  90,
  31,
  79,
  81,
  61,
  0,
  62,
  64,
  69,
  46,
  15],
 [30,
  34,
  27,
  85,
  25,
  92,
  93,
  6,
  83,
  2,
  22,
  87,
  14,
  47,
  71,
  60,
  16,
  66,
  35,
  24,
  23,
  12,
  41,
  33,
  19,
  67,
  75,
  48,
  64,
  78,
  32,
  11,
  84,
  15,
  91,
  5,
  20,
  88,
  73,
  63,
  65,
  68,
  96,
  51,
  43,
  3,
  77,
  26,
  45,
  13,
  40,
  52,
  31,
  55,
  42,
  74,
  49,
  62,
  54,
  10,
  50,
  80,
  86,
  9,
  21,
  98,
  37,
  82,
  0,
  59,
  29,
  79,
  97,
  7,
  44,
  90,
  81,
  17,
  28,
  38,
  1,
  36,
  72,
  94,
  4,
  58,
  56,
  95,
  89,
  53,
  70,
  39,
  57,
  46,
  8,
  61,
  69,
  76,
  18],
 [19,
  80,
  49,
  75,
  47,
  56,
  72,
  10,
  42,
  58,
  8,
  11,
  39,
  77,
  16,
  35,
  53,
  57,
  59,
  62,
  85,
  50,
  83,
  24,
  46,
  32,
  54,
  12,
  5,
  82,
  9,
  33,
  40,
  27,
  43,
  30,
  34,
  17,
  64,
  15,
  74,
  52,
  25,
  71,
  14,
  3,
  51,
  78,
  86,
  29,
  20,
  79,
  22,
  1,
  4,
  23,
  44,
  73,
  37,
  76,
  48,
  6,
  26,
  67,
  31,
  60,
  7,
  61,
  63,
  81,
  38,
  28,
  66,
  2,
  55,
  18,
  65,
  0,
  84,
  41,
  45,
  69,
  70,
  68,
  21,
  36,
  13],
 [40,
  53,
  73,
  70,
  8,
  58,
  95,
  89,
  93,
  2,
  14,
  38,
  51,
  16,
  34,
  52,
  54,
  56,
  62,
  91,
  100,
  98,
  76,
  77,
  22,
  29,
  83,
  20,
  24,
  17,
  69,
  25,
  35,
  101,
  75,
  60,
  72,
  5,
  12,
  43,
  6,
  50,
  21,
  15,
  63,
  87,
  7,
  71,
  57,
  78,
  55,
  18,
  26,
  81,
  19,
  88,
  42,
  32,
  45,
  49,
  11,
  80,
  84,
  31,
  79,
  10,
  59,
  27,
  39,
  74,
  48,
  46,
  61,
  47,
  96,
  94,
  3,
  23,
  13,
  30,
  36,
  86,
  82,
  4,
  1,
  85,
  44,
  41,
  9,
  28,
  68,
  37,
  99,
  66,
  90,
  97,
  33,
  0,
  67,
  65,
  92,
  64]]

In [126]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[95,
  8,
  14,
  62,
  265,
  7,
  216,
  309,
  343,
  126,
  352,
  212,
  25,
  279,
  60,
  28,
  297,
  233,
  3,
  74,
  263,
  202,
  246,
  149,
  285,
  164,
  224,
  119,
  286,
  165,
  278,
  46,
  283,
  293,
  326,
  77,
  328,
  207,
  114,
  177,
  294,
  167,
  319,
  183,
  71,
  179,
  73,
  229,
  335,
  54,
  128,
  169,
  58,
  186,
  117,
  268,
  236,
  98,
  211,
  37,
  267,
  197,
  150,
  9,
  105,
  160,
  102,
  94,
  148,
  242,
  91,
  99,
  333,
  110,
  284,
  106,
  11,
  96,
  104,
  146,
  159,
  250,
  1,
  255,
  144],
 [91,
  177,
  95,
  346,
  108,
  179,
  168,
  209,
  276,
  263,
  30,
  215,
  73,
  218,
  229,
  261,
  14,
  62,
  322,
  7,
  337,
  208,
  210,
  158,
  203,
  307,
  38,
  140,
  339,
  80,
  238,
  244,
  349,
  277,
  118,
  190,
  21,
  180,
  202,
  27,
  112,
  330,
  299,
  78,
  272,
  50,
  129,
  6,
  56,
  154,
  153,
  32,
  42,
  252,
  26,
  132,
  302,
  257,
  172,
  268,
  303,
  287,
  72,
  139,
  19,
  331,
  264,
  101,
  199,
  184,
  178,
  243,
  233,
  10,
  312,
  182,
  284,
  99,
  241,
  13,
  350,
  133,
  305,
  308,
  249,
  1,
  250,
  255,
  267,
  197,
  52],
 [106,
  114,
  99,
  296,
  87,
  323,
  327,
  19,
  287,
  3,
  78,
  301,
  39,
  166,
  232,
  194,
  56,
  211,
  117,
  86,
  82,
  37,
  142,
  110,
  61,
  213,
  256,
  168,
  209,
  265,
  109,
  35,
  295,
  48,
  322,
  14,
  62,
  304,
  240,
  208,
  210,
  216,
  343,
  175,
  147,
  7,
  261,
  95,
  162,
  38,
  140,
  176,
  107,
  184,
  143,
  243,
  171,
  206,
  180,
  27,
  172,
  268,
  298,
  25,
  74,
  351,
  125,
  280,
  0,
  191,
  103,
  266,
  344,
  20,
  155,
  317,
  269,
  59,
  101,
  129,
  1,
  122,
  239,
  331,
  12,
  188,
  186,
  341,
  308,
  178,
  228,
  134,
  187,
  165,
  24,
  202,
  225,
  259,
  60],
 [91,
  294,
  183,
  276,
  177,
  207,
  258,
  41,
  168,
  209,
  35,
  47,
  156,
  282,
  69,
  145,
  193,
  208,
  210,
  216,
  343,
  185,
  329,
  107,
  176,
  127,
  195,
  48,
  25,
  313,
  38,
  140,
  157,
  111,
  170,
  119,
  141,
  81,
  231,
  67,
  273,
  192,
  109,
  256,
  61,
  21,
  188,
  285,
  348,
  115,
  92,
  290,
  96,
  11,
  23,
  104,
  172,
  268,
  151,
  279,
  180,
  27,
  110,
  241,
  122,
  213,
  34,
  214,
  230,
  310,
  152,
  112,
  237,
  12,
  206,
  88,
  233,
  2,
  338,
  167,
  173,
  249,
  255,
  242,
  94,
  148,
  52],
 [168,
  209,
  265,
  261,
  31,
  219,
  324,
  304,
  322,
  14,
  62,
  158,
  203,
  64,
  147,
  208,
  210,
  216,
  240,
  309,
  343,
  334,
  272,
  274,
  86,
  124,
  292,
  82,
  88,
  72,
  259,
  94,
  148,
  346,
  271,
  225,
  263,
  23,
  52,
  173,
  24,
  201,
  84,
  63,
  247,
  301,
  30,
  262,
  218,
  276,
  213,
  78,
  97,
  286,
  79,
  303,
  172,
  139,
  187,
  199,
  46,
  283,
  293,
  134,
  278,
  44,
  220,
  98,
  161,
  267,
  197,
  188,
  234,
  189,
  327,
  323,
  16,
  87,
  54,
  128,
  151,
  296,
  287,
  19,
  12,
  294,
  183,
  170,
  42,
  111,
  257,
  157,
  341,
  253,
  308,
  333,
  144,
  1,
  255,
  250,
  315,
  249]]

In [127]:
# output dataframe with user ids a

recommendations_movies = pd.DataFrame(rec_list)

recommendations_movies.to_csv(directory_path + 'movie_recommendations.csv', index = False)
recommendations_movies

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,95,8,14,62,265,7,216,309,343,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91,177,95,346,108,179,168,209,276,263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106,114,99,296,87,323,327,19,287,3,...,187.0,165.0,24.0,202.0,225.0,259.0,60.0,NaN,NaN,NaN
3,91,294,183,276,177,207,258,41,168,209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,168,209,265,261,31,219,324,304,322,14,...,341.0,253.0,308.0,333.0,144.0,1.0,255.0,250.0,315.0,249.0

In [128]:
pd.read_csv(directory_path + 'movie_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,95,8,14,62,265,7,216,309,343,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91,177,95,346,108,179,168,209,276,263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106,114,99,296,87,323,327,19,287,3,...,187.0,165.0,24.0,202.0,225.0,259.0,60.0,NaN,NaN,NaN
3,91,294,183,276,177,207,258,41,168,209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,168,209,265,261,31,219,324,304,322,14,...,341.0,253.0,308.0,333.0,144.0,1.0,255.0,250.0,315.0,249.0