In [111]:
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
import json
import pandas as pd
import numpy as np

In [112]:
current_dir = os.getcwd()  # gets current working directory
project_dir = os.path.dirname(current_dir)  
directory_path = os.path.dirname(current_dir) + os.sep + 'data' + os.sep

show_activities = pd.read_json(directory_path + 'show_activities.json')

## Shows

In [113]:
show_activities

      content_id activity  user_id                   datetime
0          10524     Play        3 2023-04-01 23:54:04.372501
1          10299  Dislike        3 2023-04-01 23:54:04.372543
2          10158     Play        4 2023-04-01 23:54:04.372567
3          10344     Like        2 2023-04-01 23:54:04.372589
4          10238     Like        4 2023-04-01 23:54:04.372611
...          ...      ...      ...                        ...
4995       10059     Play        4 2023-04-01 23:54:04.447640
4996       10208  Dislike        1 2023-04-01 23:54:04.447653
4997       10309     Like        3 2023-04-01 23:54:04.447666
4998       10560  Dislike        1 2023-04-01 23:54:04.447679
4999       10446  Dislike        0 2023-04-01 23:54:04.447691

[5000 rows x 4 columns]

In [114]:
# Variables for adjusting formula

clicks = 0.3
like = 10
dislike = -10

# current formula is clicks * 0.3 +/-10 (+10 for like and -10 for dislike)

In [115]:
# getting likes/dislikes
likes_dislikes = show_activities.loc[np.where((show_activities['activity'] == 'Like') ^ (show_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
user_id,,,,,,,,,,,,,,,,,,,,,
0,-10.0,0.0,10,0.0,10.0,0.0,10.0,0.0,0.0,0.0,...,10.0,0.0,10.0,0.0,10,0.0,-10.0,0.0,-10,-10.0
1,0.0,0.0,10,0.0,0.0,0.0,-10.0,0.0,10.0,-10.0,...,10.0,0.0,10.0,10.0,10,-10.0,10.0,0.0,-10,10.0
2,-10.0,10.0,10,-10.0,10.0,10.0,0.0,10.0,10.0,-10.0,...,10.0,0.0,-10.0,0.0,-10,0.0,0.0,0.0,10,0.0
3,-10.0,10.0,10,10.0,0.0,0.0,0.0,-10.0,-10.0,10.0,...,0.0,10.0,10.0,-10.0,-10,-10.0,10.0,10.0,-10,0.0
4,0.0,0.0,-10,10.0,0.0,0.0,-10.0,0.0,0.0,-10.0,...,0.0,10.0,0.0,10.0,10,-10.0,0.0,10.0,-10,-10.0

In [116]:
max_length = list(unstacked.columns)[-1] + 1

max_length

10624

In [117]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[  0.,   0.,   0., ...,   0., -10., -10.],
       [  0.,   0.,   0., ...,   0., -10.,  10.],
       [  0.,   0.,   0., ...,   0.,  10.,   0.],
       [  0.,   0.,   0., ...,  10., -10.,   0.],
       [  0.,   0.,   0., ...,  10., -10., -10.]])

In [118]:
# creating sparse matrix for plays

plays = show_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

array([[0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0.3, 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0.3, 0. ],
       [0. , 0. , 0. , ..., 0.3, 0. , 0.6],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [119]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.3,0.3,10.0,0.0,10.0,0.0,-10.0,0.0,-10.0,-10.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,10.0,10.0,10.0,-9.7,10.3,0.3,-10.0,10.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.9,0.0,-9.4,0.0,-10.0,0.0,0.0,0.0,10.3,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,10.0,10.3,-10.0,-10.0,-10.0,10.0,10.3,-10.0,0.6
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,10.0,0.3,10.0,10.3,-10.0,0.0,10.0,-10.0,-10.0

In [120]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,-9.7,0.3,10.6,0.0,10.0,0.0,10.0,0.3,0.0,0.3,...,10.3,0.3,10.0,0.0,10.0,0.0,-10.0,0.0,-10.0,-10.0
1,0.3,0.0,10.0,0.0,0.6,0.3,-10.0,0.0,10.3,-9.7,...,10.0,0.0,10.0,10.0,10.0,-9.7,10.3,0.3,-10.0,10.0
2,-10.0,10.6,10.3,-10.0,10.3,10.6,0.0,10.3,10.0,-9.7,...,10.9,0.0,-9.4,0.0,-10.0,0.0,0.0,0.0,10.3,0.0
3,-10.0,10.0,10.0,10.3,0.3,0.0,0.0,-10.0,-9.7,10.3,...,0.3,10.0,10.3,-10.0,-10.0,-10.0,10.0,10.3,-10.0,0.6
4,0.0,0.6,-10.0,10.3,0.0,0.0,-9.4,0.3,0.3,-9.4,...,0.3,10.0,0.3,10.0,10.3,-10.0,0.0,10.0,-10.0,-10.0

In [121]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [122]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [123]:
# Function to predict a user's rating for an item
def predict_rating(user_item_matrix, user_id, item_id):
    # Find the most similar users to the given user
    similar_users = np.argsort(user_similarities[user_id])[::-1][1:]
    
    # Compute weighted average of their ratings for the item 
    weighted_sum = 0
    weight_sum = 0   
    for sim_user in similar_users:
        if user_item_matrix[sim_user][item_id] != 0:
            similarity = user_similarities[user_id][sim_user]
            rating = user_item_matrix[sim_user][item_id]
            weighted_sum += similarity * rating            
            weight_sum += similarity   
    if weight_sum == 0:
        return 0
    else:
        return weighted_sum / weight_sum
    # Example usage:
    # Predict user 0's rating for item 2
    #predicted_rating = predict_rating(0, 2)
    #print(predicted_rating)

In [124]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([    0,     1,     2, ..., 10612, 10613, 10620])

In [125]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[ 0.        ,  0.        ,  0.        , ...,  8.59562066,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  5.52497285,
         0.        , -2.35845758],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [126]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,10614,10615,10616,10617,10618,10619,10620,10621,10622,10623
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,14.788250,0.0,-9.958787,0.000000,8.595621,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,15.210278,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.209350,0.0,9.863564,0.0,-9.861534,3.860121,5.524973,0.0,-2.358458
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,-5.110020,0.000000,0.0,0.000000

In [127]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]),
 array([10003, 10005, 10008, 10016, 10018, 10034, 10043, 10051, 10058,
        10060, 10064, 10072, 10073, 10074, 10081, 10088, 10090, 10095,
        10099, 10100, 10103, 10106, 10108, 10113, 10121, 10125, 10130,
        10137, 10138, 10149, 10153, 10159, 10177, 10191, 10196, 10197,
        10199, 10205, 10210, 10217, 10223, 10230, 10233, 10234, 10235,
        10238, 10245, 10250, 10251, 10259, 10260, 10262, 10270, 10291,
        10293, 10295, 10313, 10319, 10324, 10325, 10328, 10347, 10350,
        10352, 10357, 10363, 10366, 10380, 10387, 10388, 10394, 10400,
        10404, 10412, 10417, 10420, 10428, 10433, 10435, 10439, 10441,
        10447, 10460, 10465, 10471, 10472, 10487, 10492, 10493, 10502,
        10507, 10511, 10513, 10518, 10520, 10522, 10524, 10537, 10540,
        10544, 10550, 10552, 10558, 10567, 10575, 10586, 10587, 10592,
        10593, 10594, 10599, 10605, 10609, 10610, 10617, 10619, 10621,
        10001, 10003, 10007, 10012, 10022, 10033, 10035, 10037, 10055,
        10057, 10058, 10062, 10067, 10068, 10069, 10083, 10090, 10093,
        10105, 10107, 10116, 10117, 10123, 10127, 10131, 10137, 10138,
        10143, 10144, 10158, 10160, 10161, 10171, 10173, 10176, 10180,
        10186, 10191, 10195, 10196, 10212, 10214, 10231, 10234, 10244,
        10245, 10246, 10248, 10250, 10252, 10255, 10257, 10258, 10273,
        10274, 10286, 10291, 10296, 10297, 10309, 10318, 10328, 10344,
        10349, 10356, 10361, 10362, 10370, 10371, 10372, 10378, 10380,
        10383, 10386, 10387, 10391, 10395, 10399, 10400, 10407, 10416,
        10418, 10424, 10434, 10435, 10451, 10468, 10469, 10475, 10477,
        10478, 10483, 10485, 10486, 10491, 10495, 10510, 10511, 10516,
        10517, 10521, 10527, 10530, 10548, 10554, 10561, 10565, 10568,
        10576, 10581, 10587, 10589, 10600, 10604, 10613, 10615, 10006,
        10011, 10019, 10021, 10023, 10027, 10030, 10040, 10050, 10051,
        10054, 10062, 10063, 10064, 10069, 10071, 10072, 10077, 10078,
        10080, 10081, 10085, 10086, 10088, 10106, 10111, 10115, 10117,
        10120, 10122, 10125, 10135, 10136, 10146, 10151, 10153, 10159,
        10162, 10165, 10168, 10181, 10184, 10191, 10193, 10211, 10213,
        10225, 10232, 10236, 10243, 10246, 10248, 10249, 10253, 10254,
        10259, 10263, 10266, 10270, 10271, 10283, 10287, 10288, 10290,
        10292, 10295, 10298, 10300, 10304, 10306, 10308, 10309, 10311,
        10312, 10319, 10320, 10322, 10326, 10336, 10340, 10363, 10366,
        10370, 10374, 10377, 10396, 10406, 10407, 10413, 10420, 10422,
        10429, 10430, 10436, 10441, 10453, 10461, 10462, 10466, 10482,
        10486, 10489, 10491, 10496, 10503, 10504, 10506, 10516, 10529,
        10533, 10534, 10535, 10537, 10544, 10546, 10551, 10564, 10569,
        10572, 10574, 10581, 10586, 10587, 10604, 10605, 10606, 10607,
        10615, 10617, 10619, 10620, 10621, 10623, 10005, 10006, 10011,
        10018, 10019, 10020, 10024, 10032, 10035, 10036, 10048, 10051,
        10053, 10059, 10062, 10069, 10070, 10079, 10084, 10093, 10096,
        10100, 10102, 10108, 10109, 10110, 10111, 10112, 10115, 10119,
        10125, 10126, 10133, 10135, 10140, 10143, 10148, 10152, 10167,
        10171, 10178, 10181, 10184, 10192, 10196, 10197, 10200, 10204,
        10210, 10220, 10222, 10226, 10231, 10237, 10238, 10240, 10242,
        10243, 10252, 10256, 10270, 10271, 10282, 10297, 10298, 10306,
        10308, 10315, 10317, 10318, 10319, 10322, 10329, 10336, 10338,
        10344, 10346, 10358, 10362, 10368, 10370, 10372, 10376, 10378,
        10379, 10382, 10390, 10393, 10396, 10398, 10403, 10405, 10411,
        10419, 10422, 10437, 10442, 10443, 10451, 10455, 10457, 10460,
        10465, 10476, 10490, 10493, 10502, 10503, 10504, 10506, 10509,
        10511, 10512, 10513, 10514, 10515, 10516, 10522, 10523, 10535,
        10542, 10543, 10545, 10555, 10556, 10564, 10576, 10582, 10584,
        10599, 10609, 10000, 10004, 10005, 10012, 10014, 10020, 10025,
        10026, 10028, 10033, 10036, 10038, 10040, 10043, 10063, 10067,
        10073, 10076, 10090, 10112, 10113, 10119, 10124, 10125, 10128,
        10131, 10136, 10137, 10138, 10147, 10148, 10168, 10183, 10195,
        10197, 10203, 10205, 10208, 10211, 10213, 10220, 10221, 10226,
        10231, 10237, 10243, 10249, 10262, 10267, 10276, 10289, 10301,
        10303, 10304, 10310, 10316, 10317, 10321, 10326, 10333, 10336,
        10343, 10344, 10347, 10353, 10356, 10360, 10364, 10365, 10367,
        10370, 10374, 10375, 10380, 10383, 10400, 10404, 10406, 10417,
        10420, 10425, 10429, 10431, 10433, 10441, 10443, 10453, 10460,
        10461, 10463, 10477, 10481, 10484, 10490, 10501, 10507, 10509,
        10510, 10515, 10517, 10541, 10546, 10551, 10552, 10555, 10557,
        10562, 10573, 10574, 10575, 10579, 10582, 10585, 10601, 10608,
        10610, 10612, 10613, 10620]))

In [128]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[10003,
  10005,
  10008,
  10016,
  10018,
  10034,
  10043,
  10051,
  10058,
  10060,
  10064,
  10072,
  10073,
  10074,
  10081,
  10088,
  10090,
  10095,
  10099,
  10100,
  10103,
  10106,
  10108,
  10113,
  10121,
  10125,
  10130,
  10137,
  10138,
  10149,
  10153,
  10159,
  10177,
  10191,
  10196,
  10197,
  10199,
  10205,
  10210,
  10217,
  10223,
  10230,
  10233,
  10234,
  10235,
  10238,
  10245,
  10250,
  10251,
  10259,
  10260,
  10262,
  10270,
  10291,
  10293,
  10295,
  10313,
  10319,
  10324,
  10325,
  10328,
  10347,
  10350,
  10352,
  10357,
  10363,
  10366,
  10380,
  10387,
  10388,
  10394,
  10400,
  10404,
  10412,
  10417,
  10420,
  10428,
  10433,
  10435,
  10439,
  10441,
  10447,
  10460,
  10465,
  10471,
  10472,
  10487,
  10492,
  10493,
  10502,
  10507,
  10511,
  10513,
  10518,
  10520,
  10522,
  10524,
  10537,
  10540,
  10544,
  10550,
  10552,
  10558,
  10567,
  10575,
  10586,
  10587,
  10592,
  10593,
  10594,
  10599,
  10605,
  10609,
  10610,
  10617,
  10619,
  10621],
 [10001,
  10003,
  10007,
  10012,
  10022,
  10033,
  10035,
  10037,
  10055,
  10057,
  10058,
  10062,
  10067,
  10068,
  10069,
  10083,
  10090,
  10093,
  10105,
  10107,
  10116,
  10117,
  10123,
  10127,
  10131,
  10137,
  10138,
  10143,
  10144,
  10158,
  10160,
  10161,
  10171,
  10173,
  10176,
  10180,
  10186,
  10191,
  10195,
  10196,
  10212,
  10214,
  10231,
  10234,
  10244,
  10245,
  10246,
  10248,
  10250,
  10252,
  10255,
  10257,
  10258,
  10273,
  10274,
  10286,
  10291,
  10296,
  10297,
  10309,
  10318,
  10328,
  10344,
  10349,
  10356,
  10361,
  10362,
  10370,
  10371,
  10372,
  10378,
  10380,
  10383,
  10386,
  10387,
  10391,
  10395,
  10399,
  10400,
  10407,
  10416,
  10418,
  10424,
  10434,
  10435,
  10451,
  10468,
  10469,
  10475,
  10477,
  10478,
  10483,
  10485,
  10486,
  10491,
  10495,
  10510,
  10511,
  10516,
  10517,
  10521,
  10527,
  10530,
  10548,
  10554,
  10561,
  10565,
  10568,
  10576,
  10581,
  10587,
  10589,
  10600,
  10604,
  10613,
  10615],
 [10006,
  10011,
  10019,
  10021,
  10023,
  10027,
  10030,
  10040,
  10050,
  10051,
  10054,
  10062,
  10063,
  10064,
  10069,
  10071,
  10072,
  10077,
  10078,
  10080,
  10081,
  10085,
  10086,
  10088,
  10106,
  10111,
  10115,
  10117,
  10120,
  10122,
  10125,
  10135,
  10136,
  10146,
  10151,
  10153,
  10159,
  10162,
  10165,
  10168,
  10181,
  10184,
  10191,
  10193,
  10211,
  10213,
  10225,
  10232,
  10236,
  10243,
  10246,
  10248,
  10249,
  10253,
  10254,
  10259,
  10263,
  10266,
  10270,
  10271,
  10283,
  10287,
  10288,
  10290,
  10292,
  10295,
  10298,
  10300,
  10304,
  10306,
  10308,
  10309,
  10311,
  10312,
  10319,
  10320,
  10322,
  10326,
  10336,
  10340,
  10363,
  10366,
  10370,
  10374,
  10377,
  10396,
  10406,
  10407,
  10413,
  10420,
  10422,
  10429,
  10430,
  10436,
  10441,
  10453,
  10461,
  10462,
  10466,
  10482,
  10486,
  10489,
  10491,
  10496,
  10503,
  10504,
  10506,
  10516,
  10529,
  10533,
  10534,
  10535,
  10537,
  10544,
  10546,
  10551,
  10564,
  10569,
  10572,
  10574,
  10581,
  10586,
  10587,
  10604,
  10605,
  10606,
  10607,
  10615,
  10617,
  10619,
  10620,
  10621,
  10623],
 [10005,
  10006,
  10011,
  10018,
  10019,
  10020,
  10024,
  10032,
  10035,
  10036,
  10048,
  10051,
  10053,
  10059,
  10062,
  10069,
  10070,
  10079,
  10084,
  10093,
  10096,
  10100,
  10102,
  10108,
  10109,
  10110,
  10111,
  10112,
  10115,
  10119,
  10125,
  10126,
  10133,
  10135,
  10140,
  10143,
  10148,
  10152,
  10167,
  10171,
  10178,
  10181,
  10184,
  10192,
  10196,
  10197,
  10200,
  10204,
  10210,
  10220,
  10222,
  10226,
  10231,
  10237,
  10238,
  10240,
  10242,
  10243,
  10252,
  10256,
  10270,
  10271,
  10282,
  10297,
  10298,
  10306,
  10308,
  10315,
  10317,
  10318,
  10319,
  10322,
  10329,
  10336,
  10338,
  10344,
  10346,
  10358,
  10362,
  10368,
  10370,
  10372,
  10376,
  10378,
  10379,
  10382,
  10390,
  10393,
  10396,
  10398,
  10403,
  10405,
  10411,
  10419,
  10422,
  10437,
  10442,
  10443,
  10451,
  10455,
  10457,
  10460,
  10465,
  10476,
  10490,
  10493,
  10502,
  10503,
  10504,
  10506,
  10509,
  10511,
  10512,
  10513,
  10514,
  10515,
  10516,
  10522,
  10523,
  10535,
  10542,
  10543,
  10545,
  10555,
  10556,
  10564,
  10576,
  10582,
  10584,
  10599,
  10609],
 [10000,
  10004,
  10005,
  10012,
  10014,
  10020,
  10025,
  10026,
  10028,
  10033,
  10036,
  10038,
  10040,
  10043,
  10063,
  10067,
  10073,
  10076,
  10090,
  10112,
  10113,
  10119,
  10124,
  10125,
  10128,
  10131,
  10136,
  10137,
  10138,
  10147,
  10148,
  10168,
  10183,
  10195,
  10197,
  10203,
  10205,
  10208,
  10211,
  10213,
  10220,
  10221,
  10226,
  10231,
  10237,
  10243,
  10249,
  10262,
  10267,
  10276,
  10289,
  10301,
  10303,
  10304,
  10310,
  10316,
  10317,
  10321,
  10326,
  10333,
  10336,
  10343,
  10344,
  10347,
  10353,
  10356,
  10360,
  10364,
  10365,
  10367,
  10370,
  10374,
  10375,
  10380,
  10383,
  10400,
  10404,
  10406,
  10417,
  10420,
  10425,
  10429,
  10431,
  10433,
  10441,
  10443,
  10453,
  10460,
  10461,
  10463,
  10477,
  10481,
  10484,
  10490,
  10501,
  10507,
  10509,
  10510,
  10515,
  10517,
  10541,
  10546,
  10551,
  10552,
  10555,
  10557,
  10562,
  10573,
  10574,
  10575,
  10579,
  10582,
  10585,
  10601,
  10608,
  10610,
  10612,
  10613,
  10620]]

In [129]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[6.377720035622377,
  6.4862674945019005,
  5.083571491209366,
  9.97294123831196,
  2.6073735161975575,
  -13.69441539450395,
  9.313039238882325,
  9.999999999999998,
  10.1159294570752,
  -13.900106532138771,
  2.7659487528758087,
  -8.656842040373018,
  29.51846779838918,
  6.575658699288856,
  -7.92379690913401,
  -12.112536455258647,
  -139.3530166746464,
  10.31329389527486,
  -2.2838200844950634,
  -6.585496302712658,
  -4.358072969926002,
  -0.6897456620098202,
  10.042860663940328,
  56.097384074511666,
  -13.780167854023132,
  10.0,
  -10.543452708706106,
  -137.76486594637487,
  -135.8767152181033,
  10.537882615713816,
  4.139717403080413,
  12.412536455258648,
  10.274004498467544,
  10.383262026221296,
  1.926029910989726,
  4.174097602265199,
  -9.097361399497732,
  -28.73010031010551,
  8.142767092544606,
  -5.959352202376335,
  -11.521096865923443,
  -11.417303366746525,
  12.19868814655872,
  -12.121002522919204,
  6.56749752040495,
  10.042860663940328,
  -1.6299399180277079,
  -1.5048006990935066,
  14.345154630460375,
  12.040712705174887,
  11.631781566819496,
  -33.87842981534935,
  -9.699999999999998,
  -9.690790238140998,
  6.601654200821311,
  -3.065459212335267,
  -4.5267754318361275,
  7.783193811753338,
  9.698936739844417,
  7.697518354264362,
  -3.8041328074101193,
  -28.925690781413348,
  1.2260430161431093,
  1.2260430161431093,
  -9.593615414931469,
  -8.61562898086688,
  7.252462699590791,
  10.0,
  -12.497386775174808,
  -11.383146686330162,
  7.757044652658935,
  133.98856448983173,
  3.5336418822030784,
  -11.735575065996413,
  -8.573679865242916,
  -23.867524871311854,
  -2.2919812633789687,
  -56.484344835629344,
  14.478299359773416,
  -11.69130786521407,
  -36.92723275982885,
  10.578235272676713,
  -2.0121698922367015,
  5.31389090009362,
  -1.6756589056111582,
  -13.976581071855401,
  -8.06064954331386,
  7.937366172315546,
  7.2139844714893435,
  -8.099906428604276,
  -9.40722298302416,
  1.926029910989726,
  6.449714954339889,
  4.401276910552764,
  -7.958805385619019,
  -6.842622403978078,
  7.395943013917679,
  10.0,
  -7.637366172315546,
  -12.42473569336967,
  12.222718445753808,
  28.831507037271507,
  5.108941109187577,
  -10.458556792333322,
  12.12733916557178,
  14.975213195994197,
  -12.092138847821847,
  -5.959352202376335,
  -8.258179502064776,
  9.169605165005192,
  -2.150097651220087,
  9.905374642876701,
  9.307092550361808,
  -29.218467798389185,
  14.788250005584096,
  -9.95878694049386,
  8.595620659217772],
 [13.619322716474464,
  -186.10844319168083,
  36.083087915168676,
  18.12203094614726,
  -8.90920072747722,
  -8.266388143022407,
  3.762542368983376,
  16.17044659473897,
  5.039082019118882,
  -29.704843453992236,
  15.805175660837856,
  68.78161542208223,
  2.7824947736238137,
  -24.416297720129503,
  -8.818275768668762,
  20.82918041785647,
  29.66649599435096,
  7.650343471045352,
  -5.362460205215362,
  -19.147286701727467,
  20.451917746206888,
  6.99274021101751,
  -5.43687397492858,
  26.21441287989119,
  -13.547335450812666,
  28.79319750899633,
  28.21989902364171,
  8.738128306463055,
  37.695993624654754,
  -38.67976834924192,
  6.876823990829777,
  10.034786957764004,
  12.38655169806685,
  52.73507564377364,
  30.156015914565803,
  -5.307889248924561,
  -43.969973395976815,
  10.14050111165781,
  2.8682631057657737,
  18.056525864755454,
  22.785307126861436,
  -17.122342940856843,
  0.3,
  -0.9074217730065239,
  26.329707410404815,
  -47.04220669617258,
  -5.883687106665545,
  21.17478102296698,
  -42.75591931320457,
  19.790391856949963,
  32.53817896840743,
  35.78074767645019,
  29.05793568327305,
  37.352772625135856,
  23.582036143243744,
  19.33749898274354,
  -11.218888277869851,
  11.171147468524168,
  12.722349973537852,
  6.3448297170705805,
  12.596979744217874,
  -141.1925465463846,
  10.214716508088433,
  13.460303205652716,
  20.883418821160173,
  16.77962592212718,
  19.259807604554478,
  0.6,
  -26.900854878928975,
  -10.000000000000002,
  -12.38655169806685,
  10.0,
  -9.7,
  53.831804660155946,
  -1.0722330476857582,
  -17.822631216339893,
  -37.547161402799674,
  -15.428957442342842,
  -27.64660053828708,
  21.042840693669028,
  -35.51662092408149,
  17.974302975274046,
  -21.78392098348206,
  20.097850770705318,
  102.24663683660549,
  -3.021530070436863,
  15.116933895446916,
  53.41416989092384,
  -29.059286898183498,
  -20.92530632339557,
  3.973389691976037,
  35.478407437731704,
  -15.083400886534106,
  4.613981141247424,
  9.838857389594963,
  52.694194882973235,
  -2.680617992150285,
  18.056525864755454,
  68.78161542208223,
  -5.842482234131781,
  45.65935934290017,
  -1.9561267090049697,
  19.463644171668488,
  9.676621813903521,
  -17.61673171852066,
  31.478331161234884,
  31.293625691748506,
  -8.162258028289108,
  8.64855635261408,
  9.999999999999998,
  -4.242869276935939,
  -52.319781113260014,
  -10.076754008431704,
  6.3448297170705805,
  -21.03766120978008,
  15.210277736429477],
 [-6.143831788533475,
  1.571457800590822,
  6.653414338880989,
  2.6387608307572883,
  6.875699873573029,
  -2.0981418577894257,
  -6.145451195811606,
  6.924242334463009,
  -0.331569376153718,
  10.0,
  -6.050012477617984,
  4.193683858267261,
  -3.555783283775785,
  0.22973568149502815,
  -9.787094742125992,
  2.550517908949319,
  -5.243947388188336,
  6.542848605658407,
  2.1059790370004245,
  2.3074683074820923,
  -4.927019381742925,
  10.020614980602975,
  5.88146805135803,
  -0.6304381329213173,
  4.843244936762047,
  10.053890428489442,
  2.5068643499466683,
  -9.186559216073261,
  6.540404911592542,
  1.1563938808324667,
  10.0,
  10.246109571510557,
  -3.456342075236509,
  -0.7434243850372906,
  -2.277885393030113,
  4.845275563303742,
  0.9304381329213184,
  6.5846547418555295,
  -6.0845447104174735,
  3.6611923564125592,
  -9.831736489418478,
  2.894868697634527,
  10.296199185240923,
  2.4944988116869165,
  10.105409072636773,
  10.703779084425989,
  2.550530974515821,
  -2.4096464635870296,
  -5.664195267775425,
  3.5988222551813807,
  10.033202169189499,
  4.668050497150125,
  -6.330210198560508,
  6.68622567530234,
  -9.946411531236961,
  0.6324846664700055,
  2.4731080363364395,
  -2.4105646992908984,
  -9.700000000000001,
  2.7631322082160477,
  -2.296832474314724,
  1.2684451409237738,
  10.166557964558216,
  -1.1357789002294898,
  -6.422392521142763,
  -4.0898813604040685,
  5.794410603958612,
  9.889616639227057,
  0.3,
  -7.903652383685216,
  -2.1978590228688515,
  -9.819510928860117,
  6.768632090725889,
  6.617814784205422,
  0.7055153206691664,
  1.3237145745716805,
  -2.4804956155424494,
  -2.970348592900217,
  -2.9027400535741554,
  8.39830451803764,
  -5.105481191734074,
  0.7689202363825729,
  0.6,
  -2.7757576655369913,
  -2.2505179089493184,
  6.5755682779519535,
  -9.901889542212993,
  4.546082688625555,
  9.891297604111925,
  0.14998301896882216,
  8.371915894266737,
  -9.610818145273548,
  -2.417851668255035,
  -9.832679306260786,
  9.708704891201595,
  6.731281395310569,
  -9.904873474261743,
  2.548850009630954,
  2.26846952140787,
  6.368959558902595,
  4.2765775217479565,
  4.5916321350837785,
  10.086308759670617,
  -6.312009160369821,
  6.52167784946251,
  6.461195195859876,
  1.217567372101379,
  4.193683858267261,
  -5.105924170850356,
  6.658248729952946,
  -7.818919498640618,
  6.5755682779519535,
  10.0,
  -9.791269485040766,
  -3.456342075236509,
  10.295662124113287,
  1.217567372101379,
  2.3228207193519075,
  1.976661660509373,
  6.927226266511758,
  9.999999999999998,
  10.027144767181861,
  -9.277106989456497,
  -9.819510928860117,
  0.8622362549720286,
  -6.148050396400342,
  10.0,
  7.209350103983393,
  9.863564430087433,
  -9.861533803545738,
  3.8601211596624965,
  5.524972848194236,
  -2.358457575656396],
 [-0.029559584026920264,
  -56.47792991208276,
  -103.87628129989109,
  -5.446274565238765,
  60.92898358373301,
  -0.5094349444631082,
  -10.049543225414904,
  -74.79912345919077,
  25.154084323525215,
  5.843229865949496,
  -73.31326291568259,
  10.0,
  -31.817411006074476,
  26.958820856352283,
  25.69878619433245,
  -9.46451820708501,
  -95.90705454821457,
  -77.1711635155707,
  49.39165544855931,
  8.187893607899733,
  -95.90705454821457,
  -22.02616069542765,
  96.29303241020463,
  10.005686337269816,
  -96.6079506193503,
  96.27406096809626,
  9.25178841994483,
  -0.5412079878393559,
  55.24871876195564,
  -0.3719519796867641,
  10.0,
  98.43175404707526,
  -2.053068614271542,
  11.048211580055176,
  -29.74386270205295,
  -24.627317868503003,
  -9.834793189306417,
  -96.95598559712361,
  95.68263894398379,
  -9.583914761427133,
  3.2459988860256317,
  -11.401421045797532,
  81.95442086175689,
  55.149740221294664,
  0.4211595499038121,
  10.310361938355449,
  96.9269220614587,
  54.18829528201728,
  22.232764282897648,
  0.5412079878393559,
  47.53396236958033,
  -9.997659942477133,
  0.3,
  -0.3993261076569458,
  10.005686337269816,
  5.211657764386256,
  -97.56939555862769,
  5.799117697481462,
  -23.894933759779406,
  -19.55333674907621,
  -9.7,
  80.25299981595934,
  -23.714555216911823,
  -9.577673482848539,
  -45.7608253941756,
  -34.64038600183891,
  -84.36226083903915,
  -56.14356656418447,
  -4.970603993919678,
  -10.045080297458647,
  22.463313288486905,
  -82.30763032749925,
  -0.31190171386246174,
  -5.038949220855789,
  48.91678306974342,
  10.925038394524465,
  -73.55484034171586,
  96.2070545482146,
  -24.431757806373756,
  22.350404586192813,
  0.6,
  -9.999999999999998,
  -56.77443972015531,
  9.583914761427133,
  44.05841791896478,
  55.480613377265485,
  -42.79848122732903,
  -97.51985233321278,
  58.47935095788029,
  3.2270274439172586,
  -96.25508952598788,
  -31.008625509277845,
  -9.06761859638754,
  3.3349932432988987,
  33.538964956041376,
  8.685693967360198,
  -5.547584506995471,
  10.451379146888655,
  -25.078425812962376,
  -11.401792142271463,
  -42.76053834311227,
  10.639921522382368,
  21.670268962392132,
  -34.81453773887737,
  0.8300700995043551,
  9.443191016764297,
  -22.22707794562783,
  59.227562537935455,
  59.132560423622664,
  -103.42806971983592,
  -0.4037250230630118,
  0.4211595499038121,
  48.91678306974342,
  16.028763484223003,
  -11.312797784998189,
  0.6993261076569464,
  25.69878619433245,
  -9.320910848678897,
  -51.494343661966504,
  58.47935095788029,
  -56.707433300273635,
  -40.551793791076776,
  23.73171703871429,
  -4.713509484392198,
  95.64318781212543,
  -103.42806971983592,
  -25.388483404534515,
  4.878366577138724,
  96.20554630057298,
  6.4017142290679665,
  16.407852635544103],
 [-10.795897616135745,
  8.2724664575092,
  16.509824449418133,
  0.040911964559551144,
  4.615352164655075,
  -5.024996912430218,
  -1.2313350462258337,
  -1.3591677090529666,
  4.465442129366828,
  3.004547984513059,
  4.224584482560596,
  5.070844050017997,
  2.6899599155046077,
  10.18874800893198,
  8.906880620391236,
  -7.3582088243218795,
  1.6723316819469822,
  3.155207168235801,
  0.2132037136131192,
  -12.587879112521243,
  -2.2832005954654537,
  -4.957342225509035,
  -11.899816888653639,
  10.0,
  5.551222553154405,
  5.375845787697154,
  5.034475542454148,
  -0.2311633307598879,
  -0.3755303751328949,
  1.4483166781663372,
  -5.666794966048668,
  -12.55590901734812,
  -5.886174751669635,
  -0.17408736546001585,
  -5.265562831005425,
  -0.6358703884993299,
  -1.799997650269355,
  -1.6877026131743023,
  6.350971603043117,
  10.224455891112864,
  12.587879112521243,
  1.2241155708378142,
  -2.4953355524576097,
  0.3,
  -12.626697299209061,
  12.666001445589218,
  -2.3133365964848127,
  -3.3947366685644953,
  5.0565349039241,
  6.018928048645199,
  4.716509381444888,
  1.1751828229158738,
  2.0483901787577588,
  0.3,
  -5.747004160300178,
  10.154017719153838,
  -10.99393955626062,
  0.8365307264463695,
  -10.959068481452274,
  6.4202012744249854,
  -11.705826646203123,
  -0.923313389843688,
  10.61717696979356,
  -1.4972467067177764,
  -0.5185718071395576,
  5.166820217608686,
  12.039789661017222,
  -3.243122096179499,
  6.018928048645199,
  -4.7261032558417835,
  0.6,
  -7.010040084495393,
  3.8191536683901104,
  10.0,
  -9.7,
  0.5198974195059012,
  -12.191599122867403,
  -9.662227945556431,
  4.514004109484918,
  -15.26341597471258,
  6.671268526503046,
  -2.1019432060862355,
  2.0502077334946094,
  2.771948604397438,
  -20.220225193616656,
  3.240626612754432,
  -4.532552769522023,
  -21.47538728042356,
  -9.773916286046534,
  4.939500521867967,
  -4.714992580465504,
  -9.922991140423079,
  -10.028076111654979,
  5.596160412196853,
  5.020093747359205,
  -9.824915024770792,
  -12.520224425600059,
  0.3204197760971328,
  12.926697299209062,
  -4.424079431874346,
  -0.5365307264463681,
  5.034475542454148,
  6.803139030950049,
  1.8610796908789646,
  5.075380656306133,
  3.9989573700701895,
  -10.880928132094812,
  -2.8116763409650294,
  2.801648255994711,
  -4.005163161051659,
  9.18748020974157,
  2.661629104315075,
  9.26448906931849,
  -1.2745959855602575,
  7.287663321087931,
  -1.3723316819469797,
  0.9036023230986234,
  -4.868660169828387,
  -5.110019651341284]]

In [130]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[71,
  23,
  12,
  101,
  105,
  114,
  78,
  48,
  31,
  100,
  42,
  104,
  49,
  50,
  81,
  29,
  33,
  17,
  32,
  8,
  22,
  45,
  25,
  67,
  97,
  7,
  3,
  111,
  58,
  6,
  112,
  109,
  116,
  38,
  87,
  57,
  70,
  59,
  96,
  66,
  88,
  54,
  13,
  44,
  1,
  92,
  0,
  83,
  102,
  2,
  93,
  35,
  30,
  72,
  10,
  4,
  34,
  91,
  62,
  63,
  21,
  47,
  46,
  84,
  82,
  110,
  18,
  76,
  55,
  60,
  20,
  56,
  39,
  107,
  19,
  95,
  98,
  14,
  94,
  86,
  89,
  108,
  74,
  65,
  11,
  36,
  90,
  64,
  53,
  52,
  115,
  103,
  26,
  69,
  41,
  40,
  79,
  73,
  106,
  15,
  43,
  99,
  68,
  5,
  24,
  9,
  85,
  75,
  37,
  61,
  113,
  51,
  80,
  77,
  28,
  27,
  16],
 [84,
  11,
  98,
  73,
  87,
  33,
  95,
  100,
  28,
  53,
  2,
  51,
  91,
  50,
  105,
  106,
  34,
  16,
  52,
  25,
  26,
  44,
  23,
  54,
  40,
  47,
  79,
  64,
  15,
  20,
  83,
  49,
  102,
  55,
  66,
  3,
  39,
  97,
  81,
  65,
  7,
  10,
  115,
  86,
  0,
  63,
  58,
  60,
  32,
  57,
  62,
  37,
  31,
  71,
  109,
  94,
  103,
  27,
  108,
  17,
  21,
  30,
  59,
  113,
  8,
  93,
  90,
  6,
  38,
  12,
  67,
  42,
  43,
  74,
  101,
  96,
  85,
  110,
  35,
  18,
  22,
  99,
  46,
  107,
  5,
  14,
  4,
  72,
  69,
  112,
  56,
  70,
  24,
  92,
  77,
  41,
  104,
  75,
  19,
  89,
  114,
  82,
  13,
  68,
  78,
  88,
  9,
  80,
  76,
  29,
  48,
  36,
  45,
  111,
  61,
  1],
 [45,
  42,
  115,
  31,
  62,
  44,
  102,
  25,
  50,
  121,
  21,
  9,
  30,
  112,
  126,
  120,
  88,
  67,
  128,
  94,
  79,
  90,
  127,
  119,
  7,
  4,
  72,
  95,
  53,
  109,
  2,
  73,
  37,
  85,
  111,
  17,
  28,
  104,
  105,
  99,
  22,
  66,
  131,
  35,
  24,
  51,
  101,
  87,
  100,
  11,
  107,
  130,
  39,
  49,
  41,
  59,
  3,
  46,
  15,
  97,
  26,
  43,
  56,
  117,
  19,
  98,
  18,
  118,
  1,
  75,
  61,
  106,
  116,
  29,
  36,
  124,
  81,
  74,
  55,
  82,
  68,
  13,
  89,
  8,
  23,
  33,
  63,
  5,
  70,
  84,
  34,
  60,
  132,
  47,
  57,
  92,
  76,
  83,
  78,
  77,
  32,
  114,
  12,
  65,
  20,
  80,
  108,
  16,
  48,
  10,
  38,
  0,
  6,
  125,
  103,
  52,
  64,
  110,
  69,
  27,
  122,
  91,
  58,
  14,
  113,
  71,
  123,
  40,
  93,
  129,
  86,
  96,
  54],
 [31,
  46,
  22,
  25,
  77,
  128,
  38,
  124,
  42,
  61,
  4,
  107,
  108,
  88,
  119,
  85,
  28,
  43,
  47,
  18,
  74,
  112,
  50,
  84,
  94,
  13,
  14,
  116,
  8,
  122,
  70,
  79,
  48,
  102,
  130,
  113,
  33,
  75,
  101,
  97,
  45,
  23,
  54,
  11,
  30,
  83,
  105,
  26,
  95,
  19,
  129,
  9,
  57,
  55,
  127,
  93,
  40,
  89,
  104,
  115,
  80,
  49,
  44,
  111,
  52,
  0,
  72,
  29,
  53,
  110,
  5,
  27,
  32,
  123,
  68,
  73,
  3,
  96,
  92,
  117,
  15,
  63,
  39,
  60,
  36,
  51,
  81,
  69,
  6,
  114,
  41,
  99,
  59,
  21,
  106,
  62,
  58,
  78,
  35,
  98,
  126,
  34,
  91,
  12,
  65,
  103,
  121,
  100,
  86,
  64,
  118,
  67,
  1,
  120,
  82,
  10,
  76,
  7,
  17,
  71,
  66,
  16,
  20,
  90,
  24,
  37,
  87,
  56,
  109,
  125,
  2],
 [2,
  98,
  45,
  40,
  66,
  62,
  39,
  13,
  55,
  23,
  73,
  112,
  110,
  14,
  1,
  114,
  102,
  80,
  59,
  38,
  49,
  68,
  93,
  24,
  25,
  65,
  104,
  11,
  48,
  26,
  101,
  94,
  89,
  50,
  4,
  78,
  8,
  10,
  105,
  72,
  85,
  17,
  9,
  108,
  83,
  12,
  111,
  82,
  52,
  103,
  16,
  29,
  41,
  51,
  116,
  57,
  70,
  75,
  97,
  43,
  53,
  18,
  3,
  33,
  27,
  28,
  64,
  100,
  35,
  61,
  6,
  113,
  7,
  115,
  63,
  37,
  36,
  81,
  20,
  46,
  42,
  107,
  67,
  47,
  109,
  99,
  86,
  90,
  69,
  117,
  21,
  5,
  118,
  34,
  30,
  54,
  32,
  71,
  15,
  77,
  74,
  88,
  95,
  91,
  92,
  0,
  106,
  58,
  56,
  60,
  22,
  76,
  96,
  31,
  19,
  44,
  79,
  84,
  87]]

In [131]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[10400,
  10113,
  10073,
  10552,
  10586,
  10617,
  10435,
  10251,
  10159,
  10550,
  10233,
  10575,
  10259,
  10260,
  10447,
  10149,
  10191,
  10095,
  10177,
  10058,
  10108,
  10238,
  10125,
  10380,
  10537,
  10051,
  10016,
  10605,
  10324,
  10043,
  10609,
  10594,
  10621,
  10210,
  10492,
  10319,
  10394,
  10325,
  10524,
  10366,
  10493,
  10293,
  10074,
  10235,
  10005,
  10513,
  10003,
  10465,
  10558,
  10008,
  10518,
  10197,
  10153,
  10404,
  10064,
  10018,
  10196,
  10511,
  10350,
  10352,
  10106,
  10250,
  10245,
  10471,
  10460,
  10599,
  10099,
  10428,
  10295,
  10328,
  10103,
  10313,
  10217,
  10592,
  10100,
  10522,
  10540,
  10081,
  10520,
  10487,
  10502,
  10593,
  10417,
  10363,
  10072,
  10199,
  10507,
  10357,
  10291,
  10270,
  10619,
  10567,
  10130,
  10388,
  10230,
  10223,
  10439,
  10412,
  10587,
  10088,
  10234,
  10544,
  10387,
  10034,
  10121,
  10060,
  10472,
  10420,
  10205,
  10347,
  10610,
  10262,
  10441,
  10433,
  10138,
  10137,
  10090],
 [10435,
  10062,
  10516,
  10386,
  10469,
  10173,
  10495,
  10521,
  10144,
  10273,
  10007,
  10257,
  10483,
  10255,
  10561,
  10565,
  10176,
  10090,
  10258,
  10137,
  10138,
  10244,
  10127,
  10274,
  10212,
  10248,
  10407,
  10356,
  10083,
  10116,
  10434,
  10252,
  10530,
  10286,
  10362,
  10012,
  10196,
  10511,
  10418,
  10361,
  10037,
  10058,
  10615,
  10468,
  10001,
  10349,
  10297,
  10318,
  10171,
  10296,
  10344,
  10191,
  10161,
  10380,
  10581,
  10491,
  10548,
  10143,
  10576,
  10093,
  10117,
  10160,
  10309,
  10604,
  10055,
  10486,
  10478,
  10035,
  10195,
  10067,
  10370,
  10231,
  10234,
  10387,
  10527,
  10510,
  10451,
  10587,
  10180,
  10105,
  10123,
  10517,
  10246,
  10568,
  10033,
  10069,
  10022,
  10383,
  10372,
  10600,
  10291,
  10378,
  10131,
  10485,
  10399,
  10214,
  10554,
  10391,
  10107,
  10477,
  10613,
  10424,
  10068,
  10371,
  10400,
  10475,
  10057,
  10416,
  10395,
  10158,
  10250,
  10186,
  10245,
  10589,
  10328,
  10003],
 [10213,
  10191,
  10551,
  10135,
  10288,
  10211,
  10491,
  10111,
  10246,
  10586,
  10085,
  10051,
  10125,
  10537,
  10607,
  10581,
  10413,
  10300,
  10617,
  10441,
  10340,
  10422,
  10615,
  10574,
  10040,
  10023,
  10311,
  10453,
  10253,
  10533,
  10019,
  10312,
  10162,
  10396,
  10535,
  10077,
  10120,
  10503,
  10504,
  10482,
  10086,
  10298,
  10621,
  10153,
  10106,
  10248,
  10489,
  10407,
  10486,
  10062,
  10516,
  10620,
  10168,
  10243,
  10184,
  10271,
  10021,
  10225,
  10071,
  10462,
  10115,
  10193,
  10263,
  10569,
  10080,
  10466,
  10078,
  10572,
  10011,
  10320,
  10287,
  10506,
  10564,
  10122,
  10159,
  10605,
  10366,
  10319,
  10259,
  10370,
  10304,
  10064,
  10420,
  10050,
  10088,
  10146,
  10290,
  10027,
  10308,
  10377,
  10151,
  10283,
  10623,
  10232,
  10266,
  10430,
  10322,
  10374,
  10336,
  10326,
  10136,
  10546,
  10063,
  10295,
  10081,
  10363,
  10529,
  10072,
  10236,
  10054,
  10165,
  10006,
  10030,
  10606,
  10496,
  10249,
  10292,
  10534,
  10306,
  10117,
  10587,
  10429,
  10270,
  10069,
  10544,
  10309,
  10604,
  10181,
  10436,
  10619,
  10406,
  10461,
  10254],
 [10126,
  10200,
  10102,
  10110,
  10358,
  10584,
  10167,
  10556,
  10184,
  10271,
  10019,
  10503,
  10504,
  10396,
  10535,
  10382,
  10115,
  10192,
  10204,
  10084,
  10338,
  10512,
  10222,
  10379,
  10422,
  10059,
  10062,
  10516,
  10035,
  10545,
  10319,
  10368,
  10210,
  10465,
  10609,
  10513,
  10135,
  10344,
  10460,
  10443,
  10197,
  10108,
  10238,
  10051,
  10125,
  10378,
  10493,
  10111,
  10437,
  10093,
  10599,
  10036,
  10243,
  10240,
  10582,
  10419,
  10178,
  10398,
  10490,
  10515,
  10370,
  10220,
  10196,
  10511,
  10231,
  10005,
  10329,
  10119,
  10237,
  10509,
  10020,
  10112,
  10133,
  10555,
  10317,
  10336,
  10018,
  10442,
  10411,
  10522,
  10069,
  10297,
  10171,
  10270,
  10148,
  10226,
  10372,
  10318,
  10024,
  10514,
  10181,
  10455,
  10256,
  10100,
  10502,
  10282,
  10252,
  10362,
  10143,
  10451,
  10576,
  10140,
  10405,
  10053,
  10306,
  10476,
  10543,
  10457,
  10390,
  10298,
  10523,
  10315,
  10006,
  10542,
  10376,
  10048,
  10346,
  10032,
  10079,
  10322,
  10308,
  10070,
  10096,
  10403,
  10109,
  10152,
  10393,
  10242,
  10506,
  10564,
  10011],
 [10005,
  10515,
  10243,
  10220,
  10360,
  10344,
  10213,
  10043,
  10316,
  10125,
  10380,
  10585,
  10579,
  10063,
  10004,
  10608,
  10551,
  10425,
  10333,
  10211,
  10276,
  10365,
  10490,
  10128,
  10131,
  10356,
  10555,
  10038,
  10267,
  10136,
  10546,
  10501,
  10463,
  10289,
  10014,
  10417,
  10028,
  10036,
  10557,
  10375,
  10443,
  10076,
  10033,
  10574,
  10433,
  10040,
  10582,
  10431,
  10303,
  10552,
  10073,
  10147,
  10221,
  10301,
  10612,
  10321,
  10370,
  10400,
  10510,
  10231,
  10304,
  10090,
  10012,
  10195,
  10137,
  10138,
  10353,
  10541,
  10203,
  10343,
  10025,
  10601,
  10026,
  10610,
  10347,
  10208,
  10205,
  10429,
  10113,
  10249,
  10226,
  10573,
  10364,
  10262,
  10575,
  10517,
  10453,
  10477,
  10367,
  10613,
  10119,
  10020,
  10620,
  10197,
  10148,
  10310,
  10183,
  10374,
  10067,
  10406,
  10383,
  10461,
  10507,
  10481,
  10484,
  10000,
  10562,
  10326,
  10317,
  10336,
  10124,
  10404,
  10509,
  10168,
  10112,
  10237,
  10420,
  10441,
  10460]]

In [132]:
# output dataframe with user ids a

recommendations_shows = pd.DataFrame(rec_list)

recommendations_shows.to_csv(directory_path + 'show_recommendations.csv', index = False)
recommendations_shows

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
0,10400,10113,10073,10552,10586,10617,10435,10251,10159,10550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10435,10062,10516,10386,10469,10173,10495,10521,10144,10273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10213,10191,10551,10135,10288,10211,10491,10111,10246,10586,...,10069.0,10544.0,10309.0,10604.0,10181.0,10436.0,10619.0,10406.0,10461.0,10254.0
3,10126,10200,10102,10110,10358,10584,10167,10556,10184,10271,...,10403.0,10109.0,10152.0,10393.0,10242.0,10506.0,10564.0,10011.0,NaN,NaN
4,10005,10515,10243,10220,10360,10344,10213,10043,10316,10125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
pd.read_csv(directory_path + 'show_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
0,10400,10113,10073,10552,10586,10617,10435,10251,10159,10550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10435,10062,10516,10386,10469,10173,10495,10521,10144,10273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10213,10191,10551,10135,10288,10211,10491,10111,10246,10586,...,10069.0,10544.0,10309.0,10604.0,10181.0,10436.0,10619.0,10406.0,10461.0,10254.0
3,10126,10200,10102,10110,10358,10584,10167,10556,10184,10271,...,10403.0,10109.0,10152.0,10393.0,10242.0,10506.0,10564.0,10011.0,NaN,NaN
4,10005,10515,10243,10220,10360,10344,10213,10043,10316,10125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Movies

In [134]:
movie_activities = pd.read_json(directory_path + 'movie_activities.json')

In [135]:
# getting likes/dislikes
likes_dislikes = movie_activities.loc[np.where((movie_activities['activity'] == 'Like') ^ (movie_activities['activity'] == 'Dislike'))]

# latest activity at the bottom
likes_dislikes.sort_values('datetime', inplace = True)

# filtering out all like/dislike that is not at the bottom
latest = likes_dislikes.groupby(['user_id', 'content_id']).last()


# getting the right shape
latest.drop(columns = 'datetime', inplace = True)

unstacked = latest.unstack()

unstacked.columns = unstacked.columns.droplevel()

unstacked.replace({'Dislike':dislike, 'Like':like}, inplace = True)

unstacked.fillna(0, inplace = True)

unstacked

content_id,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,10.0,10.0,10.0,-10.0,-10.0,-10.0,-10.0,10,-10.0,...,10.0,0.0,0.0,10.0,0.0,-10.0,-10.0,10.0,0.0,-10
1,-10.0,0.0,-10.0,10.0,0.0,0.0,10.0,10.0,10,-10.0,...,-10.0,-10.0,0.0,10.0,-10.0,0.0,-10.0,10.0,-10.0,-10
2,0.0,0.0,0.0,0.0,0.0,-10.0,0.0,0.0,10,10.0,...,-10.0,10.0,10.0,-10.0,10.0,10.0,10.0,-10.0,10.0,-10
3,-10.0,-10.0,0.0,0.0,0.0,0.0,-10.0,-10.0,10,0.0,...,10.0,-10.0,10.0,0.0,10.0,10.0,-10.0,0.0,0.0,-10
4,-10.0,0.0,-10.0,-10.0,-10.0,-10.0,0.0,-10.0,-10,10.0,...,0.0,-10.0,0.0,-10.0,-10.0,0.0,0.0,0.0,-10.0,-10

In [136]:
max_length = list(unstacked.columns)[-1] + 1

max_length

353

In [137]:
# turning it into sparse matrix

likes_matrix = np.zeros((5, max_length))

users = [i for i in list(unstacked.index)]
cols = list(unstacked.columns)

for i in users:
    for j in cols:
        likes_matrix[i, j] = unstacked.loc[i, j]
        
likes_matrix

array([[  0.,  10.,  10., ...,  10.,   0., -10.],
       [-10.,   0., -10., ...,  10., -10., -10.],
       [  0.,   0.,   0., ..., -10.,  10., -10.],
       [-10., -10.,   0., ...,   0.,   0., -10.],
       [-10.,   0., -10., ...,   0., -10., -10.]])

In [138]:
# creating sparse matrix for plays

plays = movie_activities[show_activities['activity'] == 'Play']

grouped_plays = plays.groupby(['user_id', 'content_id']).count()

pivot_plays = grouped_plays.pivot_table(index='user_id', columns = 'content_id', values = 'activity')

pivot_plays.fillna(0, inplace = True)

plays_matrix = np.zeros((5, max_length))

users = [i for i in range(5)]
cols = list(pivot_plays.columns)

for i in users:
    for j in cols:
        plays_matrix[i, j] = pivot_plays.loc[i, j] * clicks
        
plays_matrix

/var/folders/mv/3y_h14td39s6m0zfltc84cb00000gq/T/ipykernel_17339/1173394406.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  plays = movie_activities[show_activities['activity'] == 'Play']

array([[0. , 0.3, 0. , ..., 0. , 0. , 0.6],
       [0. , 0. , 0.3, ..., 0. , 0. , 0. ],
       [0. , 0. , 0.3, ..., 0.6, 0.3, 0.3],
       [0. , 0.3, 0. , ..., 0. , 0.6, 0.3],
       [0.6, 0. , 0.3, ..., 0. , 0. , 0. ]])

In [139]:
scores_matrix = plays_matrix + likes_matrix

scores_df = pd.DataFrame(scores_matrix)

scores_df

,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
0,0.0,10.3,10.0,10.0,-10.0,-10.0,-9.7,-9.4,10.0,-9.1,...,10.0,0.0,0.0,10.3,0.0,-10.0,-9.7,10.0,0.0,-9.4
1,-10.0,0.0,-9.7,10.3,0.0,0.0,10.0,10.0,10.3,-10.0,...,-9.7,-9.7,0.0,10.3,-9.4,0.0,-10.0,10.0,-10.0,-10.0
2,0.0,0.0,0.3,0.0,0.0,-9.7,0.0,0.3,10.9,10.3,...,-9.7,10.3,10.3,-9.7,10.6,10.6,10.0,-9.4,10.3,-9.7
3,-10.0,-9.7,0.0,0.0,0.0,0.0,-9.7,-9.7,10.3,0.0,...,10.3,-9.7,10.6,0.0,10.6,10.0,-10.0,0.0,0.6,-9.7
4,-9.4,0.0,-9.7,-10.0,-10.0,-9.4,0.0,-9.7,-10.0,10.0,...,0.0,-10.0,0.0,-9.7,-9.7,0.0,0.0,0.0,-10.0,-10.0

In [140]:
scores_df_clean = scores_df.copy().loc[:, ~(scores_df == 0).all()]

scores_df_clean

,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
0,0.0,10.3,10.0,10.0,-10.0,-10.0,-9.7,-9.4,10.0,-9.1,...,10.0,0.0,0.0,10.3,0.0,-10.0,-9.7,10.0,0.0,-9.4
1,-10.0,0.0,-9.7,10.3,0.0,0.0,10.0,10.0,10.3,-10.0,...,-9.7,-9.7,0.0,10.3,-9.4,0.0,-10.0,10.0,-10.0,-10.0
2,0.0,0.0,0.3,0.0,0.0,-9.7,0.0,0.3,10.9,10.3,...,-9.7,10.3,10.3,-9.7,10.6,10.6,10.0,-9.4,10.3,-9.7
3,-10.0,-9.7,0.0,0.0,0.0,0.0,-9.7,-9.7,10.3,0.0,...,10.3,-9.7,10.6,0.0,10.6,10.0,-10.0,0.0,0.6,-9.7
4,-9.4,0.0,-9.7,-10.0,-10.0,-9.4,0.0,-9.7,-10.0,10.0,...,0.0,-10.0,0.0,-9.7,-9.7,0.0,0.0,0.0,-10.0,-10.0

In [141]:
scores_df_clean.replace(0, np.nan, inplace = True)

In [142]:
# Compute cosine similarity between all pairs of users
user_similarities = cosine_similarity(scores_matrix)

In [143]:
missings = np.where(scores_matrix == 0)

u_ids = missings[0]
c_ids = missings[1]

c_ids

array([  0,  15,  23,  24,  26,  30,  31,  38,  43,  44,  48,  59,  61,
        67,  70,  73,  74,  77,  78,  82,  84,  85,  87,  89,  94,  95,
       104, 107, 108, 114, 124, 127, 131, 133, 141, 146, 154, 157, 158,
       159, 164, 170, 172, 175, 181, 183, 184, 187, 190, 196, 197, 199,
       213, 223, 226, 232, 237, 239, 243, 245, 246, 247, 248, 252, 260,
       264, 266, 267, 290, 293, 298, 302, 303, 308, 309, 312, 315, 319,
       322, 329, 333, 335, 342, 344, 345, 347, 351,   1,   4,   5,  10,
        13,  15,  18,  21,  30,  40,  41,  45,  50,  51,  56,  58,  62,
        71,  73,  77,  85,  88,  89,  94,  98, 103, 104, 105, 107, 108,
       109, 110, 113, 114, 120, 121, 131, 133, 138, 148, 152, 157, 161,
       164, 165, 168, 169, 170, 171, 173, 176, 177, 178, 180, 181, 186,
       188, 189, 196, 206, 209, 212, 213, 214, 222, 224, 225, 229, 230,
       236, 239, 245, 248, 249, 250, 251, 252, 255, 260, 261, 264, 268,
       269, 270, 273, 285, 289, 290, 292, 293, 294, 295, 299, 300, 307,
       309, 320, 323, 325, 330, 336, 339, 345, 348,   0,   1,   3,   4,
         6,  11,  19,  27,  28,  29,  33,  36,  37,  39,  54,  62,  63,
        68,  75,  77,  80,  81,  84,  85,  88,  92,  94,  95,  97, 100,
       101, 102, 110, 113, 122, 134, 142, 143, 148, 151, 152, 158, 168,
       172, 173, 174, 178, 181, 183, 184, 194, 199, 200, 209, 217, 224,
       230, 231, 237, 240, 242, 243, 256, 261, 263, 274, 275, 276, 289,
       290, 293, 294, 296, 298, 299, 304, 306, 318, 319, 329, 341,   2,
         3,   4,   5,   9,  12,  13,  17,  18,  20,  21,  22,  23,  25,
        28,  29,  35,  37,  44,  45,  46,  48,  49,  53,  57,  58,  60,
        61,  63,  68,  69,  76,  78,  79,  80,  82,  87,  89,  91,  92,
       105, 116, 126, 127, 133, 134, 141, 143, 145, 147, 152, 157, 164,
       165, 169, 170, 176, 179, 182, 187, 189, 190, 197, 204, 205, 209,
       214, 217, 219, 220, 225, 230, 234, 236, 237, 238, 260, 261, 265,
       269, 277, 284, 287, 292, 296, 304, 305, 319, 320, 322, 323, 333,
       346, 350,   1,   6,  11,  16,  19,  21,  22,  24,  31,  33,  34,
        36,  38,  42,  45,  46,  50,  51,  55,  60,  62,  68,  73,  77,
        81,  85,  91,  93,  98, 105, 106, 107, 108, 109, 110, 113, 114,
       129, 136, 148, 150, 153, 154, 158, 161, 163, 166, 167, 169, 182,
       185, 187, 196, 201, 204, 207, 212, 218, 219, 224, 226, 235, 239,
       240, 242, 245, 251, 256, 258, 259, 262, 264, 265, 270, 271, 273,
       274, 282, 283, 284, 285, 290, 296, 297, 300, 301, 304, 305, 310,
       315, 319, 323, 325, 328, 332, 333, 343, 345, 348, 349, 350])

In [144]:
z = np.zeros((5, max_length))

for i in range(len(u_ids)):
    z[u_ids[i], c_ids[i]] = predict_rating(scores_matrix, u_ids[i], c_ids[i])
        
z

array([[  -9.66666524,    0.        ,    0.        , ...,    0.        ,
          34.1115001 ,    0.        ],
       [   0.        , -255.01424725,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       [ -10.03677589,  100.74201808,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       [   0.        ,    0.        ,   -1.79054406, ...,   -7.36519536,
           0.        ,    0.        ],
       [   0.        ,   -2.45752333,    0.        , ...,   10.95481929,
           0.        ,    0.        ]])

In [145]:
only_predictions = pd.DataFrame(z)

only_predictions

,0,1,2,3,4,5,6,7,8,9,...,343,344,345,346,347,348,349,350,351,352
0,-9.666665,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.00000,38.523111,10.233796,0.000000,30.147245,0.000000,0.000000,0.000000,34.1115,0.0
1,0.000000,-255.014247,0.000000,0.000000,-10.0,-9.128005,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,10.369635,0.000000,0.000000,16.051955,0.000000,0.000000,0.0000,0.0
2,-10.036776,100.742018,0.000000,9.590183,-10.0,0.000000,2.273458,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0
3,0.000000,0.000000,-1.790544,-7.159699,-10.0,-9.625503,0.000000,0.0,0.0,8.983081,...,0.00000,0.000000,0.000000,-8.408196,0.000000,0.000000,0.000000,-7.365195,0.0000,0.0
4,0.000000,-2.457523,0.000000,0.000000,0.0,0.000000,-4.290695,0.0,0.0,0.000000,...,5.10258,0.000000,10.617281,0.000000,0.000000,2.475248,-10.436245,10.954819,0.0000,0.0

In [146]:
np.where(only_predictions != 0)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
        4, 4, 4, 4, 4]),
 array([  0,  15,  23,  24,  26,  30,  31,  38,  43,  44,  48,  59,  61,
         67,  70,  73,  74,  77,  78,  82,  84,  85,  87,  89,  94,  95,
        104, 107, 108, 114, 124, 127, 131, 133, 141, 146, 154, 157, 158,
        159, 164, 170, 172, 175, 181, 183, 184, 187, 190, 196, 197, 199,
        213, 223, 226, 232, 237, 239, 243, 245, 246, 247, 248, 252, 260,
        264, 266, 267, 290, 293, 298, 302, 303, 308, 309, 312, 315, 319,
        322, 329, 333, 335, 342, 344, 345, 347, 351,   1,   4,   5,  10,
         13,  15,  18,  21,  30,  40,  41,  45,  50,  51,  56,  58,  62,
         71,  73,  77,  85,  88,  89,  94,  98, 103, 104, 105, 107, 108,
        109, 110, 113, 114, 120, 121, 131, 133, 138, 148, 152, 157, 161,
        164, 165, 168, 169, 170, 171, 173, 176, 177, 178, 180, 181, 186,
        188, 189, 196, 206, 209, 212, 213, 214, 222, 224, 225, 229, 230,
        236, 239, 245, 248, 249, 250, 251, 252, 255, 260, 261, 264, 268,
        269, 270, 273, 285, 289, 290, 292, 293, 294, 295, 299, 300, 307,
        309, 320, 323, 325, 330, 336, 339, 345, 348,   0,   1,   3,   4,
          6,  11,  19,  27,  28,  29,  33,  36,  37,  39,  54,  62,  63,
         68,  75,  77,  80,  81,  84,  85,  88,  92,  94,  95,  97, 100,
        101, 102, 110, 113, 122, 134, 142, 143, 148, 151, 152, 158, 168,
        172, 173, 174, 178, 181, 183, 184, 194, 199, 200, 209, 217, 224,
        230, 231, 237, 240, 242, 243, 256, 261, 263, 274, 275, 276, 289,
        290, 293, 294, 296, 298, 299, 304, 306, 318, 319, 329, 341,   2,
          3,   4,   5,   9,  12,  13,  17,  18,  20,  21,  22,  23,  25,
         28,  29,  35,  37,  44,  45,  46,  48,  49,  53,  57,  58,  60,
         61,  63,  68,  69,  76,  78,  79,  80,  82,  87,  89,  91,  92,
        105, 116, 126, 127, 133, 134, 141, 143, 145, 147, 152, 157, 164,
        165, 169, 170, 176, 179, 182, 187, 189, 190, 197, 204, 205, 209,
        214, 217, 219, 220, 225, 230, 234, 236, 237, 238, 260, 261, 265,
        269, 277, 284, 287, 292, 296, 304, 305, 319, 320, 322, 323, 333,
        346, 350,   1,   6,  11,  16,  19,  21,  22,  24,  31,  33,  34,
         36,  38,  42,  45,  46,  50,  51,  55,  60,  62,  68,  73,  77,
         81,  85,  91,  93,  98, 105, 106, 107, 108, 109, 110, 113, 114,
        129, 136, 148, 150, 153, 154, 158, 161, 163, 166, 167, 169, 182,
        185, 187, 196, 201, 204, 207, 212, 218, 219, 224, 226, 235, 239,
        240, 242, 245, 251, 256, 258, 259, 262, 264, 265, 270, 271, 273,
        274, 282, 283, 284, 285, 290, 296, 297, 300, 301, 304, 305, 310,
        315, 319, 323, 325, 328, 332, 333, 343, 345, 348, 349, 350]))

In [147]:
unwatched_list = []

for i in range(len(only_predictions)):
    unwatched_list.append(list(np.where(z[i] != 0)[0]))
                     
unwatched_list

[[0,
  15,
  23,
  24,
  26,
  30,
  31,
  38,
  43,
  44,
  48,
  59,
  61,
  67,
  70,
  73,
  74,
  77,
  78,
  82,
  84,
  85,
  87,
  89,
  94,
  95,
  104,
  107,
  108,
  114,
  124,
  127,
  131,
  133,
  141,
  146,
  154,
  157,
  158,
  159,
  164,
  170,
  172,
  175,
  181,
  183,
  184,
  187,
  190,
  196,
  197,
  199,
  213,
  223,
  226,
  232,
  237,
  239,
  243,
  245,
  246,
  247,
  248,
  252,
  260,
  264,
  266,
  267,
  290,
  293,
  298,
  302,
  303,
  308,
  309,
  312,
  315,
  319,
  322,
  329,
  333,
  335,
  342,
  344,
  345,
  347,
  351],
 [1,
  4,
  5,
  10,
  13,
  15,
  18,
  21,
  30,
  40,
  41,
  45,
  50,
  51,
  56,
  58,
  62,
  71,
  73,
  77,
  85,
  88,
  89,
  94,
  98,
  103,
  104,
  105,
  107,
  108,
  109,
  110,
  113,
  114,
  120,
  121,
  131,
  133,
  138,
  148,
  152,
  157,
  161,
  164,
  165,
  168,
  169,
  170,
  171,
  173,
  176,
  177,
  178,
  180,
  181,
  186,
  188,
  189,
  196,
  206,
  209,
  212,
  213,
  214,
  222,
  224,
  225,
  229,
  230,
  236,
  239,
  245,
  248,
  249,
  250,
  251,
  252,
  255,
  260,
  261,
  264,
  268,
  269,
  270,
  273,
  285,
  289,
  290,
  292,
  293,
  294,
  295,
  299,
  300,
  307,
  309,
  320,
  323,
  325,
  330,
  336,
  339,
  345,
  348],
 [0,
  1,
  3,
  4,
  6,
  11,
  19,
  27,
  28,
  29,
  33,
  36,
  37,
  39,
  54,
  62,
  63,
  68,
  75,
  77,
  80,
  81,
  84,
  85,
  88,
  92,
  94,
  95,
  97,
  100,
  101,
  102,
  110,
  113,
  122,
  134,
  142,
  143,
  148,
  151,
  152,
  158,
  168,
  172,
  173,
  174,
  178,
  181,
  183,
  184,
  194,
  199,
  200,
  209,
  217,
  224,
  230,
  231,
  237,
  240,
  242,
  243,
  256,
  261,
  263,
  274,
  275,
  276,
  289,
  290,
  293,
  294,
  296,
  298,
  299,
  304,
  306,
  318,
  319,
  329,
  341],
 [2,
  3,
  4,
  5,
  9,
  12,
  13,
  17,
  18,
  20,
  21,
  22,
  23,
  25,
  28,
  29,
  35,
  37,
  44,
  45,
  46,
  48,
  49,
  53,
  57,
  58,
  60,
  61,
  63,
  68,
  69,
  76,
  78,
  79,
  80,
  82,
  87,
  89,
  91,
  92,
  105,
  116,
  126,
  127,
  133,
  134,
  141,
  143,
  145,
  147,
  152,
  157,
  164,
  165,
  169,
  170,
  176,
  179,
  182,
  187,
  189,
  190,
  197,
  204,
  205,
  209,
  214,
  217,
  219,
  220,
  225,
  230,
  234,
  236,
  237,
  238,
  260,
  261,
  265,
  269,
  277,
  284,
  287,
  292,
  296,
  304,
  305,
  319,
  320,
  322,
  323,
  333,
  346,
  350],
 [1,
  6,
  11,
  16,
  19,
  21,
  22,
  24,
  31,
  33,
  34,
  36,
  38,
  42,
  45,
  46,
  50,
  51,
  55,
  60,
  62,
  68,
  73,
  77,
  81,
  85,
  91,
  93,
  98,
  105,
  106,
  107,
  108,
  109,
  110,
  113,
  114,
  129,
  136,
  148,
  150,
  153,
  154,
  158,
  161,
  163,
  166,
  167,
  169,
  182,
  185,
  187,
  196,
  201,
  204,
  207,
  212,
  218,
  219,
  224,
  226,
  235,
  239,
  240,
  242,
  245,
  251,
  256,
  258,
  259,
  262,
  264,
  265,
  270,
  271,
  273,
  274,
  282,
  283,
  284,
  285,
  290,
  296,
  297,
  300,
  301,
  304,
  305,
  310,
  315,
  319,
  323,
  325,
  328,
  332,
  333,
  343,
  345,
  348,
  349,
  350]]

In [148]:
score_list = []
c = 0
for i in unwatched_list:
    s = []
    for j in i:
        s.append(z[c, j])
    score_list.append(s)
    c += 1
    
score_list

[[-9.666665244931815,
  16.953030218787973,
  4.612128860455085,
  -11.712607121465455,
  -17.956017859428965,
  -30.498221335933394,
  -14.880938637951138,
  -10.0,
  -13.461680684868682,
  13.127266736213494,
  23.431179604009305,
  -27.987219621403398,
  12.964586495824094,
  -22.496332010098847,
  -14.240314150669885,
  -14.54603592808164,
  36.051397879923584,
  -9.7,
  23.972616095506808,
  13.466644861767545,
  3.9340408420623683,
  10.0,
  -3.7706923689575844,
  -10.0,
  -2.8375152821904766,
  10.092989376706052,
  17.51490633631663,
  14.347422707922734,
  10.233795593280366,
  -13.447422707922733,
  -34.282314992772704,
  18.308504924362648,
  23.087009851839174,
  20.03076527697086,
  -9.497941634056549,
  37.756611206620576,
  -9.595022145795687,
  10.0,
  -9.909227213084696,
  18.66893804371519,
  -9.399999999999999,
  -9.55619558703984,
  -3.4480620886502606,
  -18.67586577508152,
  -9.892562729232857,
  -8.314881895578312,
  3.9340408420623683,
  -9.72553261763734,
  10.4626802403894,
  -10.0,
  15.057936073313808,
  10.0,
  -30.607746628801774,
  26.08323896243129,
  -13.666005075338196,
  4.456909590885831,
  6.102301889834017,
  -10.0,
  -3.5340429746646436,
  10.0,
  25.000003223269292,
  -34.51556482965592,
  -2.5926618303066724,
  17.082635605489056,
  -19.286960864010705,
  -10.132408813439271,
  -36.55473202408847,
  -29.57427124167473,
  -9.7,
  2.9449525529576195,
  5.688911873602305,
  13.860190261764881,
  18.97586577508152,
  -35.44447014855725,
  29.886560454641437,
  -25.783238962431295,
  -3.2407121117446747,
  -9.7,
  7.074656990335728,
  5.688911873602305,
  -9.7,
  21.75974802905073,
  -8.793554005578107,
  38.52311088038703,
  10.233795593280366,
  30.1472451053055,
  34.11150009836316],
 [-255.0142472465257,
  -9.999999999999998,
  -9.12800488181384,
  87.76311198755654,
  51.288984114522265,
  135.92658054957053,
  -0.4474275080735255,
  17.758227371236554,
  -198.800605885252,
  119.45751530076858,
  -84.51544462675707,
  -17.458227371236553,
  -9.904652848941957,
  -5.39479453620232,
  -89.54763252681192,
  -9.7,
  -255.0142472465257,
  86.62640158348819,
  -5.21841787763327,
  -9.7,
  10.0,
  10.305772918848497,
  -9.999999999999995,
  -16.682798911552055,
  0.5227886198655431,
  121.03345113742445,
  -57.851992535211615,
  -10.232746821137097,
  5.427321950940553,
  10.36963469110243,
  -15.16532225774081,
  255.61424724652576,
  -255.31424724652575,
  -4.527321950940552,
  42.79399044094901,
  44.79741410343934,
  263.15526937976716,
  -108.10148883635962,
  8.333699613841048,
  -1.7405725826042129,
  6.239385606611203,
  9.999999999999995,
  -3.584447653586148,
  -9.399999999999999,
  0.8750505137649949,
  -7.263119382840772,
  9.767253178862905,
  -11.44977569708906,
  22.77787244410871,
  0.42162166619652436,
  -50.77185313159671,
  -120.1760055517405,
  -10.161443137501706,
  88.55557869331575,
  -10.10024198367328,
  -43.51604712879881,
  -45.6341245075077,
  -39.497184493954066,
  -10.000000000000002,
  19.708418493334893,
  6.295794822512034,
  -4.1710803363942155,
  -197.849551744939,
  0.8750505137649949,
  -12.17488508875848,
  -5.72028629130211,
  39.30805839284234,
  -116.22728678258227,
  -9.512818431801662,
  -9.12800488181384,
  -10.000000000000002,
  10.000000000000002,
  -157.97943936698462,
  -89.46653565004686,
  -12.17488508875848,
  7.919730821744497,
  -51.50150107357603,
  155.37552181143596,
  106.95171313927057,
  -6.239385606611203,
  -9.860730617795145,
  120.55710242850559,
  1.747045631951156,
  -3.871080336394214,
  0.5227886198655431,
  -5.39479453620232,
  12.815968954877219,
  -9.7,
  9.728004881813836,
  16.582556927878773,
  -9.892430628283243,
  67.08078874967732,
  8.132131892059236,
  4.089100502528104,
  102.25985932717697,
  193.10805608448507,
  15.112403749822771,
  10.41637341056855,
  -6.815077972802542,
  -149.0212772235313,
  25.986699016860484,
  -5.612055798254273,
  10.36963469110243,
  16.051954940548878],
 [-10.036775885203634,
  100.74201807780864,
  9.590183250436462,
  -9.999999999999998,
  2.273457667128067,
  -34.19832554042202,
  -33.31649380741094,
  -21.881943751962357,
  -9.447599707754074,
  -2.0835023561812878,
  -23.331704570833537,
  24.46378889673346,
  -2.019320562981542,
  -2.3695538957205957,
  42.27540876715398,
  100.74201807780864,
  10.46452643545906,
  -5.25160536474655,
  -42.47460355466634,
  -9.7,
  5.490143428862025,
  -45.28995147453901,
  -21.973342292699872,
  10.0,
  10.043954898797598,
  -5.428323764825051,
  10.789202390216428,
  10.484375953529524,
  30.427118174846623,
  -30.628104972032045,
  -14.471475747404922,
  -11.272564881173947,
  -100.14201807780864,
  100.44201807780864,
  -36.107619837791255,
  7.457900121919715,
  1.0991383066084683,
  5.997521723096483,
  -12.413260542334264,
  -32.32521812411234,
  -9.396994978638643,
  -10.156401661669046,
  38.58809127646683,
  23.242094199758927,
  -9.648743591533103,
  -3.3715417978140163,
  6.211811629909155,
  -9.688161964146754,
  -15.398921708517975,
  -21.973342292699872,
  41.96732508063938,
  10.0,
  -9.393712650298493,
  -9.106040053959063,
  10.235818206800255,
  -11.056630271167126,
  -9.981909849359159,
  -43.62287538564432,
  -8.005386033285221,
  33.61649380741094,
  9.118168266988915,
  22.928506120505325,
  -45.054625312116514,
  9.396994978638643,
  -2.331704213620336,
  -1.1413733412281513,
  -42.8929278053609,
  2.1685670985351773,
  41.474462964175984,
  -9.7,
  -10.47736435436318,
  -1.1651632932533786,
  10.534260177804136,
  -0.2945434774587598,
  -45.36506619962936,
  5.617345186942413,
  1.4992135488417369,
  -31.564548851289086,
  -9.7,
  -0.2945434774587598,
  -30.936864491135502],
 [-1.7905440595984892,
  -7.15969940491414,
  -10.0,
  -9.625502947855846,
  8.983081241568641,
  1.307237985609205,
  -0.3943564210838273,
  -4.691304643592476,
  8.106712518926736,
  -8.671688998252538,
  6.383188673353526,
  -9.731466051161483,
  -4.836026749617967,
  -0.724367603135019,
  7.597006991931538,
  -7.245282737294607,
  8.802487654215819,
  -7.28345189745718,
  11.488470402891492,
  -6.083188673353526,
  -0.5993989964040138,
  2.5322775724387245,
  4.983786510279573,
  1.1761317066138115,
  -6.023451475329632,
  -9.699999999999998,
  -11.585896971582129,
  11.619696601159225,
  10.419515366653874,
  -27.645506170132123,
  -5.312661082627751,
  -0.3093954773978276,
  2.7400571850426934,
  -1.0799054471981255,
  -3.9819274534128177,
  11.807973308327345,
  5.343806362221937,
  -10.0,
  -6.075648799286794,
  -12.501433631176175,
  -9.891495660200606,
  11.489994212471279,
  -1.7834096329765317,
  7.206484181363124,
  1.9623862271267765,
  -5.630571112490415,
  -9.81172329283188,
  -4.371050107935338,
  -0.11760689858605643,
  -10.017129617525816,
  5.189022768830064,
  10.0,
  -9.4,
  -7.541247308772687,
  10.108504339799394,
  -9.823215967086796,
  0.49796079062167825,
  7.717985282327522,
  6.584900233157519,
  -9.734666942207276,
  2.9966757441471925,
  10.168773801732268,
  5.868742882175213,
  -6.047832335480485,
  -3.4752760418121063,
  5.261187427297613,
  -7.541247308772687,
  10.338169160162575,
  6.107114850448277,
  -0.3995384595581817,
  -2.274777165829196,
  -9.544329316935098,
  -0.13248906884623546,
  -9.625502947855846,
  13.491287258279817,
  -7.758457690865015,
  -1.4856021942135718,
  -5.189022768830064,
  -11.585896971582129,
  -7.166750256628536,
  -2.0355489873566652,
  -7.902263255901131,
  -9.534634485952974,
  10.225502947855846,
  10.865204524681756,
  27.680301645450367,
  -9.72781646380631,
  -9.7,
  -6.06560526699657,
  -3.4046068556268607,
  10.245747830100303,
  -9.7,
  -8.408195680569806,
  -7.365195358224097],
 [-2.4575233303030894,
  -4.290694870698149,
  5.106202210181581,
  -0.5492678670754264,
  4.746191665239156,
  -12.122458823092042,
  -10.01476524672842,
  -2.2987391950261404,
  2.995961476274295,
  2.263790703317728,
  5.211951809704691,
  -1.8026083732815665,
  -10.0,
  -0.00590957246359401,
  12.422458823092043,
  5.501353062544319,
  -9.490951452659086,
  -2.8675732300391004,
  0.8907230307434307,
  0.7096740574866708,
  -2.4575233303030894,
  0.6746897158282701,
  11.786633888796729,
  -9.7,
  -0.6631134640626949,
  10.0,
  0.4207770672428569,
  -9.534650384049957,
  10.65993151268972,
  -9.336326235307238,
  4.754936093996466,
  -10.834790660645417,
  10.617281076050437,
  -2.196843771968689,
  3.0575233303030913,
  -2.7575233303030906,
  11.734790660645418,
  0.17122253739549567,
  10.601594646068579,
  -9.317274300090906,
  10.601594646068579,
  -7.021913951461316,
  -10.010617598191596,
  -9.888275960485538,
  3.3076582500072145,
  -6.997422236728095,
  7.410079255725026,
  -0.0018834236445072193,
  10.663673764692762,
  -0.2894409711364713,
  -9.931007716775335,
  -9.369681496880322,
  -10.000000000000002,
  5.106676150710419,
  0.2599104776796301,
  5.41226029457994,
  3.329254140768598,
  4.602600818546152,
  -0.10601182051443508,
  -9.508637150045454,
  2.964108681699506,
  -10.08653530284487,
  -10.000000000000002,
  -4.446191665239154,
  10.360010544942426,
  10.000000000000002,
  -6.588131404085387,
  -0.22786387409219314,
  7.544729639774983,
  5.262097220350064,
  -4.333300050446238,
  -9.365437847899125,
  0.7096740574866708,
  3.6292541407685968,
  5.183424779025042,
  10.65993151268972,
  4.751877200734312,
  5.3506982079854835,
  4.8951706219159465,
  10.984349781894723,
  -2.8675732300391004,
  -9.7,
  10.446679462327662,
  10.426894038959997,
  -3.216706797348128,
  -5.042941862895522,
  -0.22136917815593068,
  -9.539133410436774,
  2.140523634988273,
  10.733181185816505,
  -9.7,
  9.968163117653619,
  7.279082856744474,
  5.569853565440023,
  -0.2025577264797195,
  -9.699999999999998,
  5.102580136479584,
  10.617281076050437,
  2.4752478812073075,
  -10.436245030118535,
  10.95481928843788]]

In [149]:
score_indices = []
for i in score_list:
    order = sorted(range(len(i)), reverse = True, key=lambda k: i[k])
    score_indices.append(order)
    
score_indices

[[83,
  35,
  16,
  86,
  85,
  74,
  53,
  60,
  18,
  10,
  32,
  81,
  33,
  72,
  39,
  31,
  26,
  63,
  1,
  50,
  27,
  71,
  19,
  9,
  12,
  48,
  28,
  84,
  25,
  21,
  37,
  51,
  59,
  78,
  56,
  70,
  79,
  2,
  55,
  20,
  46,
  69,
  62,
  24,
  76,
  42,
  58,
  22,
  45,
  82,
  40,
  34,
  41,
  36,
  0,
  17,
  68,
  77,
  80,
  47,
  44,
  38,
  7,
  23,
  49,
  57,
  65,
  3,
  29,
  8,
  54,
  14,
  15,
  6,
  4,
  43,
  64,
  13,
  75,
  11,
  67,
  5,
  52,
  30,
  61,
  73,
  66],
 [36,
  31,
  95,
  77,
  5,
  25,
  81,
  9,
  78,
  94,
  53,
  3,
  17,
  91,
  4,
  35,
  34,
  66,
  100,
  48,
  59,
  7,
  89,
  103,
  96,
  86,
  97,
  29,
  102,
  21,
  71,
  20,
  41,
  46,
  88,
  38,
  92,
  75,
  60,
  40,
  28,
  93,
  82,
  44,
  63,
  24,
  84,
  49,
  6,
  39,
  42,
  83,
  61,
  33,
  18,
  13,
  85,
  101,
  65,
  79,
  98,
  45,
  2,
  69,
  43,
  68,
  15,
  19,
  87,
  80,
  90,
  12,
  22,
  1,
  58,
  70,
  54,
  52,
  27,
  47,
  64,
  74,
  30,
  23,
  11,
  57,
  55,
  56,
  50,
  76,
  26,
  10,
  73,
  14,
  37,
  67,
  51,
  99,
  72,
  62,
  8,
  0,
  16,
  32],
 [1,
  15,
  33,
  14,
  50,
  68,
  42,
  59,
  28,
  11,
  43,
  61,
  26,
  72,
  27,
  16,
  54,
  24,
  23,
  51,
  2,
  63,
  60,
  35,
  46,
  37,
  75,
  20,
  4,
  67,
  76,
  36,
  73,
  79,
  65,
  71,
  12,
  9,
  64,
  13,
  45,
  17,
  25,
  58,
  53,
  52,
  40,
  8,
  44,
  47,
  19,
  69,
  78,
  56,
  3,
  0,
  41,
  70,
  55,
  31,
  38,
  30,
  48,
  7,
  22,
  49,
  10,
  29,
  80,
  77,
  39,
  6,
  5,
  34,
  18,
  66,
  57,
  62,
  21,
  74,
  32],
 [85,
  74,
  35,
  27,
  41,
  18,
  84,
  28,
  67,
  90,
  83,
  61,
  54,
  51,
  4,
  16,
  8,
  57,
  14,
  43,
  58,
  10,
  68,
  62,
  36,
  65,
  50,
  22,
  60,
  32,
  21,
  44,
  5,
  23,
  56,
  48,
  72,
  31,
  6,
  69,
  20,
  13,
  33,
  76,
  42,
  0,
  80,
  70,
  89,
  64,
  34,
  47,
  7,
  12,
  77,
  30,
  45,
  24,
  63,
  88,
  38,
  19,
  1,
  79,
  15,
  17,
  93,
  53,
  66,
  75,
  81,
  92,
  9,
  52,
  82,
  71,
  3,
  73,
  25,
  87,
  91,
  86,
  11,
  59,
  46,
  55,
  40,
  2,
  37,
  49,
  26,
  78,
  39,
  29],
 [14,
  22,
  36,
  79,
  100,
  89,
  48,
  28,
  75,
  32,
  97,
  38,
  40,
  82,
  83,
  64,
  65,
  25,
  91,
  68,
  46,
  92,
  93,
  15,
  55,
  77,
  69,
  10,
  74,
  53,
  2,
  96,
  78,
  30,
  76,
  4,
  57,
  73,
  56,
  44,
  34,
  8,
  60,
  98,
  9,
  88,
  18,
  19,
  72,
  21,
  26,
  54,
  37,
  47,
  13,
  58,
  94,
  86,
  67,
  49,
  3,
  24,
  11,
  33,
  7,
  0,
  20,
  35,
  17,
  80,
  84,
  1,
  70,
  63,
  85,
  66,
  45,
  41,
  39,
  29,
  71,
  51,
  16,
  59,
  27,
  87,
  95,
  23,
  81,
  90,
  43,
  50,
  12,
  52,
  62,
  42,
  6,
  61,
  99,
  31,
  5]]

In [150]:
rec_list = []
for i in range(len(score_indices)):
    l = unwatched_list[i]
    order = score_indices[i]
    rec_list.append([l[j] for j in order])
    
rec_list

[[344,
  146,
  74,
  351,
  347,
  309,
  223,
  246,
  78,
  48,
  131,
  335,
  133,
  303,
  159,
  127,
  104,
  252,
  15,
  197,
  107,
  302,
  82,
  44,
  61,
  190,
  108,
  345,
  95,
  85,
  157,
  199,
  245,
  322,
  237,
  298,
  329,
  23,
  232,
  84,
  184,
  293,
  248,
  94,
  315,
  172,
  243,
  87,
  183,
  342,
  164,
  141,
  170,
  154,
  0,
  77,
  290,
  319,
  333,
  187,
  181,
  158,
  38,
  89,
  196,
  239,
  264,
  24,
  114,
  43,
  226,
  70,
  73,
  31,
  26,
  175,
  260,
  67,
  312,
  59,
  267,
  30,
  213,
  124,
  247,
  308,
  266],
 [131,
  110,
  309,
  255,
  15,
  103,
  268,
  40,
  260,
  307,
  180,
  10,
  71,
  295,
  13,
  121,
  120,
  225,
  336,
  171,
  206,
  21,
  293,
  348,
  320,
  289,
  323,
  108,
  345,
  88,
  245,
  85,
  157,
  169,
  292,
  138,
  299,
  251,
  209,
  152,
  107,
  300,
  269,
  165,
  214,
  98,
  273,
  173,
  18,
  148,
  161,
  270,
  212,
  114,
  73,
  51,
  285,
  339,
  224,
  261,
  325,
  168,
  5,
  236,
  164,
  230,
  58,
  77,
  290,
  264,
  294,
  50,
  89,
  4,
  196,
  239,
  181,
  178,
  105,
  170,
  222,
  250,
  109,
  94,
  45,
  189,
  186,
  188,
  176,
  252,
  104,
  41,
  249,
  56,
  133,
  229,
  177,
  330,
  248,
  213,
  30,
  1,
  62,
  113],
 [1,
  62,
  113,
  54,
  194,
  289,
  168,
  240,
  97,
  36,
  172,
  243,
  94,
  296,
  95,
  63,
  217,
  88,
  85,
  199,
  3,
  261,
  242,
  134,
  178,
  143,
  304,
  80,
  6,
  276,
  306,
  142,
  298,
  329,
  274,
  294,
  37,
  29,
  263,
  39,
  174,
  68,
  92,
  237,
  209,
  200,
  152,
  28,
  173,
  181,
  77,
  290,
  319,
  230,
  4,
  0,
  158,
  293,
  224,
  102,
  148,
  101,
  183,
  27,
  84,
  184,
  33,
  100,
  341,
  318,
  151,
  19,
  11,
  122,
  75,
  275,
  231,
  256,
  81,
  299,
  110],
 [304,
  237,
  82,
  61,
  116,
  44,
  296,
  63,
  217,
  323,
  292,
  190,
  169,
  157,
  9,
  35,
  18,
  179,
  28,
  127,
  182,
  21,
  219,
  197,
  87,
  209,
  152,
  49,
  189,
  78,
  48,
  133,
  12,
  53,
  176,
  145,
  234,
  76,
  13,
  220,
  46,
  25,
  79,
  260,
  126,
  2,
  277,
  225,
  322,
  205,
  80,
  143,
  17,
  23,
  261,
  69,
  134,
  57,
  204,
  320,
  91,
  45,
  3,
  269,
  29,
  37,
  350,
  165,
  214,
  238,
  284,
  346,
  20,
  164,
  287,
  230,
  5,
  236,
  58,
  319,
  333,
  305,
  22,
  187,
  141,
  170,
  105,
  4,
  89,
  147,
  60,
  265,
  92,
  68],
 [45,
  73,
  114,
  284,
  350,
  315,
  169,
  98,
  273,
  108,
  345,
  136,
  150,
  296,
  297,
  242,
  245,
  85,
  323,
  258,
  166,
  325,
  328,
  46,
  207,
  282,
  259,
  34,
  271,
  201,
  11,
  343,
  283,
  106,
  274,
  19,
  218,
  270,
  212,
  161,
  110,
  31,
  226,
  348,
  33,
  310,
  55,
  60,
  265,
  68,
  91,
  204,
  129,
  167,
  42,
  219,
  332,
  304,
  256,
  182,
  16,
  81,
  36,
  109,
  24,
  1,
  62,
  113,
  51,
  285,
  300,
  6,
  262,
  240,
  301,
  251,
  163,
  153,
  148,
  105,
  264,
  187,
  50,
  224,
  93,
  305,
  333,
  77,
  290,
  319,
  158,
  185,
  38,
  196,
  239,
  154,
  22,
  235,
  349,
  107,
  21]]

In [151]:
# output dataframe with user ids a

recommendations_movies = pd.DataFrame(rec_list)

recommendations_movies.to_csv(directory_path + 'movie_recommendations.csv', index = False)
recommendations_movies

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,344,146,74,351,347,309,223,246,78,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,131,110,309,255,15,103,268,40,260,307,...,133.0,229.0,177.0,330.0,248.0,213.0,30.0,1.0,62.0,113.0
2,1,62,113,54,194,289,168,240,97,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,304,237,82,61,116,44,296,63,217,323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45,73,114,284,350,315,169,98,273,108,...,239.0,154.0,22.0,235.0,349.0,107.0,21.0,NaN,NaN,NaN

In [57]:
pd.read_csv(directory_path + 'movie_recommendations.csv')

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,182,1,203,16,136,216,183,315,253,104,...,228.0,6.0,206.0,272.0,129.0,24.0,119.0,61.0,NaN,NaN
1,87,116,243,106,208,261,258,37,314,257,...,142.0,32.0,286.0,25.0,121.0,NaN,NaN,NaN,NaN,NaN
2,182,283,9,218,176,205,1,267,255,282,...,168.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,275,61,76,75,179,168,123,299,210,153,...,65.0,226.0,145.0,283.0,9.0,205.0,176.0,218.0,182.0,112.0
4,15,230,85,106,313,91,288,95,66,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN