## Simulate user activity based on personas:

In [13]:
import pandas as pd
import random
from datetime import datetime
import json
import itertools
import numpy as np

In [35]:
df = pd.read_pickle('./data/full_movies.pkl')
df2 = pd.read_pickle('./data/full_shows.pkl')

activities = {"Like": 0.4, "Dislike": 0.2, "Play": 0.4}
df2.groupby('category').count() #we don't have comedies in dataset?

,id,title,description,description2,directors_actors,publication_date,rating,duration_sec,tags,tags2,image
category,,,,,,,,,,,
Comedy,21,21,21,21,21,21,20,21,21,21,21
Documentary,73,73,73,73,73,73,73,73,73,73,73
Drama,92,92,92,92,92,92,92,92,92,92,92
Education,101,101,101,101,101,101,101,101,101,101,101
Family,113,113,113,113,113,113,109,113,113,113,113
Kids,137,137,137,137,137,137,137,137,137,137,137
News,56,56,56,56,56,56,5,56,56,56,56
Panel Discussion,30,30,30,30,30,30,14,30,30,30,30

In [31]:
m_id = list(df2['id'])
s_id = list(df['id'])

content_ids = m_id + s_id

In [45]:
# create simulated activity for every persona 
# the amount of simulated activities is currently 1000
# input is an array of user ids and a list of content categories for the corresponding persona
# the output is a list of activities for the users in this persona

def persona_activities(user_ids, persona_categories):
  categories = list(persona_categories)
  df_persona = df[df['category'].isin(categories)]
  my_list = []
  for i in range(600):
    # Assign random values for user_id and activity
    user_id = random.choices(list(user_ids))
    #activity = random.choice(activities)
    user_id = str(user_id[0])
    activity = random.choices(list(activities.keys()), list(activities.values()))[0]
    content_id = random.choices(content_ids)
    
    content_id = str(content_id[0])

    # Create a dictionary with fixed values for content_id and datetime
    my_dict = {
        "content_id": content_id,
        "activity": activity,
        "user_id": user_id,
        "datetime": datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
    }
    # Add the dictionary to the list
    my_list.append(my_dict)   
  return my_list

In [46]:
test_3040 = np.arange(0, 10)
category = ['Arts','Documentary','News']
isa_activity = persona_activities(test_3040, category)

In [47]:
test_4151 = np.arange(10, 21)
category = ['Documentary','Drama','Comedy']
jack_activity = persona_activities(test_4151, category)

In [48]:
test_5263 = np.arange(20, 31)
category = ['Family','Panel Discussion', 'Kids', 'Comedy']
kristina_activity = persona_activities(test_5263, category)

In [49]:
#add news_persona_act and family_news_persona to persona_activity
persona_activity = []
persona_activity.extend(jack_activity)
persona_activity.extend(kristina_activity)
persona_activity.extend(isa_activity)

In [41]:
len(persona_activity)

1800

In [51]:
#add persona_activity to the file movie_activity.json ?
# 1 file with all activities ???
#with open('./data/activities.json', 'r') as f:
#  data = json.load(f)
#  data.extend(persona_activity)
    
with open('./data/activities.json', 'a') as f:
  json.dump(persona_activity, f, indent=4)

In [50]:
persona_activity[0]

{'content_id': '112',
 'activity': 'Dislike',
 'user_id': '19',
 'datetime': '2023-04-02 16:26:56.856617'}