In [31]:
import random
from datetime import datetime
import pandas as pd
import json
import os

current_dir = os.getcwd()  # gets current working directory
project_dir = os.path.dirname(current_dir)  
directory_path = os.path.dirname(current_dir) + os.sep + 'data' + os.sep
full_movies = pd.read_pickle(directory_path + 'full_movies.pkl')
full_shows = pd.read_pickle(directory_path + 'full_shows.pkl')


# Define the list of possible activities
activities = {"Like": 0.4, "Dislike": 0.2, "Play": 0.4}

# movies

# Create a list of dictionaries
my_list = []
for i in range(3000):
    # Assign random values for user_id and activity
    user_id = random.randint(0, 4)
    activity = random.choices(list(activities.keys()), list(activities.values()))[0]
    content_id = random.randint(0, len(full_movies))

    # Create a dictionary with fixed values for content_id and datetime
    my_dict = {
        "content_id": content_id,
        "activity": activity,
        "user_id": user_id,
        "datetime": datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
    }

    # Add the dictionary to the list
    my_list.append(my_dict)

# Save the list to a JSON file
with open(directory_path + "movie_activities.json", "w") as f:
    json.dump(my_list, f, indent=4)

In [28]:
#shows

new = []

for i in range(5000):
    # Assign random values for user_id and activity
    user_id = random.randint(0, 4)
    activity = random.choices(list(activities.keys()), list(activities.values()))[0]
    content_id = random.randint(full_shows.id.iloc[0], full_shows.id.iloc[-1]+1)

    # Create a dictionary with fixed values for content_id and datetime
    my_dict = {
        "content_id": content_id,
        "activity": activity,
        "user_id": user_id,
        "datetime": datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
    }

    # Add the dictionary to the list
    new.append(my_dict)

# Save the list to a JSON file   
with open(directory_path + "show_activities.json", "w+") as f:
    json.dump(new, f, indent=4)

In [32]:
pd.read_csv(directory_path + 'movie_recommendations.csv').head()

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,344,146,74,351,347,309,223,246,78,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,131,110,309,255,15,103,268,40,260,307,...,133.0,229.0,177.0,330.0,248.0,213.0,30.0,1.0,62.0,113.0
2,1,62,113,54,194,289,168,240,97,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,304,237,82,61,116,44,296,63,217,323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45,73,114,284,350,315,169,98,273,108,...,239.0,154.0,22.0,235.0,349.0,107.0,21.0,NaN,NaN,NaN